<div class="input-group date" id="date-time-picker-1" data-target-input="nearest">
    <input type="text" class="form-control datetimepicker-input" data-target="#date-time-picker-1">
    <div class="input-group-append" data-target="#date-time-picker-1" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="icon icon-calendar"></i></div>
    </div>
</div>
