{% extends 'default/base.html.twig' %}

{% block body %}
    <div class="dt-card ">
        <div class="dt-page__header text-center pt-4 mb-0">
            <h1 class="dt-page__title "> ❤️ Bienvenue <strong  class=" font-bold">{{ app.getUser.getFirstname }} {{ app.getUser.getLastname }}</strong> chez KidsZen ❤️</h1>
        </div>
        <!-- Card Header -->
        <div class="dt-card__header">

            <!-- Card Heading -->
            <div class="dt-card__heading text-center pt-0">
                <h4 class=" text-danger ">Une dernière étape consiste à compléter vos informations afin que vous puissez inscrire votre premier enfant. <strong>Let's go</strong> 👌 </h4>
            </div>
            <!-- /card heading -->

        </div>
        <!-- /card header -->

        <!-- Card Body -->
        <div class="dt-card__body">

            <!-- Form -->
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary mr-2 mb-2 ">Enregister</button>
            {{ form_end(form) }}
            <!-- /form -->

        </div>
        <!-- /card body -->

    </div>
{% endblock %}
