<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Drift - A fully responsive, HTML5 based admin template">
    <meta
            name="keywords" content="Responsive, HTML5, admin theme, business, professional, jQuery, web design, CSS3, sass">
    <!-- /meta tags -->
    <title>Kidszen</title>

    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- /import google icon font -->

    <!-- Site favicon -->
    <link rel="shortcut icon" href="{{asset('build/static/template/assets/images/favicon.ico')}}" type="image/x-icon"> <!-- /site favicon -->

    <!-- Font Icon Styles -->
    <link rel="stylesheet" href="{{asset('build/static/template/node_modules/flag-icon-css/css/flag-icon.min.css')}}"> <link rel="stylesheet" href="{{ asset('build/static/template/vendors/gaxon-icon/styles.css')}}">
    <!-- /font icon Styles -->

    <!-- Perfect Scrollbar stylesheet -->
    <link
            rel="stylesheet" href="{{asset('build/static/template/node_modules/perfect-scrollbar/css/perfect-scrollbar.css')}}"> <!-- /perfect scrollbar stylesheet -->

    <link rel="stylesheet" href="{{ asset('build/vendors~front.css') }}">

    <link rel="stylesheet" href="{{ asset('build/front.css') }}">

    <link rel="stylesheet" href="{{ asset('build/static/template/assets/css/animate.css') }}">
    <link
            rel="stylesheet" href="{{ asset('build/static/template/assets/css/hover.css') }}">

    <!-- Load Styles -->
    <link
            rel="stylesheet" href="{{asset('build/static/template/assets/css/semidark-style-1.min.css')}}">

    <!-- /load styles -->

</head>
<body
        class="dt-sidebar--fixed dt-header--fixed dt-layout--full-width" cz-shortcut-listen="true">

<!-- Root -->
<div class="dt-root">
    <div class="dt-root__inner">
        {% if login is not defined %}
            {#					{{ include('default/_navbar.html.twig')}}#}
        {%endif%}
        <!-- Site Main -->
        <main
                class="dt-main">
            <!-- Sidebar -->
            {% if login is not defined %}

                {#							{{ include('default/_sidebar.html.twig')}}#}
            {%endif%}
            <!-- /sidebar -->

            <!-- Site Content Wrapper -->
            <div
                    class="dt-content-wrapper"> <!-- Site Content -->
                <div class="dt-content" style="height: 100vh; overflow: auto;">
                    {% block body %}
                        <div class="dt-page__header">
                            <h1 class="dt-page__title">Basic Form</h1>
                        </div>
                    {% endblock %}
                </div>
                <!-- /site content -->

                <!-- Footer -->
                {% if login is not defined %}

                    {% block footer %}
                        <footer class="dt-footer">
                            Copyright Company Kidszen © 2019
                        </footer>
                    {%endblock%}
                {%endif%}

                <!-- /footer -->
            </div>
            <!-- /site content wrapper -->
        </main>
    </div>
</div>
<!-- /root -->

{% block javascripts %}
    <!-- Optional JavaScript -->
    <script src="{{asset('build/static/template/assets/js/custom/datetime-pickers.js')}}"></script>

    <script src="{{asset('build/static/template/node_modules/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{asset('build/static/template/node_modules/moment/moment.js')}}"></script>
    <script src="{{asset('build/static/template/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <!-- Perfect Sc	lbar jQuery -->
    <script src="{{asset('build/static/template/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js')}}"></script>
    <!-- /perfect scrollbar jQuery -->

    <script src="{{ asset('build/static/js/front.js') }}"></script>

    <!-- masonry script -->
    <script src="{{asset('build/static/template/node_modules/masonry-layout/dist/masonry.pkgd.min.js')}}"></script>
    <script src="{{asset('build/static/template/node_modules/sweetalert2/dist/sweetalert2.js')}}"></script>
    <script src="{{asset('build/static/template/assets/js/functions.js')}}"></script>
    <script src="{{asset('build/static/template/assets/js/customizer.js')}}"></script>
    <!-- Custom JavaScript -->
    <script src="{{asset('build/static/template/assets/js/script.js')}}"></script>
    <!-- Date-time Pickers -->

{% endblock %}
</body>
</html>
