{% extends "security/index.html.twig" %}

{% block title %}
	{% trans %}
	Sign in
	{% endtrans %}
{% endblock %}

{% block body %}
	<div id="particles-js"/>
	<div class="login">
		<div class="row test animated {{ error is null ? 'fadeInDown delay-1s'}}">
			<div class="col">
				<form id="testform" method="post">
					<img src="{{ asset('./build/static/images/logo.png')}}" width="100"/>
					<h6 style="color: var(--kz-shakespeare); font-weight: bold">Identifiez-vous</h6>
{#					{% for label, messages in app.flashes(['success', 'warning']) %}#}
{#						{% for message in messages %}#}
{#								<div class="alert alert-{{ label }}" role="alert">#}
{#									{{ message }}#}
{#								</div>#}
{#						{% endfor %}#}
{#					{% endfor %}#}
					{% if error %}
						{% if error.messageKey|trans(error.messageData, 'security') == 'Identifiants invalides.' %}
							<div class="alert alert-dismissible alert-light">
								<span class="badge badge-danger">Erreur ! </span>
								Email ou mot de passe incorrecte.
							</div>
							<div class="alert alert-dismissible alert-warning">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<p class="mb-0">{{ error.messageKey|trans(error.messageData, 'security') }} <a
											href="{{ path('resend_confirmation_token') }}" class="alert-link"> renvoyer
										un mail de confirmation</a>.</p>
							</div>
						{% elseif error.messageKey|trans(error.messageData, 'security') != 'Invalid credentials.' %}
							<div class="alert alert-dismissible alert-warning">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<p class="mb-0">{{ error.messageKey|trans(error.messageData, 'security') }} <a
											href="{{ path('resend_confirmation_token') }}" class="alert-link"> renvoyer
										un mail de confirmation</a>.</p>
							</div>
						{% endif %}
					{% endif %}
					<div class="row">
						<div class="input-field">
							<i class="material-icons prefix">email
							</i>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
							<label for="inputEmail">
								{% trans %}
								Email
								{% endtrans %}
							</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field">
							<i class="material-icons prefix" id="iconPassword" onclick="showPassword()">lock</i>
							<input type="password" name="password" id="inputPassword" class="form-control" required>
							<label for="inputPassword">
								{% trans %}
								Password
								{% endtrans %}
							</label>
						</div>
					</div>
					<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


					{# 
						Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
						See https://symfony.com/doc/current/security/remember_me.html
						<div class="checkbox mb-3">
							<label>
								<input type="checkbox" name="_remember_me">
								Remember me
							</label>
						</div> 
					#}

					<div class="row">
						<button class="btn btn-lg kz-bg-shakespeare" style="width: 100%" type="submit">
							{% trans %}
							Sign in
							{% endtrans %}
						</button>
					</div>
				</form>
			</div>
		</div>
	{% endblock %}
