{% extends "security/index.html.twig" %}

{% block body %}

  <!-- Root -->
  <div class="dt-root ">
    <div class="dt-root__inner">


      <!-- Login Container -->
      <div class="dt-login--container">

        <!-- Login Content -->
        <div class="dt-login__content-wrapper">


          <!-- Login Background Section -->
          <div class="dt-login__bg-section" style="background-image: url({{asset('./build/static/images/logo.png')}}); background-size: contain">

            <div class="dt-login__bg-content">
              <!-- Login Title -->
              <h1 class="dt-login__title">S'inscrire</h1>
              <!-- /login title -->

              <p class="f-16">S'inscrire et explorer l'univers Kidszen.</p>
            </div>


            <!-- Brand logo -->
            <div class="dt-login__logo">
              <a class="dt-brand__logo-link" href="index.html">
                <img class="dt-brand__logo-img" src="{{ asset('./build/static/images/logo.png')}}" alt="Kidszen">
              </a>
            </div>
            <!-- /brand logo -->

          </div>
          <!-- /login background section -->

          <!-- Login Content Section -->
          <div class="dt-login__content">

            <!-- Login Content Inner -->
            <div class="dt-login__content-inner scrollspy-vertical">

              {% for label, messages in app.flashes %}
                {% for message in messages %}
                  <div class="alert alert-success" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endfor %}


              <!-- Form -->
                {{ form_start(form) }}
                {{ form_widget(form) }}
{#                <button class="btn">{{ 'form.create'|trans }}</button>#}
              <!-- Form Group -->
{#              <div class="dt-checkbox d-block mb-6">#}
{#                <input type="checkbox" id="checkbox-1">#}
{#                <label class="dt-checkbox-content" for="checkbox-1"> En vous inscrivant,j'accepte#}
{#                  <a href="javascript:void(0)">Term &amp; Condition</a>#}
{#                </label>#}
{#              </div>#}
              <!-- /form group -->
              <!-- Form Group -->
              <div class="form-group">
                <button type="submit" class="btn btn-primary text-uppercase">S'inscrire</button>
                <span class="d-inline-block ml-4">Ou
              <a class="d-inline-block font-weight-500 ml-3" href="{{ path('front_login') }}">Se connecter</a>
            </span>
              </div>
              <!-- /form group -->
                {{ form_end(form) }}



              <!-- /form -->

            </div>
            <!-- /login content inner -->

            <!-- Login Content Footer -->
            <div class="dt-login__content-footer">
              <a href="{{ path('front_forget_password') }}"  id="team_kidszen"> Vous ne pouvez pas accéder à votre compte?</a>
            </div>
            <!-- /login content footer -->

          </div>
          <!-- /login content section -->

        </div>
        <!-- /login content -->

      </div>
      <!-- /login container -->

    </div>
  </div>
  <!-- /root -->
{% endblock %}




















{#{% extends 'front.html.twig' %}#}

{#{% block title %}Inscription{% endblock %}#}

{#{% block body %}#}
{#  <h1> Inscription </h1>#}
{#  {% for label, messages in app.flashes(['success', 'warning']) %}#}
{#    {% for message in messages %}#}
{#<div class="flash-{{ label }}">#}
{#  {{ message }}#}
{#</div>#}
{#{% endfor %}#}
{#{% endfor %}#}

{#  {{ form_start(form) }}#}
{#  {{ form_widget(form) }}#}
{#  <button class="btn">{{ 'form.create'|trans }}</button>#}
{#  {{ form_end(form) }}#}
{#{% endblock %}#}

{#{% block javascripts %}#}
{#  <script>#}
{#    $(document).ready(function(){#}
{#      $('select').formSelect();#}
{#    });#}
{#  </script>#}
{#{% endblock %}#}
