{% extends "security/index.html.twig" %}

{% block body %}
{#    <h1>Renvoyer le mail de confirmation</h1>#}
{#    <form action="{{ path('front_resend_confirmation_token') }}" method="post">#}
{#        <fieldset>#}
{#            <div class="form-group">#}
{#                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"#}
{#                       placeholder="Entrer votre adresse mail" name="email">#}
{#                <small id="emailHelp" class="form-text text-muted">vous aller recevoir un email de confirmation pour#}
{#                    activer votre compte et pouvoir vous connecté.</small>#}
{#            </div>#}
{#            <button type="submit" class="btn btn-primary">Renvoyer</button>#}

{#        </fieldset>#}
{#    </form>#}

    <!-- Loader -->
    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    <!-- /loader -->

    <!-- Root -->
    <div class="dt-root">
        <div class="dt-root__inner">

            <!-- Login Container -->
            <div class="dt-login--container dt-forgot-password">

                <!-- Login Content -->
                <div class="dt-login__content-wrapper">

                    <!-- Login Content Section -->
                    <div class="dt-login__content">
                        <!-- Brand logo -->
                        <div class="dt-login__logo">
                            <a class="dt-brand__logo-link" href="index.html">
                                <img class="dt-brand__logo-img" src="{{ asset('./build/static/images/logo.png')}}" alt="Kidszen">
                            </a>
                        </div>
                        <!-- /brand logo -->
                        <!-- Login Content Inner -->
                        <div class="dt-login__content-inner">


                            <!-- /brand logo -->

                            <!-- /brand logo -->

                            <!-- Form -->
                            <form action="{{ path('front_resend_confirmation_token') }}" method="post">


                                <!-- Form Group -->
                                <div class="form-group search-box right-side-icon mw-100">
                                    <label class="sr-only" for="email-1">Adresse mail</label>

                                    <input type="search" class="form-control" id="email" aria-describedby="email-1"
                                           placeholder="Entrer votre adresse mail" name="email">
                                    <span class="search-icon"><i class="icon icon-mail icon-lg"></i></span>
                                </div>
                                <!-- /form group -->

                                <p class="mb-8">Vous vous ne souvenez pas de votre email? &nbsp;
                                    <a class="small" href="javascript:void(0)">Contactez nous.</a>
                                </p>

                                <!-- Form Group -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary text-uppercase">Renvoyer</button>
                                </div>
                                <!-- /form group -->

                            </form>
                            <!-- /form -->

                        </div>
                        <!-- /login content inner -->

                    </div>
                    <!-- /login content section -->

                </div>
                <!-- /login content -->

            </div>
            <!-- /login container -->

        </div>
    </div>
    <!-- /root -->
{% endblock %}

