{% extends "security/index.html.twig" %}

{% block body %}

    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    <!-- /loader -->

    <!-- Root -->
    <div class="dt-root">
        <div class="dt-root__inner">

            <!-- Login Container -->
            <div class="dt-login--container dt-forgot-password">

                <!-- Login Content -->
                <div class="dt-login__content-wrapper">

                    <!-- Login Content Section -->
                    <div class="dt-login__content">
                        <!-- Brand logo -->
                        <div class="dt-login__logo">
                            <a class="dt-brand__logo-link" href="index.html">
                                <img class="dt-brand__logo-img" src="{{ asset('./build/static/images/logo.png')}}" alt="Kidszen">
                            </a>
                        </div>
                        <!-- /brand logo -->
                        <!-- Login Content Inner -->
                        <div class="dt-login__content-inner">
                            <div class="dt-login__bg-content">
                                <p class="f-16">Réinitialiser mot de passe</p>
                            </div>
                            <!-- /brand logo -->

                            <!-- /brand logo -->

                            <!-- Form -->

                                <!-- Form Group -->
                                <div class="form-group search-box right-side-icon mw-100">
                                    <!-- Form -->
                                    {{ form_start(form) }}
                                    {{ form_widget(form) }}
                                    <!-- Form Group -->
                                    <div class="form-group mt-3">
                                        <button type="submit" class="btn btn-primary text-uppercase">Réinitialiser</button>
                                    </div>
                                    <!-- /form group -->
                                    {{ form_end(form) }}



                            </form>
                            <!-- /form -->

                        </div>
                        <!-- /login content inner -->

                    </div>
                    <!-- /login content section -->

                </div>
                <!-- /login content -->

            </div>
            <!-- /login container -->
            </div>
        </div>
    </div>
    <!-- /root -->
{% endblock %}

