<form method="post" action="{{ path('front_actualite_delete', {'id': actualite.id}) }}" style="width: 100%" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<div class="dropdown-item" style="display: flex; align-items: center; justify-content: space-between; width: 100%; cursor: pointer">
		<input type="hidden" name="_method" value="DELETE">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actualite.id) }}">
		<div>
			<button style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;" type="submit">Delete
			</div>
			<i class="material-icons">delete</i>
		</button>
	</div>
</form>
