{% extends "default/base.html.twig" %}

{% block body %}

	<!-- Page Header -->
	<div class="dt-page__header">
		<h1 class="dt-page__title">
			{% trans %}
			news feed
			{% endtrans %}
		</h1>
	</div>
	<!-- /page header -->

	<!-- Grid -->
	<div
		class="row">

		<!-- Grid Item -->
		<div class="col-xl-3 col-md-4 col-sm-5"></div>
		<!-- /grid item -->

		<!-- Grid Item -->
		<div
			class="col-xl-5 col-md-8 col-sm-7">

			<!-- Card -->
			{% if app.user.isAuthor(app.user.roles) %}
				<div
					class="dt-card bg-primary text-white">
					<!-- Card Header -->
					<div
						class="dt-card__header">

						<!-- Card Heading -->
						<div class="dt-card__heading">
							<h3 class="dt-card__title text-white">Publiez un post</h3>
						</div>
						<!-- /card heading -->

					</div>
					<!-- /card header -->

					<!-- Card Body -->
					<div
						class="dt-card__body">
						{# if ($this->getUser()->isAuthor($this->getUser()->getRoles())) #}

						{{ form_start(form) }}
						{{ form_widget(form) }}
						<button type="submit" class="btn btn-secondary text-uppercase mt-5">{{ 'form.create'|trans }}</button>
						{{ form_end(form) }}
					</div>
					<!-- /card body -->

				</div>
				<!-- /card -->
				<!-- Card -->
			{% endif %}
			{% for actualite in actualites %}
				<div class="dt-card" id="{{ actualite.id }}" style=" position: relative">
					{% if actualite.author.id == app.user.id %}
						<div style="position: absolute; right: 0; top: 3.2rem; cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="material-icons">more_vert</i>
						</div>

						<!-- Dropdown Menu -->
						<div class="dropdown-menu">
							<div>
								<a class="dropdown-item" style="display: flex; align-items: center; justify-content: space-between" href="{{ path('front_actualite_edit', {'id': actualite.id}) }}">Edit
									<i class="material-icons">edit</i>
								</a>
							</div>
							{{ include('default/actualite/_delete_form.html.twig') }}
						</div>
						<!-- /dropdown menu -->
					{% endif %}
					<!-- Card Body -->
					<div
						class="dt-card__body">

						<!-- Avatar Wrapper -->
						<div
							class="dt-avatar-wrapper mb-3">
							<!-- Avatar -->
							<img class="dt-avatar dt-avatar__shadow size-50" src="https://eu.ui-avatars.com/api/?size=128&name={{actualite.author.firstname}}+{{actualite.author.lastname}}" alt="Kayli Brown">
							<!-- /avatar -->

							<!-- Info -->
								<div class="dt-avatar-info"> <span class="h5 dt-avatar-name mb-1">
									{{actualite.author.firstname}}
									{{actualite.author.lastname}}
								</span>
								{# <span class="meta-date">15 mins ago</span> #}
							</div>
							<!-- /info -->
						</div>
						<!-- /avatar wrapper -->

						<!-- Wall Post Content -->
						<div class="wall-post">
							<h2>
								{{actualite.label}}
							</h2>
							<p class="text-dark">
								{{actualite.description}}
							</p>
						</div>
						<!-- /wall post content -->

					</div>
					<!-- /card body -->
				</div>
				<!-- /card -->
			{% endfor %}

		</div>
		<!-- /grid item -->

		<!-- Grid Item -->
		<div class="col-xl-4 d-none d-xl-block">
			{% if app.user.roles[0] == "ROLE_FAMILLE" %}
				<div
					class="d-none d-sm-block">
					<!-- Entry Header -->
					<div
						class="dt-entry__header mb-5">

						<!-- Entry Heading -->
						<div class="dt-entry__heading">
							<h3 class="dt-entry__title">Enfants -
								{{ app.user.kids.count }}
							</h3>
						</div>
						<!-- /entry heading -->

					</div>
					<!-- /entry header -->

					<!-- List -->
					<ul
						class="dt-list dt-list-sm dt-friend-list">
						<!-- List Item -->
						{% for kid in app.user.kids %}
							<!-- List Item -->
							<li
								class="dt-list__item">
								<!-- User Information -->
								<a
									href="{{ path('front_profil_enfant', {'slug': kid.slug}) }}" class="card user-bg-card" style="background-image: url('{{ kid.gender == 'male' ? 'https://icons-for-free.com/iconfiles/png/512/boy+character+man+school+boy+user+icon-1320085976501561317.png' : 'http://getdrawings.com/free-icon/facebook-female-profile-icon-65.png' }}');">
									<!-- Dot Shape -->
									<span class="dot-shape dot-shape-lg bg-success pulse-success dt-status"></span>
									<!-- /dot Shape -->
									<span class="user-bg-card__info">
										<span class="dt-avatar-name f-10 mb-0">{{ kid.firstname }}
											{{ kid.lastname|upper }}</span>
									</span>
								</a>
								<!-- /user information -->
							</li>
							<!-- /list item -->
						{% endfor %}
						<!-- /list item -->
					</ul>
					<!-- /list -->
				</div>
			{% endif %}
		</div>
		<!-- /grid item -->

	</div>
	<!-- /grid -->

	{% block javascript %}
		<script>
			var id = {{ post }}
			var element = document.getElementById(JSON.stringify(id));
			setTimeout(() => {
				element.scrollIntoView({behavior: "instant", block: "center"});
			}, 500);
		</script>
	{% endblock %}

{% endblock %}
