{% extends 'default/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="dt-page__header">
                <h1 class="dt-page__title">💒 Liste des structures</h1>
            </div>
{#            <a href="{{ path('front_structure_show', {'slug_structure': structures[0].getSlugStructure()}) }}" class="card-link">Select structure</a>#}

            {% for structure in structures %}
                <div class="col-xl-4 col-md-6 order-xl-1" style="display: inline-block">

                    <!-- Card -->
                    <div class="dt-card">

                        <!-- Card Body -->
                        <div class="dt-card__body p-6">
                            <!-- Media -->
                            <div class="media mb-3">

                                <!-- Avatar -->
                                <img class="img-fluid mr-6" src="https://source.unsplash.com/50x50/?town" alt="project">
                                <!-- /avatar -->

                                <!-- Media Body -->
                                <div class="media-body align-self-center">
                                    <div class="h2 mb-1">{{structure.label}}</div>
                                    <span class="d-block text-light-gray">{{ structure.address|upper }}</span>
                                </div>
                                <!-- /media body -->

                            </div>
                            <!-- /media -->


                            <!-- Button -->
                            <a href="{{ path('front_structure_show', {'slug_structure': structure.getSlugStructure()}) }}" class="card-link">En savoir plus / Inscrire un enfant</a>
                            <!-- /button -->

                        </div>
                        <!-- /card body -->

                    </div>
                    <!-- /card -->

                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
