{% extends 'default/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4" style="display: inline-block">
                <div class="dt-card dt-card__full-height">
                    <div class="dt-card__header pt-6">
                        <div class="dt-card__heading">
                                <h3 class="dt-card__title">{{ 'structureShowPage.director'|trans }}</h3>
                        </div>
                    </div>

                    <div class="dt-card__body">
                        <div class="media mb-5">
                            <i class="icon icon-mail icon-xl mr-5"></i>
                            <div class="media-body">
                                <span class="d-block text-light-gray f-12 mb-1">{{ 'structureShowPage.mail'|trans }}</span>
                                <a href="javascript:void(0)">{{ structure.director.getEmail() }}</a>
                            </div>
                        </div>

                        <div class="media mb-5">
                            <i class="icon icon-link icon-xl mr-5"></i>
                            <div class="media-body">
                                <span class="d-block text-light-gray f-12 mb-1">{{ 'structureShowPage.lastfirst'|trans }}</span>
                                <a href="javascript:void(0)">{% if(structure.director.getGender() == 'm') %}M. {% else %}Mme.{% endif %} {{ structure.director.getLastname()|upper }} {{ structure.director.getFirstname() }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 float-right" style="display: inline-block">
                <div class="dt-card">
                    <div class="dt-card__header">
                        <div class="dt-card__heading">
                            <h3 class="dt-card__title">{{ 'structureShowPage.registerChild'|trans }}</h3>
                        </div>
                    </div>

                    <div class="dt-card__body">
                        <form method="post" action="{{ path('front_structure_show', {'slug_structure': structure.getSlugStructure()}) }}">
                            <div class="form-group">
                                <label for="email-1">{{ 'structureShowPage.chooseKid'|trans }}</label>
                                <select name="enfant" class="form-control" id="simple-select">
                                    <option>Choisissez</option>
                                    {% for kid in app.getUser().getKids %}
                                        <option value="{{ kid.id }}">{{ kid.lastname|upper }} {{ kid.firstname }}</option>
                                    {% endfor %}
                                </select>
                                <small id="emailHelp1" class="form-text">{{ 'structureShowPage.noteKid'|trans }}
                                </small>
                            </div>

                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-primary text-uppercase">{{ 'structureShowPage.registerChild'|trans }}</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="dt-page__header">
                <h1 class="dt-page__title">🎪 {{ 'structureShowPage.justKid'|trans }}</h1>
            </div>

            {% for kid in structure.getEnfantStructures() %}
                {% if(kid.kid in app.getUser().getKids()) %}

                    <div style="cursor:pointer" onclick="window.location.href='{{ path('front_profil_enfant', {'slug': kid.kid.slug}) }}'" class="col-xl-3 hvr-grow">

                        <!-- Card -->
                        <div class="dt-card dt-card-performance">

                            <!-- Card Header -->
                            <div class="dt-card__header bg-primary text-white">

                                <!-- Card Heading -->
                                <div class="dt-card__heading">
                                    <!-- Icon -->
                                    <a href="javascript:void(0)" class="d-inline-block text-white mr-2">
                                        <i class="icon icon-user icon-lg icon-fw"></i>
                                    </a>

                                </div>
                                <!-- /card heading -->

                            </div>
                            <!-- /card header -->

                            <!-- Card Body -->
                            <div class="dt-card__body text-center">

                                <!-- Avatar -->
                                <img class="dt-avatar user-avatar size-70" src="{{ kid.kid.gender == 'male' ? 'https://icons-for-free.com/iconfiles/png/512/boy+character+man+school+boy+user+icon-1320085976501561317.png' : 'http://getdrawings.com/free-icon/facebook-female-profile-icon-65.png' }}" alt="User">
                                <!-- /avatar -->

                                <div class="dt-avatar-info mb-4">
                                    <h4 class="h2 dt-avatar-name mb-1">{{ kid.kid.lastname|upper }} {{ kid.kid.firstname }}</h4>
                                </div>
                                <div class="trending-section justify-content-center text-primary">
                                    <span class="value h2">{{ kid.kid.getAge }}</span>
                                </div>
                                <p class="mb-0 f-12 mt-5">{% if(kid.validation == 'candidature') %}
                                        <span class="badge badge-danger p-1">{{ 'structureShowPage.awaitingValidation'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-success p-1">{{ 'structureShowPage.validated'|trans }}</span>
                                    {% endif %}</p>
                            </div>
                            <!-- /card body -->

                        </div>
                        <!-- /card -->
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
{% endblock %}