<!-- Header -->
<header
	class="dt-header">

	<!-- Header container -->
	<div
		class="dt-header__container">

		<!-- Brand -->
		<div
			class="dt-brand">

			<!-- Brand tool -->
			<div class="dt-brand__tool" data-toggle="main-sidebar">
				<div class="hamburger-inner"></div>
			</div>
			<!-- /brand tool -->

			<!-- Brand logo -->
			<span class="dt-brand__logo">
				<a class="dt-brand__logo-link">
					<img class="dt-brand__logo-symbol d-sm-none" src="{{ asset('./build/static/images/logo.png')}}" alt="Drift">
				</a>
			</span>
			<!-- /brand logo -->

		</div>
		<!-- /brand -->

		<!-- Header toolbar-->
		<div
			class="dt-header__toolbar">

			<!-- Search box -->
{#			<form class="search-box d-none d-lg-block">#}
{#				<div class="input-group">#}
{#					<input class="form-control" placeholder="Search in app..." value="" type="search">#}
{#					<span class="search-icon">#}
{#						<i class="icon icon-search icon-lg"></i>#}
{#					</span>#}
{#					<div class="input-group-append">#}
{#						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category#}
{#						</button>#}

{#						<div class="dropdown-menu">#}
{#							<a class="dropdown-item" href="javascript:void(0)">Action</a>#}
{#							<a class="dropdown-item" href="javascript:void(0)">Another action</a>#}
{#							<a class="dropdown-item" href="javascript:void(0)">Something else here</a>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</form>#}
			<!-- /search box -->

			<!-- Header Menu Wrapper -->
			<div
				class="dt-nav-wrapper">
				<!-- Header Menu -->
				<ul class="dt-nav d-lg-none">
					<li
						class="dt-nav__item dt-notification-search dropdown">

						<!-- Dropdown Link -->
						<a href="#" class="dt-nav__link dropdown-toggle no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="icon icon-search icon-fw icon-lg"></i>
						</a>
						<!-- /dropdown link -->

						<!-- Dropdown Option -->
						<div
							class="dropdown-menu">

							<!-- Search Box -->
							<form class="search-box right-side-icon">
								<input class="form-control form-control-lg" type="search" placeholder="Search in app...">
								<button type="submit" class="search-icon">
									<i class="icon icon-search icon-lg"></i>
								</button>
							</form>
							<!-- /search box -->

						</div>
						<!-- /dropdown option -->

					</li>
				</ul>
				<!-- /header menu -->

				<!-- Header Menu -->
				<ul class="dt-nav">
					<li
						class="dt-nav__item dt-notification-app dropdown">

						<!-- Dropdown Link -->
{#						<a href="#" class="dt-nav__link dropdown-toggle no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#							<i class="icon icon-apps icon-sm icon-fw"></i>#}
{#							<span>Apps</span>#}
{#						</a>#}
						<!-- /dropdown link -->

						<!-- Dropdown Option -->
{#						<div#}
{#							class="dropdown-menu ps-custom-scrollbar">#}

{#							<!-- Apps -->#}
{#							<ul class="dt-app-list">#}
{#								<li class="dt-app-list__item">#}
{#									<a href="javascript:void(0)" class="dt-app-list__link">#}
{#										<img src="{{ asset('build/static/template/assets/images/icon/icon-account.png')}}" alt=" google account">#}
{#										<span class="dt-app-list__text">Account</span>#}
{#									</a>#}
{#								</li>#}
{#								<li class="dt-app-list__item">#}
{#									<a href="javascript:void(0)" class="dt-app-list__link">#}
{#										<img src="{{ asset('build/static/template/assets/images/icon/icon-google.png')}}" alt=" google search">#}
{#										<span class="dt-app-list__text">Search</span>#}
{#									</a>#}
{#								</li>#}
{#								<li class="dt-app-list__item">#}
{#									<a href="javascript:void(0)" class="dt-app-list__link">#}
{#										<img src="{{ asset('build/static/template/assets/images/icon/icon-map.png')}}" alt=" google map">#}
{#										<span class="dt-app-list__text">Maps</span>#}
{#									</a>#}
{#								</li>#}
{#								<li class="dt-app-list__item">#}
{#									<a href="javascript:void(0)" class="dt-app-list__link">#}
{#										<img src="{{ asset('build/static/template/assets/images/icon/icon-youtube.png')}}" alt="Youtube">#}
{#										<span class="dt-app-list__text">YouTube</span>#}
{#									</a>#}
{#								</li>#}
{#								<li class="dt-app-list__item">#}
{#									<a href="javascript:void(0)" class="dt-app-list__link">#}
{#										<img src="{{ asset('build/static/template/assets/images/icon/icon-playstore.png')}}" alt=" play store">#}
{#										<span class="dt-app-list__text">Play</span>#}
{#									</a>#}
{#								</li>#}
{#								<li class="dt-app-list__item">#}
{#									<a href="javascript:void(0)" class="dt-app-list__link">#}
{#										<img src="{{ asset('build/static/template/assets/images/icon/icon-news.png')}}" alt=" google news">#}
{#										<span class="dt-app-list__text">News</span>#}
{#									</a>#}
{#								</li>#}
{#								<li class="dt-app-list__item">#}
{#									<a href="javascript:void(0)" class="dt-app-list__link">#}
{#										<img src="{{ asset('build/static/template/assets/images/icon/icon-gmail.png')}}" alt=" google drive">#}
{#										<span class="dt-app-list__text">Gmail</span>#}
{#									</a>#}
{#								</li>#}
{#								<li class="dt-app-list__item">#}
{#									<a href="javascript:void(0)" class="dt-app-list__link">#}
{#										<img src="{{ asset('build/static/template/assets/images/icon/icon-drive.png')}}" alt=" google drive">#}
{#										<span class="dt-app-list__text">Drive</span>#}
{#									</a>#}
{#								</li>#}
{#								<li class="dt-app-list__item">#}
{#									<a href="javascript:void(0)" class="dt-app-list__link">#}
{#										<img src="{{ asset('build/static/template/assets/images/icon/icon-calendar.png')}}" alt="Calendar">#}
{#										<span class="dt-app-list__text">Calendar</span>#}
{#									</a>#}
{#								</li>#}
{#								<li class="dt-app-list__item">#}
{#									<a href="javascript:void(0)" class="dt-app-list__link">#}
{#										<img src="{{ asset('build/static/template/assets/images/icon/icon-google-plus.png')}}" alt=" google plus">#}
{#										<span class="dt-app-list__text">Google+</span>#}
{#									</a>#}
{#								</li>#}
{#								<li class="dt-app-list__item">#}
{#									<a href="javascript:void(0)" class="dt-app-list__link">#}
{#										<img src="{{ asset('build/static/template/assets/images/icon/icon-translate.png')}}" alt="Translate">#}
{#										<span class="dt-app-list__text">Translate</span>#}
{#									</a>#}
{#								</li>#}
{#								<li class="dt-app-list__item">#}
{#									<a href="javascript:void(0)" class="dt-app-list__link">#}
{#										<img src="{{ asset('build/static/template/assets/images/icon/icon-photos.png')}}" alt="Photos">#}
{#										<span class="dt-app-list__text">Photos</span>#}
{#									</a>#}
{#								</li>#}
{#							</ul>#}
{#							<!-- /apps -->#}

{#						</div>#}
						<!-- /dropdown option -->

					</li>
				</ul>
				<!-- /header menu -->

				<!-- Header Menu -->
				<ul class="dt-nav">
					<li
						class="dt-nav__item dropdown">

						{% set locale = app.request.getLocale() %}

						<!-- Dropdown Link -->
						<a href="" class="dt-nav__link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="flag-icon flag-icon-{{ locale == 'fr' ? 'fr' : 'gb' }} flag-icon-rounded flag-icon-lg"></i>
							<span>{{ locale == 'fr' ? 'FR' : 'EN' }}</span>
						</a>
						<!-- /dropdown link -->


						<!-- Dropdown Option -->
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale == 'fr' ? 'en' : 'fr' })) }}">
								<i class="flag-icon flag-icon-{{ locale == 'fr' ? 'gb' : 'fr' }} mr-2"></i>
								<span>{{ locale == 'fr' ? 'EN' : 'FR' }} </span>
							</a>
						</div>
						<!-- /dropdown option -->

					</li>
				</ul>
				<!-- /header menu -->

				<!-- Header Menu -->
				<ul class="dt-nav">
					<li
						class="dt-nav__item dropdown">

						<!-- Dropdown Link -->
						<a href="#" class="dt-nav__link dropdown-toggle no-arrow dt-avatar-wrapper" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="material-icons left">account_circle</i>
							<span class="dt-avatar-info d-none d-sm-block">
								<span class="dt-avatar-name">
									{{app.user.firstName}}
									{{app.user.lastName}}
								</span>
							</span>
						</a>
						<!-- /dropdown link -->

						<!-- Dropdown Option -->
						<div class="dropdown-menu dropdown-menu-right">
							<div class="dt-avatar-wrapper flex-nowrap p-6 mt-n2 bg-gradient-purple text-white rounded-top">
								<i class="material-icons left">account_circle</i>
								<span class="dt-avatar-info">
									<span class="dt-avatar-name">
										{{app.user.firstName}}
										{{app.user.lastName}}
									</span>
									<span class="f-12" id="role">
										{{ app.user.roles[0]|split('_')[1] }}
									</span>
								</span>
							</div>
							<a class="dropdown-item" href="{{ path('front_user_profil_personne') }}">
								<i class="icon icon-user icon-fw mr-2 mr-sm-1"></i>{{ 'Profil'|trans }}
							</a>
							<a class="dropdown-item" href="{{ path('front_user_parameters_personne') }}">
								<i class="icon icon-settings icon-fw mr-2 mr-sm-1"></i>{{ 'parameters'|trans }}
							</a>
							<a class="dropdown-item" href="{{ path('front_logout')}}">
								<i class="icon icon-editors icon-fw mr-2 mr-sm-1"></i>
								{% trans %}
								Log out
								{% endtrans %}
							</a>
						</div>
						<!-- /dropdown option -->

					</li>
				</ul>
				<!-- /header menu -->
			</div>
			<!-- Header Menu Wrapper -->

		</div>
		<!-- /header toolbar -->

	</div>
	<!-- /header container -->

</header>
<!-- /header -->
