<!-- Sidebar -->
<aside id="main-sidebar" class="dt-sidebar">
    <div
        class="dt-sidebar__container">

        <!-- Sidebar Navigation -->
        <ul
            class="dt-side-nav">

            <!-- Menu Header -->
            <li class="dt-side-nav__item dt-side-nav__header">
                <span class="dt-side-nav__text">KidsZen</span>
            </li>
            <!-- /menu header -->

            {% if(app.user.roles[0] == 'ROLE_ANIMATEUR') %}
                <li class="dt-side-nav__item {% if app.request.attributes.get('_route') == 'front_animateur_show_listing' %}open selected{% endif %}">
                    <a href="{{ path('front_animateur_show_listing') }}" class="dt-side-nav__link" title="Layouts">
                        <i class="icon icon-dashboard icon-fw icon-lg"></i>
                        <span class="dt-side-nav__text">Tableau de bord</span>
                    </a>
                </li>

                <li class="dt-side-nav__item {% if app.request.attributes.get('_route') == 'front_events_calendar' %}open selected{% endif %}">
                    <a href="{{ path('front_events_calendar') }}" class="dt-side-nav__link" title="Metrics">
                        <i class="icon icon-orders icon-fw icon-lg"></i>
                        <span class="dt-side-nav__text">Evénements</span>
                    </a>
                </li>
            {% endif %}

            {% if(app.user.roles[0] == 'ROLE_COORDINATEUR') %}
                <li class="dt-side-nav__item {% if app.request.attributes.get('_route') == 'front_coordinator_show_listing' %}open selected{% endif %}">
                    <a href="{{ path('front_coordinator_show_listing') }}" class="dt-side-nav__link" title="Layouts">
                        <i class="icon icon-dashboard icon-fw icon-lg"></i>
                        <span class="dt-side-nav__text">Tableau de bord</span>
                    </a>
                </li>
                <li class="dt-side-nav__item {% if app.request.attributes.get('_route') == 'front_events_calendar' %}open selected{% endif %}">
                    <a href="{{ path('front_events_calendar') }}" class="dt-side-nav__link" title="Metrics">
                        <i class="icon icon-orders icon-fw icon-lg"></i>
                        <span class="dt-side-nav__text">Evénements</span>
                    </a>
                </li>
            {% endif %}

            {% if(app.user.roles[0] == 'ROLE_DIRECTEUR') %}

                <li class="dt-side-nav__item {% if app.request.attributes.get('_route') == 'front_director_panel' %}open selected{% endif %}">
                    <a id="dashboraed" href="{{ path('front_director_panel') }}" class="dt-side-nav__link" title="Layouts">
                        <i class="icon icon-dashboard icon-fw icon-lg"></i>
                        <span class="dt-side-nav__text">Tableau de bord</span>
                    </a>
                </li>

                <li class="dt-side-nav__item {% if app.request.attributes.get('_route') == 'front_director_candidature' %}open selected{% endif %}">
                    <a href="{{ path('front_director_candidature') }}" class="dt-side-nav__link" title="Layouts">
                        <i class="icon icon-widgets icon-fw icon-lg"></i>
                        <span class="dt-side-nav__text">Candidature</span>
                    </a>
                </li>


                <li class="dt-side-nav__item {% if app.request.attributes.get('_route') == 'front_director_list_enfants' %}open selected{% endif %}">
                    <a href="{{ path('front_director_list_enfants') }}" class="dt-side-nav__link" title="Layouts">
                        <i class="icon icon-blankpage icon-fw icon-lg"></i>
                        <span class="dt-side-nav__text">Les enfants</span>
                    </a>
                </li>

                <li class="dt-side-nav__item {% if app.request.attributes.get('_route') == 'front_director_candidature_history' %}open selected{% endif %}">
                    <a href="{{ path('front_director_candidature_history') }}" class="dt-side-nav__link" title="Layouts">
                        <i class="icon icon-forms-basic icon-fw icon-lg"></i>
                        <span class="dt-side-nav__text">Historique candidature</span>
                    </a>
                </li>


            {% endif %}
            {% if app.user.roles[0] != 'ROLE_NEW_FAMILLE' %}
            <li class="dt-side-nav__item  {% if app.request.attributes.get('_route') == 'front_actualite_index' %}open selected{% endif %}">
                <a href="{{ path('front_actualite_index') }}" class="dt-side-nav__link" title="Layouts">
                    <i class="icon icon-layout icon-fw icon-lg"></i>
                    <span class="dt-side-nav__text">Fil d'actualités</span>
                </a>
            </li>
            {% endif %}

            <!-- Menu Item -->
            {% if app.user.roles[0] == 'ROLE_FAMILLE' %}
                <li class="dt-side-nav__item {% if app.request.attributes.get('_route') == 'front_list_structure' %}open selected{% endif %}">
                    <a href="{{ path('front_list_structure') }}" class="dt-side-nav__link" title="Metrics">
                        <i class="icon icon-widgets icon-fw icon-lg"></i>
                        <span class="dt-side-nav__text">Structures</span>
                    </a>
                </li>

                <li class="dt-side-nav__item {% if 'enfant' in app.request.attributes.get('_route') %} open selected{% endif %}">
                    <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Dashboard">
                        <i class="icon icon-user icon-fw icon-lg"></i>
                        <span class="dt-side-nav__text">Enfants</span>
                    </a>

                    <!-- Sub-menu -->
                    <ul class="dt-side-nav__sub-menu">
                        <li class="dt-side-nav__item">
                            <a href="{{ path('front_enfant_add') }}" class="dt-side-nav__link {% if app.request.attributes.get('_route') == 'front_enfant_add' %}active{% endif %}" title="Listing">
                                <i class="icon icon-circle-add-o icon-fw icon-lg"></i>
                                <span class="dt-side-nav__text">Ajouter un enfant</span>
                            </a>
                        </li>

                        <li class="dt-side-nav__item">
                            <a href="{{ path('front_index_enfant') }}" class="dt-side-nav__link {% if app.request.attributes.get('_route') == 'front_index_enfant' %}active{% endif %}" title="Real Estate">
                                <i class="icon icon-contacts icon-fw icon-lg"></i>
                                <span class="dt-side-nav__text">Mes enfants</span>
                            </a>
                        </li>
                    </ul>
                    <li class="dt-side-nav__item {% if app.request.attributes.get('_route') == 'front_events_calendar' %}open selected{% endif %}">
                        <a href="{{ path('front_events_calendar') }}" class="dt-side-nav__link" title="Metrics">
                            <i class="icon icon-orders icon-fw icon-lg"></i>
                            <span class="dt-side-nav__text">Evénements</span>
                        </a>
                    </li>
                    <!-- /sub-menu -->

                </li>
            {% endif %}

            {% if app.user.roles[0] == 'ROLE_DIRECTEUR' %}
                <li class="dt-side-nav__item {% if app.request.attributes.get('_route') == 'front_events_calendar' %}open selected{% endif %}">
                    <a href="{{ path('front_events_calendar') }}" class="dt-side-nav__link" title="Metrics">
                        <i class="icon icon-orders icon-fw icon-lg"></i>
                        <span class="dt-side-nav__text">Evénements</span>
                    </a>
                </li>

            {% endif %}

        </ul>
        <!-- /sidebar navigation -->

    </div>
</aside>
<!-- /sidebar -->
