<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Drift - A fully responsive, HTML5 based admin template">
		<meta
		name="keywords" content="Responsive, HTML5, admin theme, business, professional, jQuery, web design, CSS3, sass">
		<!-- /meta tags -->
		<title>Kidszen</title>

		<!-- Import Google Icon Font -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- /import google icon font -->

		<!-- Site favicon -->
		<link rel="shortcut icon" href="{{asset('build/static/template/assets/images/favicon.ico')}}" type="image/x-icon"> <!-- /site favicon -->

		<!-- Font Icon Styles -->
		<link rel="stylesheet" href="{{asset('build/static/template/node_modules/flag-icon-css/css/flag-icon.min.css')}}"> <link rel="stylesheet" href="{{ asset('build/static/template/vendors/gaxon-icon/styles.css')}}">
		<!-- /font icon Styles -->

		<!-- Perfect Scrollbar stylesheet -->
		<link
		rel="stylesheet" href="{{asset('build/static/template/node_modules/perfect-scrollbar/css/perfect-scrollbar.css')}}"> <!-- /perfect scrollbar stylesheet -->

		<link rel="stylesheet" href="{{ asset('build/vendors~front.css') }}">

		<link rel="stylesheet" href="{{ asset('build/front.css') }}">

		<link rel="stylesheet" href="{{ asset('build/static/template/assets/css/animate.css') }}">
		<link
		rel="stylesheet" href="{{ asset('build/static/template/assets/css/hover.css') }}">

		<!-- Load Styles -->
		<link
		rel="stylesheet" href="{{asset('build/static/template/assets/css/semidark-style-1.min.css')}}">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.css" />
		{% block extracss %}{% endblock extracss %}

	<!-- /load styles -->

	</head>
	<body
		class="dt-sidebar--fixed dt-header--fixed dt-layout--full-width" cz-shortcut-listen="true">

		<!-- Root -->
		<div class="dt-root">
			<div class="dt-root__inner">
				{% if login is not defined %}
					{{ include('default/_navbar.html.twig') }}
					{%endif%}
					<!-- Site Main -->
					<main
						class="dt-main">
						<!-- Sidebar -->
						{% if login is not defined %}
							{{ include('default/_sidebar.html.twig') }}
							{%endif%}
							<!-- /sidebar -->

							<!-- Site Content Wrapper -->
								<div
								class="dt-content-wrapper"> <!-- Site Content -->
								<div class="dt-content" style="height: 100vh; overflow: auto;">
									{% block body %}
										<div class="dt-page__header">
											<h1 class="dt-page__title">Basic Form</h1>
										</div>
									{% endblock %}
								</div>
								<!-- /site content -->

								<!-- Footer -->
								{% if login is not defined %}

									{% block footer %}
									<footer class="dt-footer">
										Copyright Company Kidszen © 2019
									</footer>
									{%endblock%}
									{%endif%}

									<!-- /footer -->
								</div>
								<!-- /site content wrapper -->
							</main>
						</div>
					</div>
					<!-- /root -->

					{% block javascripts %}
						<!-- Optional JavaScript -->
						<script src="{{asset('build/static/template/assets/js/custom/datetime-pickers.js')}}"></script>

						<script src="{{asset('build/static/template/node_modules/jquery/dist/jquery.min.js')}}"></script>
						<script src="{{asset('build/static/template/node_modules/moment/moment.js')}}"></script>
						<script src="{{asset('build/static/template/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
						<!-- Perfect Sc	lbar jQuery -->
						<script src="{{asset('build/static/template/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js')}}"></script>
						<!-- /perfect scrollbar jQuery -->

						<script src="{{ asset('build/static/js/front.js') }}"></script>

						<!-- masonry script -->
						<script src="{{asset('build/static/template/node_modules/masonry-layout/dist/masonry.pkgd.min.js')}}"></script>
						<script src="{{asset('build/static/template/node_modules/sweetalert2/dist/sweetalert2.js')}}"></script>
						<script src="{{ asset('build/static/template/node_modules/chart.js/dist/Chart.js') }}"></script>
						<script src="{{asset('build/static/template/assets/js/functions.js')}}"></script>
						<script src="{{asset('build/static/template/assets/js/customizer.js')}}"></script>

						<script src="{{asset('build/static/template/node_modules/moment/min/moment.min.js')}}"></script>
						<script src="{{asset('build/static/template/node_modules/moment/min/locales.min.js')}}"></script>
						<script src="{{asset('build/static/template/node_modules/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js')}}"></script>
				{#		<!-- /date-time pickers -->#}

				{#		<!-- Custom JavaScript -->#}
						<script src="{{asset('build/static/template/assets/js/custom/datetime-pickers.js')}}"></script>
						<script src="{{asset('build/static/template/assets/js/script.js')}}"></script>

						<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
						<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
						<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
						<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.js"></script>
						{% block extrajs %}{% endblock extrajs %}
					{% endblock %}


						{% if app.request.attributes.get('_route') == 'front_coordinator_show_information' or app.request.attributes.get('_route') == 'front_animator_panel' or app.request.attributes.get('_route') == 'front_director_panel'%}
						<script>
							(function ($) {
								"use strict";

								var color = Chart.helpers.color;

								// creating chart shadow
								var draw = Chart.controllers.line.prototype.draw;
								Chart.controllers.line = Chart.controllers.line.extend({
									draw: function () {
										draw.apply(this, arguments);
										var ctx = this.chart.chart.ctx;

										var showShadow = ($(ctx.canvas).data('shadow')) ? $(ctx.canvas).data('shadow') : 'no';
										var chartType = ($(ctx.canvas).data('type')) ? $(ctx.canvas).data('type') : 'area';

										if (showShadow == 'yes' && chartType == 'area') {
											var _fill = ctx.fill;
											ctx.fill = function () {
												ctx.save();
												ctx.shadowColor = color('#5c5c5c').alpha(0.5).rgbString();
												ctx.shadowBlur = 16;
												ctx.shadowOffsetX = 0;
												ctx.shadowOffsetY = 0;
												_fill.apply(this, arguments);
												ctx.restore();
											}
										} else if (showShadow == 'yes' && chartType == 'line') {
											var _stroke = ctx.stroke;
											ctx.stroke = function () {
												ctx.save();
												ctx.shadowColor = '#07C';
												ctx.shadowBlur = 10;
												ctx.shadowOffsetX = 0;
												ctx.shadowOffsetY = 4;
												_stroke.apply(this, arguments);
												ctx.restore();
											}
										}
									}
								});

								var defaultOptions = {
									responsive: true,
									legend: {
										{% if app.request.attributes.get('_route') == 'front_director_panel'%}
										display: false,
										{% else %}
										display: true,
										{% endif %}
										position: 'bottom',
										labels: {
											padding: 20
										}
									},
									onResize: function (chart, size) {
										if (chart.config.type == 'pie' || chart.config.type == 'doughnut' || chart.config.type == 'radar' || chart.config.type == 'polarArea') {

											if (size.height < 190) {
												chart.config.options.legend.display = false;
											} else {
												chart.config.options.legend.display = true;
											}

											chart.update();
										}
									},
									layout: {
										padding: 0
									}
								};

								{% if app.request.attributes.get('_route') == 'front_coordinator_show_information' or app.request.attributes.get('_route') == 'front_director_panel'%}

								// Pie Chart
								var ctxPieChart = document.getElementById('chart-all-member-structure').getContext('2d');
								var optsPieChart = $.extend({}, defaultOptions);

								var pieChart = new Chart(ctxPieChart, {
									type: 'pie',
									data: {
										labels: ['{{ "director"|trans }}', '{{ "animator"|trans }}', '{{ "kid"|trans }}'],
										datasets: [
											{
												data: [1, {{ getStructureCountAnimator }}, {{ getStructureCountKids }}],
												backgroundColor: [
													'rgba(135,206,250, .5)',
													'rgba(220,20,60, .5)',
													'rgba(255, 215, 0, .5)'
												]
											}
										]
									},
									options: optsPieChart
								});
								{% endif %}

								{% if app.request.attributes.get('_route') == 'front_director_panel' or app.request.attributes.get('_route') == 'front_animator_panel'%}
								// Pie Chart2
								var txPieChart = document.getElementById('chart-all-kids-structure').getContext('2d');
								var optsPieChart = $.extend({}, defaultOptions);

								var pieChart = new Chart(txPieChart, {
									type: 'pie',
									data: {
										labels: ['{{ "kid"|trans }} present', '{{ "kid"|trans }} absent'],
										datasets: [
											{
												data: [{{ presenceTrue }}, {{ presenceFalse }}],
												backgroundColor: [
													'rgba(135,206,250, .5)',
													'rgba(220,20,60, .5)',
												]
											}
										]
									},
									options: optsPieChart
								});
								{% endif %}

							})(jQuery);
						</script>
						{% endif %}

				</body>
			</html>
