{% extends 'default/base.html.twig' %}

{% block body %}
    <div class="dt-page__header">
        <h1 class="dt-page__title">🔧 {{ 'kidSection.add.titleFormAdd'|trans }}</h1>
    </div>
    <div class="row">
        <div class="col-xl-6">

            <!-- Card -->
            <div class="dt-card">

                <!-- Card Body -->
                <div class="dt-card__body">
                    {{ form_start(form) }}
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-primary mt-5">{{ 'parametersPage.form.titleInfo'|trans }}</button>
                    {{ form_end(form) }}
                </div>
                <!-- /card body -->

            </div>
            <!-- /card -->

        </div>
    </div>
{% endblock %}