{% extends 'default/base.html.twig' %}

{% block body %}
    <div class="dt-page__header">
        <h1 class="dt-page__title">👨‍👧 {{ 'kidPage.yourKids'|trans }}</h1>
    </div>
    <div class="row">
        {% for kid in app.user.kids %}
            <div style="cursor:pointer" onclick="window.location.href='{{ path('front_profil_enfant', {'slug': kid.slug}) }}'" class="col-xl-3 hvr-grow" >

                <!-- Card -->
                <div class="dt-card dt-card-performance">

                    <!-- Card Header -->
                    <div class="dt-card__header bg-primary text-white">

                        <!-- Card Heading -->
                        <div class="dt-card__heading">
                            <!-- Icon -->
                            <a href="javascript:void(0)" class="d-inline-block text-white mr-2">
                                <i class="icon icon-user icon-lg icon-fw"></i>
                            </a>

                        </div>
                        <!-- /card heading -->

                    </div>
                    <!-- /card header -->

                    <!-- Card Body -->
                    <div class="dt-card__body text-center">

                        <!-- Avatar -->
                        <img class="dt-avatar user-avatar size-70" src="{{ kid.gender == 'male' ? 'https://icons-for-free.com/iconfiles/png/512/boy+character+man+school+boy+user+icon-1320085976501561317.png' : 'http://getdrawings.com/free-icon/facebook-female-profile-icon-65.png' }}" alt="User">
                        <!-- /avatar -->

                        <div class="dt-avatar-info mb-4">
                            <h4 class="h2 dt-avatar-name mb-1">{{ kid.firstname }} {{ kid.lastname|upper }}</h4>
                        </div>
                        <div class="trending-section justify-content-center text-primary">
                            <span class="value h2">{{ kid.getAge }}</span>
                        </div>
                        <p class="mb-0 f-12">{{ kid.birthday|date('Y-m-d') }}</p>
                    </div>
                    <!-- /card body -->

                </div>
                <!-- /card -->
            </div>
        {% endfor %}
    </div>
{% endblock %}