@import "./variables.css";

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

.kz-bg-shakespeare {
  background-color: var(--kz-shakespeare);
  color: white;
}

.login {
  background-color: #eaece9;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow-x: auto;

  & .test {
    display: flex;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 595px;
    max-width: 595px;
    min-height: fit-content;
    z-index: 3;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    @media only screen and (max-width: #{$screen-sm-min}) {
      padding: 10px;
    }

    & > .col {
      align-self: center;
      width: 100%;
    }
  }

  @media only screen and (max-width: #{$screen-md-min}) {
    & .test {
      min-width: 550px;
      width: calc(100vw - 50px);
    }
  }

  @media only screen and (max-width: #{$screen-sm-min}) {
    & .test {
      min-width: 300px;
      width: calc(100vw - 50px);
    }
  }
}
#particles-js {
  position: absolute;
  width: 100%;

  & > canvas {
    position: absolute;
    top: 0%;
    z-index: 2;
  }
}

/* label focus color */
.input-field input:focus + label {
  color: var(--kz-shakespeare) !important;
}

.input-field .prefix.active {
  color: var(--kz-shakespeare) !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid var(--kz-shakespeare) !important;
  box-shadow: 0 1px 0 0 var(--kz-shakespeare) !important;
}

#toast-container .error {
  background-color: var(--kz-thunderbird) !important;
}
