:root {
  --kz-shakespeare: #40bad2;
  --kz-sun: #f8ac1b;
  --kz-key-lime-pie: #bed830;
  --kz-bondy-blue: #00adb4;
  --kz-christine: #ee7009;
  --kz-wild-watermelon: #ff5270;
  --kz-thunderbird: #bf111b;
  --kz-razzmatazz: #d00063;
  --kz-purple-heart: #3a2bd6;
  --height-with-menu: calc(100vh - 64px);
}
