// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

//Class Prefix variable
$class-prefix: 'dt' !default;

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

//$white:    #fff !default;
$gray-100: #f4f4f4;
//$gray-200: #e9ecef !default;
//$gray-300: #dee2e6 !default;
//$gray-400: #ced4da !default;
//$gray-500: #adb5bd !default;
//$gray-600: #6c757d !default;
//$gray-700: #495057 !default;
//$gray-800: #343a40 !default;
//$gray-900: #212529 !default;
//$black:    #000 !default;

//$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
//$grays: map-merge((
//    "100": $gray-100,
//    "200": $gray-200,
//    "300": $gray-300,
//    "400": $gray-400,
//    "500": $gray-500,
//    "600": $gray-600,
//    "700": $gray-700,
//    "800": $gray-800,
//    "900": $gray-900
//  ), $grays);

//$blue:    #007bff !default;
$indigo: #3742b2;
//$purple:  #6f42c1 !default;
//$pink:    #e83e8c !default;
//$red:     #dc3545 !default;
$orange: #ff9800;
$yellow: #ffc107;
//$green:   #28a745 !default;
//$teal:    #20c997 !default;
//$cyan:    #17a2b8 !default;

//$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
//$colors: map-merge((
//    "blue":       $blue,
//    "indigo":     $indigo,
//    "purple":     $purple,
//    "pink":       $pink,
//    "red":        $red,
//    "orange":     $orange,
//    "yellow":     $yellow,
//    "green":      $green,
//    "teal":       $teal,
//    "cyan":       $cyan,
//    "white":      $white,
//    "gray":       $gray-600,
//    "gray-dark":  $gray-800
//  ), $colors);

$primary: #de6f1e;
$secondary: #FF4081;
$success: #52c41a;
$info: #1890ff;
$warning: #fa8c16;
$danger: #f44336;
$light: #e5e5e5;
$dark: #b5b5b5;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge((
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
), $theme-colors);

//Custom Color system
$text-color: #757575 !default;
$text-color-dark: #212121 !default;
$primary-light: lighten($primary, 40%) !default;
$light-green: #1dce8e !default;
$dark-green: #3d6003 !default;
$light-blue: #5797fc !default;
$light-cyan: #00bcd4 !default;
$dark-blue: #0060ca !default;
$sky-blue: #00aeef !default;
$light-pink: #ff415a !default;
$brown: #5e1e21 !default;
$light-brown: #b23737 !default;
$light-teal: #1b8abe !default;

$dt-colors: ();
$dt-colors: map-merge((
    "light-gray": #9f9f9f,
    "light-primary": $primary-light,
    "light-green": $light-green,
    "dark-green": $dark-green,
    "light-blue": $light-blue,
    "light-pink": $light-pink,
    "light-brown": $light-brown,
    "light-teal": $light-teal,
    "indigo": $indigo,
    "dark-blue": $dark-blue,
    "orange": $orange,
    "sky-blue": $sky-blue,
    "yellow": $yellow,
    "brown": $brown,
    "light-cyan": $light-cyan
), $dt-colors);

// Set a specific jump point for requesting color jumps
//$theme-color-interval:      8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
//$yiq-contrasted-threshold:  150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
//$yiq-text-dark:             $gray-900 !default;
//$yiq-text-light:            $white !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

//$enable-caret:                                true !default;
//$enable-rounded:                              true !default;
$enable-shadows: true;
//$enable-gradients:                            false !default;
//$enable-transitions:                          true !default;
//$enable-prefers-reduced-motion-media-query:   true !default;
//$enable-hover-media-query:                    false !default; // Deprecated, no longer affects any compiled CSS
//$enable-grid-classes:                         true !default;
//$enable-pointer-cursor-for-buttons:           true !default;
//$enable-print-styles:                         true !default;
//$enable-responsive-font-sizes:                false !default;
//$enable-validation-icons:                     true !default;
//$enable-deprecation-messages:                 true !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1.6rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge((
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: ($spacer * .75),
    4: $spacer,
    5: ($spacer * 1.25),
    6: ($spacer * 1.5),
    7: ($spacer * 1.75),
    8: ($spacer * 2),
    9: ($spacer * 2.25),
    10: ($spacer * 2.5)
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
//$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
//$sizes: map-merge((
//    25: 25%,
//    50: 50%,
//    75: 75%,
//    100: 100%,
//    auto: auto
//), $sizes);

// Body
//
// Settings for the `<body>` element.

$body-bg: #131728;
$body-color: $white;

// Links
//
// Style anchor elements.

$link-color: theme-color("primary");
//$link-decoration: none !default;
$link-hover-color: darken($link-color, 10%);
$link-hover-decoration: none;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
//$emphasized-link-hover-darken-percentage: 15% !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1.4rem;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

//$grid-breakpoints: (
//  xs: 0,
//  sm: 576px,
//  md: 768px,
//  lg: 992px,
//  xl: 1200px
//) !default;

//@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
//@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

//$container-max-widths: (
//  sm: 540px,
//  md: 720px,
//  lg: 960px,
//  xl: 1140px
//) !default;

//@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

//$grid-columns: 12 !default;
$grid-gutter-width: 3.2rem;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg: 1.4;
$line-height-sm: 1.4;

//$border-width:                1px !default;
$border-color: #3e4664;

$border-radius: 0.4rem;
$border-radius-lg: 0.6rem;
$border-radius-sm: 0.2rem;
$border-radius-xl: 0.8rem !default;
$border-radius-circle: 50% !default;

//$rounded-pill:                50rem !default;

$box-shadow-sm: 0 0 3px 0 rgba($black, 0.15);
$box-shadow: 0 0 4px 0 rgba($black, 0.20);
$box-shadow-lg: 0 1px 8px -1px rgba($black, 0.20);
$box-shadow-xl: 0 0 15px 0 rgba($black, 0.20) !default;
$box-shadow-avatar: 0 0 16px 0 rgba(#5c5c5c, 0.12) !default;

//$component-active-color:      $white !default;
$component-active-bg: theme-color("primary");

//$caret-width:                 .3em !default;
//$caret-vertical-align:        $caret-width * .85 !default;
//$caret-spacing:               $caret-width * .85 !default;

//$transition-base:             all .2s ease-in-out !default;
//$transition-fade:             opacity .15s linear !default;
//$transition-collapse:         height .35s ease !default;

//$embed-responsive-aspect-ratios: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
//$embed-responsive-aspect-ratios: join((
//    (21 9),
//    (16 9),
//    (4 3),
//    (1 1),
//  ), $embed-responsive-aspect-ratios);

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: 'NoirPro', sans-serif;
//$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif;
// stylelint-enable value-keyword-case

$font-size-base: 1.4rem; // Assumes the browser default, typically `10px`
$font-size-lg: 1.6rem;
$font-size-sm: 1.2rem;

//$font-weight-lighter:         lighter !default;
//$font-weight-light:           300 !default;
//$font-weight-normal:          400 !default;
//$font-weight-bold:            700 !default;
//$font-weight-bolder:          bolder !default;

//$font-weight-base:            $font-weight-normal !default;
$line-height-base: 1.4;

$h1-font-size: 2.2rem;
$h2-font-size: 2rem;
$h3-font-size: 1.8rem;
$h4-font-size: 1.6rem;
$h5-font-size: 1.4rem;
$h6-font-size: 1.2rem;

$headings-margin-bottom: 1.8rem;
//$headings-font-family:        null !default;
$headings-font-weight: $font-weight-normal;
//$headings-line-height:        1.2 !default;
$headings-color: $white;

$display1-size: 4rem;
$display2-size: 3.6rem;
$display3-size: 3rem;
$display4-size: 2.4rem;
$display5-size: 2rem !default;
$display6-size: 1.8rem !default;

$display1-weight: $font-weight-normal;
$display2-weight: $font-weight-normal;
$display3-weight: $font-weight-normal;
$display4-weight: $font-weight-normal;
$display5-weight: $font-weight-normal !default;
$display6-weight: $font-weight-normal !default;
$display-line-height: $headings-line-height;

$lead-font-size: 2rem;
$lead-font-weight: 200;

//$small-font-size:             80% !default;

$text-muted: $text-color;

$blockquote-small-color: $text-color;
//$blockquote-small-font-size: $small-font-size !default;
$blockquote-font-size: 1.8rem;

$hr-border-color: $border-color;
//$hr-border-width: $border-width !default;

//$mark-padding:                .2em !default;

//$dt-font-weight:              $font-weight-bold !default;

//$kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25) !default;
//$nested-kbd-font-weight:      $font-weight-bold !default;

//$list-inline-padding:         .5rem !default;

//$mark-bg:                     #fcf8e3 !default;

$hr-margin-y: $spacer;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: 1.5rem;
$table-cell-padding-sm: .5rem;

$table-color: $body-color;
//$table-bg:                    null !default;
$table-accent-bg: #131728;
$table-hover-color: $table-color;
$table-hover-bg: darken($table-accent-bg, 2%);
$table-active-bg: $table-hover-bg;

//$table-border-width:          $border-width !default;
$table-border-color: $border-color;

$table-head-bg: #e9e9e9;
$table-head-color: $white;

$table-dark-color: #c5c5c5;
$table-dark-bg: #3c3c3c;
$table-dark-accent-bg: #292929;
$table-dark-hover-color: $table-dark-color;
$table-dark-hover-bg: darken($table-dark-accent-bg, 2%);
$table-dark-border-color: #414141;

//$table-striped-order:         odd !default;

//$table-caption-color:         $text-muted !default;

//$table-bg-level:              -9 !default;
//$table-border-level:          -6 !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: 1.06rem;
$input-btn-padding-x: 1.7rem;
//$input-btn-font-family:       null !default;
$input-btn-font-size: $font-size-base;
$input-btn-line-height: $line-height-base;

$input-btn-focus-width: 0;
$input-btn-focus-color: rgba($component-active-bg, .25);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

$input-btn-padding-y-sm: .88rem;
$input-btn-padding-x-sm: 1.3rem;
$input-btn-font-size-sm: $font-size-sm;
$input-btn-line-height-sm: $line-height-sm;

$input-btn-padding-y-lg: 1.24rem;
$input-btn-padding-x-lg: 1.7rem;
$input-btn-font-size-lg: $font-size-lg;
$input-btn-line-height-lg: $line-height-lg;

//$input-btn-border-width:      $border-width !default;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
//$btn-font-family:             $input-btn-font-family !default;
$btn-font-size: $input-btn-font-size;
$btn-line-height: $input-btn-line-height;

$btn-padding-y-sm: $input-btn-padding-y-sm;
$btn-padding-x-sm: $input-btn-padding-x-sm;
$btn-font-size-sm: $input-btn-font-size-sm;
$btn-line-height-sm: $input-btn-line-height-sm;

$btn-padding-y-lg: $input-btn-padding-y-lg;
$btn-padding-x-lg: $input-btn-padding-x-lg;
$btn-font-size-lg: $input-btn-font-size-lg;
$btn-line-height-lg: $input-btn-line-height-lg;

//$btn-border-width:            $input-btn-border-width !default;

//$btn-font-weight:             $font-weight-normal !default;
//$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-width: $input-btn-focus-width;
$btn-focus-box-shadow: $input-btn-focus-box-shadow;
//$btn-disabled-opacity:        .65 !default;
//$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

//$btn-link-disabled-color:     $gray-600 !default;

$btn-block-spacing-y: .8rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius;

//$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// Forms

//$label-margin-bottom:                   .5rem !default;

$input-padding-y: $input-btn-padding-y;
$input-padding-x: $input-btn-padding-x;
//$input-font-family:                     $input-btn-font-family !default;
$input-font-size: $input-btn-font-size;
$input-font-weight: $font-weight-base;
$input-line-height: $input-btn-line-height;

$input-padding-y-sm: $input-btn-padding-y-sm;
$input-padding-x-sm: $input-btn-padding-x-sm;
$input-font-size-sm: $input-btn-font-size-sm;
$input-line-height-sm: $input-btn-line-height-sm;

$input-padding-y-lg: $input-btn-padding-y-lg;
$input-padding-x-lg: $input-btn-padding-x-lg;
$input-font-size-lg: $input-btn-font-size-lg;
$input-line-height-lg: $input-btn-line-height-lg;

//$input-bg:                              $white !default;
//$input-disabled-bg:                     $gray-200 !default;

$input-color: $text-color;
//$input-border-color:                    $gray-400 !default;
//$input-border-width:                    $input-btn-border-width !default;
$input-box-shadow: inset 0 1px 1px rgba($black, .075);

$input-border-radius: $border-radius;
$input-border-radius-lg: $border-radius-lg;
$input-border-radius-sm: $border-radius;

//$input-focus-bg:                        $input-bg !default;
$input-focus-border-color: lighten($component-active-bg, 25%);
//$input-focus-color:                     $input-color !default;
$input-focus-width: $input-btn-focus-width;
$input-focus-box-shadow: $input-btn-focus-box-shadow;

$input-placeholder-color: #bdbdbd;
//$input-plaintext-color:                 $body-color !default;

//$input-height-border:                   $input-border-width * 2 !default;

$input-height-inner: calc(#{$input-line-height * 1em} + #{$input-padding-y * 2});
$input-height-inner-half: calc(#{$input-line-height * .5em} + #{$input-padding-y});
$input-height-inner-quarter: calc(#{$input-line-height * .25em} + #{$input-padding-y / 2});

$input-height: calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border});
$input-height-sm: calc(#{$input-line-height-sm * 1em} + #{$input-btn-padding-y-sm * 2} + #{$input-height-border});
$input-height-lg: calc(#{$input-line-height-lg * 1em} + #{$input-btn-padding-y-lg * 2} + #{$input-height-border});

//$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$form-text-margin-top: .8rem;

$form-check-input-gutter: 2rem;
$form-check-input-margin-y: .5rem;
$form-check-input-margin-x: .4rem;

$form-check-inline-margin-x: 1.2rem;
$form-check-inline-input-margin-x: .6rem;

//$form-grid-gutter-width:                10px !default;
$form-group-margin-bottom: 1.8rem;

//$input-group-addon-color:               $input-color !default;
//$input-group-addon-bg:                  $gray-200 !default;
$input-group-addon-border-color: $input-border-color;

//$custom-forms-transition:               background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$custom-control-gutter: .8rem;
$custom-control-spacer-x: 1.6rem;

$custom-control-indicator-size: 1.6rem;
//$custom-control-indicator-bg:           $input-bg !default;

//$custom-control-indicator-bg-size:      50% 50% !default;
//$custom-control-indicator-box-shadow:   $input-box-shadow !default;
//$custom-control-indicator-border-color: $gray-500 !default;
//$custom-control-indicator-border-width: $input-border-width !default;

//$custom-control-indicator-disabled-bg:          $input-disabled-bg !default;
//$custom-control-label-disabled-color:           $gray-600 !default;

$custom-control-indicator-checked-color: $component-active-color;
$custom-control-indicator-checked-bg: $component-active-bg;
$custom-control-indicator-checked-disabled-bg: rgba(theme-color("primary"), .5);
//$custom-control-indicator-checked-box-shadow:   none !default;
$custom-control-indicator-checked-border-color: $custom-control-indicator-checked-bg;

$custom-control-indicator-focus-box-shadow: $input-focus-box-shadow;
$custom-control-indicator-focus-border-color: $input-focus-border-color;

$custom-control-indicator-active-color: $component-active-color;
$custom-control-indicator-active-bg: lighten($component-active-bg, 35%);
//$custom-control-indicator-active-box-shadow:    none !default;
$custom-control-indicator-active-border-color: $custom-control-indicator-active-bg;

$custom-checkbox-indicator-border-radius: $border-radius;
//$custom-checkbox-indicator-icon-checked:        str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#{$custom-control-indicator-checked-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"), "#", "%23") !default;

$custom-checkbox-indicator-indeterminate-bg: $component-active-bg;
$custom-checkbox-indicator-indeterminate-color: $custom-control-indicator-checked-color;
//$custom-checkbox-indicator-icon-indeterminate:         str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='#{$custom-checkbox-indicator-indeterminate-color}' d='M0 2h4'/%3e%3c/svg%3e"), "#", "%23") !default;
//$custom-checkbox-indicator-indeterminate-box-shadow:   none !default;
$custom-checkbox-indicator-indeterminate-border-color: $custom-checkbox-indicator-indeterminate-bg;

//$custom-radio-indicator-border-radius:          50% !default;
//$custom-radio-indicator-icon-checked:           str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='#{$custom-control-indicator-checked-color}'/%3e%3c/svg%3e"), "#", "%23") !default;

//$custom-switch-width:                           $custom-control-indicator-size * 1.75 !default;
//$custom-switch-indicator-border-radius:         $custom-control-indicator-size / 2 !default;
//$custom-switch-indicator-size:                  calc(#{$custom-control-indicator-size} - #{$custom-control-indicator-border-width * 4}) !default;

$custom-select-padding-y: $input-padding-y;
$custom-select-padding-x: $input-padding-x;
//$custom-select-font-family:         $input-font-family !default;
$custom-select-font-size: $input-font-size;
$custom-select-height: $input-height;
$custom-select-indicator-padding: 1.6rem; // Extra padding to account for the presence of the background-image based indicator
//$custom-select-font-weight:         $input-font-weight !default;
$custom-select-line-height: $input-line-height;
$custom-select-color: $input-color;
//$custom-select-disabled-color:      $gray-600 !default;
$custom-select-bg: $input-bg;
//$custom-select-disabled-bg:         $gray-200 !default;
//$custom-select-bg-size:             8px 10px !default; // In pixels because image dimensions
//$custom-select-indicator-color:     $gray-800 !default;
//$custom-select-indicator:           str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e"), "#", "%23") !default;
$custom-select-background: $custom-select-indicator no-repeat right $custom-select-padding-x center / $custom-select-bg-size; // Used so we can have multiple background elements (e.g., arrow and feedback icon)

//$custom-select-feedback-icon-padding-right: calc((1em + #{2 * $custom-select-padding-y}) * 3 / 4 + #{$custom-select-padding-x + $custom-select-indicator-padding}) !default;
//$custom-select-feedback-icon-position:      center right ($custom-select-padding-x + $custom-select-indicator-padding) !default;
//$custom-select-feedback-icon-size:          $input-height-inner-half $input-height-inner-half !default;

//$custom-select-border-width:        $input-border-width !default;
$custom-select-border-color: $input-border-color;
$custom-select-border-radius: $border-radius;
//$custom-select-box-shadow:          inset 0 1px 2px rgba($black, .075) !default;

$custom-select-focus-border-color: $input-focus-border-color;
$custom-select-focus-width: $input-focus-width;
$custom-select-focus-box-shadow: 0 0 0 $custom-select-focus-width $input-btn-focus-color;

$custom-select-padding-y-sm: $input-padding-y-sm;
$custom-select-padding-x-sm: $input-padding-x-sm;
$custom-select-font-size-sm: $input-font-size-sm;
$custom-select-height-sm: $input-height-sm;

$custom-select-padding-y-lg: $input-padding-y-lg;
$custom-select-padding-x-lg: $input-padding-x-lg;
$custom-select-font-size-lg: $input-font-size-lg;
$custom-select-height-lg: $input-height-lg;

//$custom-range-track-width:          100% !default;
//$custom-range-track-height:         .5rem !default;
//$custom-range-track-cursor:         pointer !default;
//$custom-range-track-bg:             $gray-300 !default;
//$custom-range-track-border-radius:  1rem !default;
//$custom-range-track-box-shadow:     inset 0 .25rem .25rem rgba($black, .1) !default;

//$custom-range-thumb-width:                   1rem !default;
//$custom-range-thumb-height:                  $custom-range-thumb-width !default;
$custom-range-thumb-bg: $component-active-bg;
//$custom-range-thumb-border:                  0 !default;
$custom-range-thumb-border-radius: 1.6rem;
//$custom-range-thumb-box-shadow:              0 .1rem .25rem rgba($black, .1) !default;
$custom-range-thumb-focus-box-shadow: 0 0 0 1px $body-bg, $input-focus-box-shadow;
//$custom-range-thumb-focus-box-shadow-width:  $input-focus-width !default; // For focus box shadow issue in IE/Edge
$custom-range-thumb-active-bg: lighten($component-active-bg, 35%);
//$custom-range-thumb-disabled-bg:             $gray-500 !default;

$custom-file-height: $input-height;
$custom-file-height-inner: $input-height-inner;
$custom-file-focus-border-color: $input-focus-border-color;
$custom-file-focus-box-shadow: $input-focus-box-shadow;
//$custom-file-disabled-bg:           $input-disabled-bg !default;

$custom-file-padding-y: $input-padding-y;
$custom-file-padding-x: $input-padding-x;
$custom-file-line-height: $input-line-height;
//$custom-file-font-family:           $input-font-family !default;
//$custom-file-font-weight:           $input-font-weight !default;
$custom-file-color: $input-color;
$custom-file-bg: $input-bg;
//$custom-file-border-width:          $input-border-width !default;
$custom-file-border-color: $input-border-color;
$custom-file-border-radius: $input-border-radius;
$custom-file-box-shadow: $input-box-shadow;
$custom-file-button-color: $custom-file-color;
$custom-file-button-bg: $input-group-addon-bg;
//$custom-file-text: (
//  en: "Browse"
//) !default;

// Form validation

$form-feedback-margin-top: $form-text-margin-top;
$form-feedback-font-size: $small-font-size;
$form-feedback-valid-color: theme-color("success");
$form-feedback-invalid-color: theme-color("danger");

$form-feedback-icon-valid-color: $form-feedback-valid-color;
//$form-feedback-icon-valid:          str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#{$form-feedback-icon-valid-color}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e"), "#", "%23") !default;
$form-feedback-icon-invalid-color: $form-feedback-invalid-color;
//$form-feedback-icon-invalid:        str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#{$form-feedback-icon-invalid-color}' viewBox='-2 -2 7 7'%3e%3cpath stroke='#{$form-feedback-icon-invalid-color}' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E"), "#", "%23") !default;

$form-validation-states: ();
// stylelint-disable-next-line scss/dollar-variable-default
$form-validation-states: map-merge((
    "valid": (
        "color": $form-feedback-valid-color,
        "icon": $form-feedback-icon-valid
    ),
    "invalid": (
        "color": $form-feedback-invalid-color,
        "icon": $form-feedback-icon-invalid
    ),
), $form-validation-states);

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

//$zindex-dropdown:                   1000 !default;
//$zindex-sticky:                     1020 !default;
//$zindex-fixed:                      1030 !default;
//$zindex-modal-backdrop:             1040 !default;
//$zindex-modal:                      1050 !default;
//$zindex-popover:                    1060 !default;
$zindex-tooltip: 1502;

// Navs

$nav-link-padding-y: 1rem;
$nav-link-padding-x: 1.6rem;
$nav-link-disabled-color: $gray-500;

$nav-tabs-border-color: $white;
//$nav-tabs-border-width:             $border-width !default;
$nav-tabs-border-radius: $border-radius;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-bg: $body-bg;
$nav-tabs-link-active-border-color: transparent transparent $nav-tabs-link-active-bg;

$nav-pills-border-radius: $border-radius;
$nav-pills-link-active-color: $component-active-color;
$nav-pills-link-active-bg: $component-active-bg;

$nav-divider-color: $border-color;
//$nav-divider-margin-y:              $spacer / 2 !default;

// Navbar

//$navbar-padding-y:                  $spacer / 2 !default;
//$navbar-padding-x:                  $spacer !default;

//$navbar-nav-link-padding-x:         .5rem !default;

//$navbar-brand-font-size:            $font-size-lg !default;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
//$nav-link-height:                   $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;
//$navbar-brand-height:               $navbar-brand-font-size * $line-height-base !default;
//$navbar-brand-padding-y:            ($nav-link-height - $navbar-brand-height) / 2 !default;

//$navbar-toggler-padding-y:          .25rem !default;
//$navbar-toggler-padding-x:          .75rem !default;
//$navbar-toggler-font-size:          $font-size-lg !default;
//$navbar-toggler-border-radius:      $btn-border-radius !default;

//$navbar-dark-color:                 rgba($white, .5) !default;
//$navbar-dark-hover-color:           rgba($white, .75) !default;
//$navbar-dark-active-color:          $white !default;
//$navbar-dark-disabled-color:        rgba($white, .25) !default;
//$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23") !default;
//$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

//$navbar-light-color:                rgba($black, .5) !default;
//$navbar-light-hover-color:          rgba($black, .7) !default;
//$navbar-light-active-color:         rgba($black, .9) !default;
//$navbar-light-disabled-color:       rgba($black, .3) !default;
//$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23") !default;
//$navbar-light-toggler-border-color: rgba($black, .1) !default;

//$navbar-light-brand-color:                $navbar-light-active-color !default;
//$navbar-light-brand-hover-color:          $navbar-light-active-color !default;
//$navbar-dark-brand-color:                 $navbar-dark-active-color !default;
//$navbar-dark-brand-hover-color:           $navbar-dark-active-color !default;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width: 16rem;
//$dropdown-padding-y:                .5rem !default;
$dropdown-spacer: .5rem;
$dropdown-font-size: $font-size-base;
$dropdown-color: $body-color;
$dropdown-bg: $white;
$dropdown-border-color: transparent;
$dropdown-border-radius: $border-radius;
$dropdown-border-width: 0;
$dropdown-inner-border-radius: calc(#{$dropdown-border-radius} - #{$dropdown-border-width});
$dropdown-divider-bg: $border-color;
$dropdown-divider-margin-y: $nav-divider-margin-y !default;
//$dropdown-box-shadow:               0 .5rem 1rem rgba($black, .175) !default;

//$dropdown-link-color:               $gray-900 !default;
//$dropdown-link-hover-color:         darken($gray-900, 5%) !default;
//$dropdown-link-hover-bg:            $gray-100 !default;

$dropdown-link-active-color: $component-active-color;
$dropdown-link-active-bg: $component-active-bg;

//$dropdown-link-disabled-color:      $gray-600 !default;

$dropdown-item-padding-y: .7rem;
//$dropdown-item-padding-x:           1.5rem !default;

//$dropdown-header-color:             $gray-600 !default;

// Pagination

$pagination-padding-y: .8rem;
$pagination-padding-x: 1.2rem;
$pagination-padding-y-sm: .4rem;
$pagination-padding-x-sm: .8rem;
$pagination-padding-y-lg: 1.2rem;
$pagination-padding-x-lg: 2.4rem;
//$pagination-line-height:            1.25 !default;

$pagination-color: $link-color;
//$pagination-bg:                     $white !default;
//$pagination-border-width:           $border-width !default;
//$pagination-border-color:           $gray-300 !default;

$pagination-focus-box-shadow: $input-btn-focus-box-shadow;
//$pagination-focus-outline:          0 !default;

$pagination-hover-color: $link-hover-color;
//$pagination-hover-bg:               $gray-200 !default;
//$pagination-hover-border-color:     $gray-300 !default;

$pagination-active-color: $component-active-color;
$pagination-active-bg: $component-active-bg;
$pagination-active-border-color: $pagination-active-bg;

$pagination-disabled-color: $gray-500;
//$pagination-disabled-bg:            $white !default;
//$pagination-disabled-border-color:  $gray-300 !default;

// Jumbotron

//$jumbotron-padding:                 2rem !default;
//$jumbotron-color:                   null !default;
$jumbotron-bg: $body-bg;

// Cards

$card-spacer-y: 3.2rem;
$card-spacer-x: 3.2rem;
$card-border-width: 0px;
$card-border-radius: $border-radius;
$card-border-color: transparent;
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width});
$card-cap-bg: rgba($black, .15);
$card-cap-color: #6f6d8f;
//$card-color:                        null !default;
$card-bg: #23293f;

$card-img-overlay-padding: $card-spacer-y;

//$card-group-margin:                 $grid-gutter-width / 2 !default;
//$card-deck-margin:                  $card-group-margin !default;

//$card-columns-count:                3 !default;
$card-columns-gap: 2rem;
$card-columns-margin: ($card-spacer-y * .625);

//Custom Card Variables
$dt-card-shadow: $box-shadow !default;
$dt-card-bg: $card-bg !default;
$dt-card-margin: 3.2rem !default;
$dt-card-padding-x: $card-spacer-x !default;
$dt-card-padding-y: $card-spacer-y !default;
$dt-card-header-color: #6f6d8f !default;
$dt-border: 1px solid $border-color !default;

// Tooltips

$tooltip-font-size: $font-size-sm;
//$tooltip-max-width:                 200px !default;
//$tooltip-color:                     $white !default;
//$tooltip-bg:                        $black !default;
$tooltip-border-radius: $border-radius;
//$tooltip-opacity:                   .9 !default;
$tooltip-padding-y: .4rem;
$tooltip-padding-x: .8rem;
//$tooltip-margin:                    0 !default;

//$tooltip-arrow-width:               .8rem !default;
//$tooltip-arrow-height:              .4rem !default;
//$tooltip-arrow-color:               $tooltip-bg !default;

// Form tooltips must come after regular tooltips
$form-feedback-tooltip-padding-y: $tooltip-padding-y;
$form-feedback-tooltip-padding-x: $tooltip-padding-x;
$form-feedback-tooltip-font-size: $tooltip-font-size;
$form-feedback-tooltip-line-height: $line-height-base;
//$form-feedback-tooltip-opacity:       $tooltip-opacity !default;
$form-feedback-tooltip-border-radius: $tooltip-border-radius;

// Popovers

$popover-font-size: $font-size-sm;
//$popover-bg:                        $white !default;
//$popover-max-width:                 276px !default;
//$popover-border-width:              $border-width !default;
//$popover-border-color:              rgba($black, .2) !default;
//$popover-border-radius:             $border-radius-lg !default;
//$popover-box-shadow:                0 .25rem .5rem rgba($black, .2) !default;

//$popover-header-bg: darken($popover-bg, 3%) !default;
$popover-header-color: $text-color-dark;
$popover-header-padding-y: .8rem;
$popover-header-padding-x: 1.2rem;

$popover-body-color: $text-color;
$popover-body-padding-y: $popover-header-padding-y;
$popover-body-padding-x: $popover-header-padding-x;

$popover-arrow-width: 1.6rem;
$popover-arrow-height: .8rem;
//$popover-arrow-color:               $popover-bg !default;

//$popover-arrow-outer-color:         fade-in($popover-border-color, .05) !default;

// Toasts

//$toast-max-width:                   350px !default;
$toast-padding-x: 1.2rem;
$toast-padding-y: .4rem;
$toast-font-size: $font-size-base;
//$toast-color:                       null !default;
//$toast-background-color:            rgba($white, .85) !default;
//$toast-border-width:                1px !default;
//$toast-border-color:                rgba(0, 0, 0, .1) !default;
$toast-border-radius: $border-radius;
//$toast-box-shadow:                  0 .25rem .75rem rgba($black, .1) !default;

//$toast-header-color:                $gray-600 !default;
//$toast-header-background-color:     rgba($white, .85) !default;
//$toast-header-border-color:         rgba(0, 0, 0, .05) !default;

// Badges

$badge-font-size: $font-size-sm;
$badge-font-weight: $font-weight-normal;
$badge-padding-y: .6rem;
$badge-padding-x: .8rem;
$badge-border-radius: $border-radius;

//$badge-transition:                  $btn-transition !default;
//$badge-focus-width:                 $input-btn-focus-width !default;

//$badge-pill-padding-x:              .6em !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
//$badge-pill-border-radius:          10rem !default;

// Modals

// Padding applied to the modal body
$modal-inner-padding: 1.6rem;

$modal-dialog-margin: .8rem;
$modal-dialog-margin-y-sm-up: 2.8rem;

$modal-title-line-height: $line-height-base;

//$modal-content-color:               null !default;
$modal-content-bg: $dt-card-bg;
//$modal-content-border-color:        rgba($black, .2) !default;
//$modal-content-border-width:        $border-width !default;
$modal-content-border-radius: $border-radius;
//$modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5) !default;
//$modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5) !default;

//$modal-backdrop-bg:                 $black !default;
$modal-backdrop-opacity: .8;
$modal-header-border-color: $border-color;
$modal-footer-border-color: $modal-header-border-color;
//$modal-header-border-width:         $modal-content-border-width !default;
//$modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding-y: 1.6rem;
$modal-header-padding-x: 1.6rem;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x; // Keep this for backwards compatibility

//$modal-xl:                          1140px !default;
//$modal-lg:                          800px !default;
//$modal-md:                          500px !default;
//$modal-sm:                          300px !default;

//$modal-fade-transform:              translate(0, -50px) !default;
//$modal-show-transform:              none !default;
//$modal-transition:                  transform .3s ease-out !default;

// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y: 1.4rem;
$alert-padding-x: 2rem;
$alert-margin-bottom: 1.6rem;
$alert-border-radius: $border-radius;
//$alert-link-font-weight:            $font-weight-bold !default;
//$alert-border-width:                $border-width !default;

//$alert-bg-level:                    -10 !default;
//$alert-border-level:                -9 !default;
//$alert-color-level:                 6 !default;

// Progress bars

$progress-height: 1.6rem;
$progress-font-size: $font-size-base * .75;
//$progress-bg:                       $gray-200 !default;
$progress-border-radius: $border-radius;
//$progress-box-shadow:               inset 0 .1rem .1rem rgba($black, .1) !default;
//$progress-bar-color:                $white !default;
$progress-bar-bg: theme-color("primary");
//$progress-bar-animation-timing:     1s linear infinite !default;
//$progress-bar-transition:           width .6s ease !default;

// List group

//$list-group-color:                  null !default;
$list-group-bg: $dt-card-bg;
//$list-group-border-color:           rgba($black, .125) !default;
//$list-group-border-width:           $border-width !default;
$list-group-border-radius: $border-radius;

$list-group-item-padding-y: 1.2rem;
$list-group-item-padding-x: 2rem;

$list-group-hover-bg: $gray-200;
$list-group-active-color: $component-active-color;
$list-group-active-bg: $component-active-bg;
$list-group-active-border-color: $list-group-active-bg;

$list-group-disabled-color: $gray-500;
//$list-group-disabled-bg:            $list-group-bg !default;

//$list-group-action-color:           $gray-700 !default;
//$list-group-action-hover-color:     $list-group-action-color !default;

//$list-group-action-active-color:    $body-color !default;
//$list-group-action-active-bg:       $gray-200 !default;

// Image thumbnails

//$thumbnail-padding:                 .25rem !default;
//$thumbnail-bg:                      $body-bg !default;
//$thumbnail-border-width:            $border-width !default;
//$thumbnail-border-color:            $gray-300 !default;
//$thumbnail-border-radius:           $border-radius !default;
//$thumbnail-box-shadow:              0 1px 2px rgba($black, .075) !default;

// Figures

//$figure-caption-font-size:          90% !default;
//$figure-caption-color:              $gray-600 !default;

// Breadcrumbs

$breadcrumb-padding-y: 1.2rem;
$breadcrumb-padding-x: 1.6rem;
$breadcrumb-item-padding: .8rem;

//$breadcrumb-margin-bottom:          1rem !default;

$breadcrumb-bg: $body-bg;
$breadcrumb-divider-color: $text-color;
$breadcrumb-active-color: $text-color;
//$breadcrumb-divider:                quote("/") !default;

$breadcrumb-border-radius: $border-radius;

// Carousel

//$carousel-control-color:             $white !default;
//$carousel-control-width:             15% !default;
//$carousel-control-opacity:           .5 !default;
//$carousel-control-hover-opacity:     .9 !default;
//$carousel-control-transition:        opacity .15s ease !default;

//$carousel-indicator-width:           30px !default;
//$carousel-indicator-height:          3px !default;
//$carousel-indicator-hit-area-height: 10px !default;
//$carousel-indicator-spacer:          3px !default;
//$carousel-indicator-active-bg:       $white !default;
//$carousel-indicator-transition:      opacity .6s ease !default;

//$carousel-caption-width:             70% !default;
//$carousel-caption-color:             $white !default;

//$carousel-control-icon-width:        20px !default;

//$carousel-control-prev-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e"), "#", "%23") !default;
//$carousel-control-next-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e"), "#", "%23") !default;

//$carousel-transition-duration:       .6s !default;
//$carousel-transition:                transform $carousel-transition-duration ease-in-out !default; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

// Spinners

//$spinner-width:         2rem !default;
//$spinner-height:        $spinner-width !default;
//$spinner-border-width:  .25em !default;

//$spinner-width-sm:        1rem !default;
//$spinner-height-sm:       $spinner-width-sm !default;
//$spinner-border-width-sm: .2em !default;

// Close

$close-font-size: $font-size-base * 1.5;
//$close-font-weight:                 $font-weight-bold !default;
$close-color: $dark;
//$close-text-shadow:                 0 1px 0 $white !default;

// Code

//$code-font-size:                    87.5% !default;
//$code-color:                        $pink !default;

//$kbd-padding-y:                     .2rem !default;
//$kbd-padding-x:                     .4rem !default;
//$kbd-font-size:                     $code-font-size !default;
//$kbd-color:                         $white !default;
//$kbd-bg:                            $gray-900 !default;

//$pre-color:                         $gray-900 !default;
//$pre-scrollable-max-height:         340px !default;

// Utilities

//$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
//$overflows: auto, hidden !default;
//$positions: static, relative, absolute, fixed, sticky !default;

// Printing

//$print-page-size:                   a3 !default;
//$print-body-min-width:              map-get($grid-breakpoints, "lg") !default;

//Header Variables
$header-height: 72px !default;
$header-shadow: $box-shadow-xl !default;
$header-bg: #23293f !default;
$header-color: #6f6d8f !default;
$header-color-hover: lighten($header-color, 10%) !default;
$dt-brand-bg: $header-bg !default;
$dt-brand-color: #b5b5b5 !default;

//Footer Variables
$footer-height: 60px !default;
$footer-bg: #23293f !default;
$footer-color: $text-color !default;

//Sidebar Variables
$sidebar-width: 210px !default;
$sidebar-bg: #131728 !default;
$sidebar-color: $white !default;
$sidebar-color-hover: $primary !default;
$sidebar-active-bg: rgba($sidebar-color-hover, 0.2) !default;
$sidebar-active-color: $sidebar-color-hover !default;
$sidebar-submenu-color: #6f6d8f !default;
$sidebar-header-color: #6f6d8f !default;
$sidebar-separator: #282c3b !default;
$folded-sidebar-width: 60px !default;

//Custom Drawer Variables
$dt-drawer-bg: $dt-card-bg !default;
$dt-backdrop-bg: rgba($black, 0.8) !default;

//Sweet Alert

// BOX MODEL
$swal2-padding: 6rem 3.2rem 4.8rem;
$swal2-border-radius: $border-radius-xl;

// TYPOGRAPHY
$swal2-font-size: $font-size-lg;

// ICONS
$swal2-icon-margin: 0 auto 2.6rem;
$swal2-success: theme-color("success");
$swal2-success-border: rgba($swal2-success, .3);
$swal2-error: theme-color("danger");
$swal2-warning: theme-color("warning");
$swal2-info: theme-color("info");

// IMAGE
$swal2-image-margin: 0 auto 3rem;

// TITLE
$swal2-title-margin: 0 0 3rem;
$swal2-title-color: $text-color-dark;
$swal2-title-font-size: 3rem;

// CONTENT
$swal2-content-color: $text-color;
$swal2-content-font-size: $font-size-lg;

// INPUT
$swal2-input-margin: 0 auto 1.6rem;
$swal2-input-padding: $input-padding-y $input-padding-x;
$swal2-input-border: $input-border-color;
$swal2-input-border-radius: $input-border-radius;
$swal2-input-border-focus: $input-focus-border-color;
$swal2-input-font-size: $font-size-base;

// FOOTER
$swal2-footer-margin: 2.4rem 0 -2.8rem;
$swal2-footer-border-color: $gray-300;

// ACTIONS
$swal2-actions-margin: 2.5rem auto 0;

// CONFIRM BUTTON
$swal2-confirm-button-border-radius: $border-radius;
$swal2-confirm-button-background-color: theme-color("primary");
$swal2-confirm-button-font-size: $font-size-base;

// CANCEL BUTTON
$swal2-cancel-button-border-radius: $border-radius;
$swal2-cancel-button-background-color: theme-color("danger");
$swal2-cancel-button-font-size: $font-size-base;

// COMMON VARIABLES FOR CONFIRM AND CANCEL BUTTONS
$swal2-button-focus-outline: transparent;

//Owl Carousel
//dots
$dot-width: 12px;
$dot-height: 12px;
$dot-rounded: $border-radius-circle;
$dot-margin: 2px;
$dot-background: $white;
$dot-background-active: $white;

// Custom Height Width
$min-size: 50px;
$min-sizes: ();
$min-sizes: map-merge((
    50: ($min-size * 1),
    55: ($min-size * 1.1),
    60: ($min-size * 1.2),
    65: ($min-size * 1.3),
    70: ($min-size * 1.4),
    75: ($min-size * 1.5),
    80: ($min-size * 1.6),
    85: ($min-size * 1.7),
    90: ($min-size * 1.8),
    95: ($min-size * 1.9),
    100: ($min-size * 2),
    120: ($min-size * 2.4),
    150: ($min-size * 3),
), $min-sizes);

//Modules Variables
$module-sidebar-width: 230px !default;
$module-sidebar-bg: $white !default;
$module-sidebar-color: $white !default;
$module-sidebar-color-hover: $secondary !default;

//Image path
$image-path: 'https://via.placeholder.com' !default;

//Framed Layout
$framed-layout-base: 2rem;

// Custom Boxed Variables
$dt-boxed-breakpoints: (
    xl: 1300px,
    xxl: 1600px
) !default;

$dt-boxed-max-widths: (
    xl: 1280px,
    xxl: 1500px
) !default;