{% extends 'default/base.html.twig' %}

{% block body %}
    <div class="dt-page__header">
        <h1 class="dt-page__title">🔧 {{ 'parametersPage.title'|trans }}</h1>
    </div>

    <div class="row">
        <div class="col-xl-6">

            <!-- Card -->
            <div class="dt-card">

                <!-- Card Header -->
                <div class="dt-card__header">

                    <!-- Card Heading -->
                    <div class="dt-card__heading">
                        <h3 class="dt-card__title">{{ 'parametersPage.form.titleInfo'|trans }}</h3>
                    </div>
                    <!-- /card heading -->

                </div>
                <!-- /card header -->

                <!-- Card Body -->
                <div class="dt-card__body">

                    {{ form_start(form) }}
                        {{ form_rest(form) }}
                        <button type="submit" class="btn btn-primary mr-2 mb-2">Enregister</button>
                    {{ form_end(form) }}

                </div>
                <!-- /card body -->

            </div>
            <!-- /card -->

        </div>
    </div>
{% endblock %}