{% extends 'default/base.html.twig' %}

{% block body %}
    <div class="profile">

        <!-- Profile Banner -->
        <div class="profile__banner">

            <!-- Profile Banner Top -->
            <div class="profile__banner-detail">
                <!-- Avatar Wrapper -->
                <div class="dt-avatar-wrapper">
                    <!-- Avatar -->
                    <img class="dt-avatar dt-avatar__shadow size-90 mr-sm-4" src="https://eu.ui-avatars.com/api/?size=128&name={{ app.user.firstname }}+{{ app.user.lastname }}" alt="Reece Jacklin">
                    <!-- /avatar -->

                    <!-- Info -->
                    <div class="dt-avatar-info">
                        <span class="dt-avatar-name display-4 mb-2 font-weight-light">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                        <span class="f-16">{{ 'profil.account'|trans }} {{ app.user.roles[0]|split('_')[1]|capitalize }}</span>
                    </div>
                    <!-- /info -->
                </div>
                <!-- /avatar wrapper -->
            </div>
            <!-- /profile banner top -->

            <!-- Profile Banner Bottom -->
            <div class="profile__banner-navigation">

                <!-- Navbar -->
                <ul class="navbar-nav">

                    <!-- Nav Item -->
                    <li class="nav-item active">
                        <a class="nav-link " href="javascript:void(0)" id="profil-id">Profil</a>
                    </li>
                    <!-- /nav item -->

                </ul>
                <!-- /navbar -->

                <!-- Dropdown -->
                <div class="dropdown pl-3 mt-2 ml-auto">

                    <!-- Dropdown Button -->
                    <a href="{{ path('front_user_parameters_personne') }}" class="dropdown-toggle no-arrow text-white" >
                        <i class="icon icon-settings icon-xl mr-2"></i><span class="d-none d-sm-inline-block">{{ 'parameters'|trans }}</span>
                    </a>
                    <!-- /dropdown button -->

                </div>
                <!-- /dropdown -->

            </div>
            <!-- /profile banner bottom -->

        </div>
        <!-- /profile banner -->

        <!-- Profile Content -->
        <div class="profile-content">

            <!-- Grid -->
            <div class="row">

                <!-- Grid Item -->
                <div class="col-xl-4 order-xl-2">


                    <!-- Grid -->
                    <div class="row">

                        {% if app.user.roles[0] == 'ROLE_FAMILLE' %}
                        <!-- Grid Item -->
                        <div class="col-xl-12 col-md-6 col-12 order-xl-2">

                            <!-- Card -->
                            <div class="dt-card dt-card__full-height">

                                <!-- Card Header -->
                                <div class="dt-card__header">

                                    <!-- Card Heading -->
                                    <div class="dt-card__heading">
                                        <h3 class="dt-card__title">{{ 'multipleKids'|trans }} - {{ app.user.kids.count }}
                                        </h3>
                                    </div>
                                    <!-- /card heading -->

                                </div>
                                <!-- /card header -->

                                <!-- Card Body -->
                                <div class="dt-card__body pb-5">

                                    <!-- List -->
                                    <ul class="dt-list dt-list-sm dt-friend-list">
                                        {% for kid in app.user.kids %}
                                            <!-- List Item -->
                                            <li class="dt-list__item">
                                                <!-- User Information -->
                                                <a href="{{ path('front_profil_enfant', {'slug': kid.slug}) }}" class="card user-bg-card" style="background-image: url('{{ kid.gender == 'male' ? 'https://icons-for-free.com/iconfiles/png/512/boy+character+man+school+boy+user+icon-1320085976501561317.png' : 'http://getdrawings.com/free-icon/facebook-female-profile-icon-65.png' }}');">
                                                    <!-- Dot Shape -->
                                                    <span class="dot-shape dot-shape-lg bg-success pulse-success dt-status"></span>
                                                    <!-- /dot Shape -->
                                                    <span class="user-bg-card__info">
                                                    <span class="dt-avatar-name f-10 mb-0">{{ kid.firstname }} {{ kid.lastname|upper }}</span>
                                                  </span>
                                                </a>
                                                <!-- /user information -->
                                            </li>
                                            <!-- /list item -->
                                        {% endfor %}


                                    </ul>
                                    <!-- /list -->

                                </div>
                                <!-- /card body -->

                            </div>
                            <!-- /card -->

                        </div>
                        <!-- /grid item -->
                        {% endif %}

                        <!-- Grid Item -->
                        <div class="col-xl-12 col-md-6 col-12 order-xl-1">

                            <!-- Card -->
                            <div class="dt-card dt-card__full-height">

                                <!-- Card Header -->
                                <div class="dt-card__header pt-6">

                                    <!-- Card Heading -->
                                    <div class="dt-card__heading">
                                        <h3 class="dt-card__title">{{ 'profil.accountInformations'|trans }}</h3>
                                    </div>
                                    <!-- /card heading -->

                                </div>
                                <!-- /card header -->

                                <!-- Card Body -->
                                <div class="dt-card__body">
                                    <!-- Media -->
                                    <div class="media mb-5">

                                        <i class="icon icon-link icon-xl mr-5"></i>

                                        <!-- Media Body -->
                                        <div class="media-body">
                                            <span class="d-block text-light-gray f-12 mb-1">{{ 'nom&prenom'|trans }}</span>
                                            <a href="javascript:void(0)">{{ app.user.firstname }} {{ app.user.lastname|upper }}</a>
                                        </div>
                                        <!-- /media body -->

                                    </div>
                                    <!-- /media -->

                                    <!-- Media -->
                                    <div class="media mb-5">

                                        <i class="icon icon-mail icon-xl mr-5"></i>

                                        <!-- Media Body -->
                                        <div class="media-body">
                                            <span class="d-block text-light-gray f-12 mb-1">{{ 'miniMail'|trans }}</span>
                                            <a href="javascript:void(0)">{{ app.user.email }}</a>
                                        </div>
                                        <!-- /media body -->

                                    </div>
                                    <!-- /media -->

                                    <!-- Media -->
                                    <div class="media">

                                        <i class="icon icon-phone-o icon-xl mr-5"></i>

                                        <!-- Media Body -->
                                        <div class="media-body">
                                            <span class="d-block text-light-gray f-12 mb-1">{{ 'phone'|trans }}</span>
                                            <span class="h5">{{ app.user.tel }}</span>
                                        </div>
                                        <!-- /media body -->

                                    </div>
                                    <!-- /media -->
                                </div>
                                <!-- /card body -->

                            </div>
                            <!-- /card -->

                        </div>
                        <!-- /grid item -->

                    </div>
                    <!-- /grid -->

                </div>
                <!-- /grid item -->

                <!-- Grid Item -->
                <div class="col-xl-8 order-xl-1">

                    <!-- Card -->
                    <div class="card">

                        <!-- Card Header -->
                        <div class="card-header card-nav bg-transparent border-bottom d-sm-flex justify-content-sm-between">
                            <h3 class="mb-2 mb-sm-n5">About</h3>
                        </div>
                        <!-- /card header -->

                        <!-- Card Body -->
                        <div class="card-body pb-2">

                            <!-- Tab Content-->
                            <div class="tab-content mt-5">

                                <!-- Tab panel -->
                                <div id="tab-pane1" class="tab-pane active">

                                    <!-- List -->
                                    <ul class="dt-list dt-list-col-4">
                                        <!-- List Item -->
                                        <li class="dt-list__item">
                                            <!-- Media -->
                                            <div class="media">

                                                <i class="icon icon-company icon-4x mr-5 align-self-center text-yellow"></i>

                                                <!-- Media Body -->
                                                <div class="media-body">
                                                    <span class="d-block text-light-gray f-12 mb-1">Works at</span>
                                                    <p class="h5 mb-0">G-axon Tech Pvt. Ltd.</p>
                                                </div>
                                                <!-- /media body -->

                                            </div>
                                            <!-- /media -->
                                        </li>
                                        <!-- /list item -->

                                        <!-- List Item -->
                                        <li class="dt-list__item">
                                            <!-- Media -->
                                            <div class="media">

                                                <i class="icon icon-birthday-new icon-4x mr-5 align-self-center text-yellow"></i>

                                                <!-- Media Body -->
                                                <div class="media-body">
                                                    <span class="d-block text-light-gray f-12 mb-1">Birthday</span>
                                                    <p class="h5 mb-0">Oct 25, 1984</p>
                                                </div>
                                                <!-- /media body -->

                                            </div>
                                            <!-- /media -->
                                        </li>
                                        <!-- /list item -->

                                        <!-- List Item -->
                                        <li class="dt-list__item">
                                            <!-- Media -->
                                            <div class="media">

                                                <i class="icon icon-graduation icon-4x mr-5 align-self-center text-yellow"></i>

                                                <!-- Media Body -->
                                                <div class="media-body">
                                                    <span class="d-block text-light-gray f-12 mb-1">Went to</span>
                                                    <p class="h5 mb-0">Oxford University</p>
                                                </div>
                                                <!-- /media body -->

                                            </div>
                                            <!-- /media -->
                                        </li>
                                        <!-- /list item -->

                                        <!-- List Item -->
                                        <li class="dt-list__item">
                                            <!-- Media -->
                                            <div class="media">

                                                <i class="icon icon-home icon-4x mr-5 align-self-center text-yellow"></i>

                                                <!-- Media Body -->
                                                <div class="media-body">
                                                    <span class="d-block text-light-gray f-12 mb-1">Lives in London</span>
                                                    <p class="h5 mb-0">From Switzerland</p>
                                                </div>
                                                <!-- /media body -->

                                            </div>
                                            <!-- /media -->
                                        </li>
                                        <!-- /list item -->

                                        <!-- List Item -->
                                        <li class="dt-list__item">
                                            <!-- Media -->
                                            <div class="media">

                                                <i class="icon icon-family icon-4x mr-5 align-self-center text-yellow"></i>

                                                <!-- Media Body -->
                                                <div class="media-body">
                                                    <span class="d-block text-light-gray f-12 mb-1">4 Family Members</span>

                                                    <!-- Project Team -->
                                                    <ul class="dt-list dt-team-list dt-team-list-sm">
                                                        <li>
                                                            <!-- Avatar -->
                                                            <a class="dt-avatar size-25" href="javascript:void(0)">
                                                                <img src="https://via.placeholder.com/150x150" alt="Steve Smith"> </a>
                                                            <!-- /avatar -->
                                                        </li>
                                                        <li>
                                                            <!-- Avatar -->
                                                            <a class="dt-avatar size-25" href="javascript:void(0)">
                                                                <img src="https://via.placeholder.com/150x150" alt="Alex Dolgove"> </a>
                                                            <!-- /avatar -->
                                                        </li>
                                                        <li>
                                                            <!-- Avatar -->
                                                            <a class="dt-avatar size-25" href="javascript:void(0)">
                                                                <img src="https://via.placeholder.com/150x150" alt="Reece Jacklin"> </a>
                                                            <!-- /avatar -->
                                                        </li>
                                                        <li>
                                                            <!-- Avatar -->
                                                            <a class="dt-avatar size-25" href="javascript:void(0)">
                                                                <img src="https://via.placeholder.com/150x150" alt="Selena"> </a>
                                                            <!-- /avatar -->
                                                        </li>
                                                    </ul>
                                                    <!-- /project team -->

                                                </div>
                                                <!-- /media body -->

                                            </div>
                                            <!-- /media -->
                                        </li>
                                        <!-- /list item -->
                                    </ul>
                                    <!-- /list -->

                                </div>
                                <!-- /tab panel -->

                                <!-- Tab panel -->
                                <div id="tab-pane2" class="tab-pane">

                                    <!-- List -->
                                    <ul class="dt-list dt-list-col-4">
                                        <!-- List Item -->
                                        <li class="dt-list__item">
                                            <!-- Media -->
                                            <div class="media">

                                                <i class="icon icon-company icon-4x mr-5 align-self-center text-yellow"></i>

                                                <!-- Media Body -->
                                                <div class="media-body">
                                                    <span class="d-block text-light-gray f-12 mb-1">Works at</span>
                                                    <p class="h5 mb-0">G-axon Tech Pvt. Ltd.</p>
                                                </div>
                                                <!-- /media body -->

                                            </div>
                                            <!-- /media -->
                                        </li>
                                        <!-- /list item -->

                                        <!-- List Item -->
                                        <li class="dt-list__item">
                                            <!-- Media -->
                                            <div class="media">

                                                <i class="icon icon-birthday-new icon-4x mr-5 align-self-center text-yellow"></i>

                                                <!-- Media Body -->
                                                <div class="media-body">
                                                    <span class="d-block text-light-gray f-12 mb-1">Birthday</span>
                                                    <p class="h5 mb-0">Oct 25, 1984</p>
                                                </div>
                                                <!-- /media body -->

                                            </div>
                                            <!-- /media -->
                                        </li>
                                        <!-- /list item -->

                                        <!-- List Item -->
                                        <li class="dt-list__item">
                                            <!-- Media -->
                                            <div class="media">

                                                <i class="icon icon-graduation icon-4x mr-5 align-self-center text-yellow"></i>

                                                <!-- Media Body -->
                                                <div class="media-body">
                                                    <span class="d-block text-light-gray f-12 mb-1">Went to</span>
                                                    <p class="h5 mb-0">Oxford University</p>
                                                </div>
                                                <!-- /media body -->

                                            </div>
                                            <!-- /media -->
                                        </li>
                                        <!-- /list item -->

                                        <!-- List Item -->
                                        <li class="dt-list__item">
                                            <!-- Media -->
                                            <div class="media">

                                                <i class="icon icon-home icon-4x mr-5 align-self-center text-yellow"></i>

                                                <!-- Media Body -->
                                                <div class="media-body">
                                                    <span class="d-block text-light-gray f-12 mb-1">Lives in London</span>
                                                    <p class="h5 mb-0">From Switzerland</p>
                                                </div>
                                                <!-- /media body -->

                                            </div>
                                            <!-- /media -->
                                        </li>
                                        <!-- /list item -->

                                        <!-- List Item -->
                                        <li class="dt-list__item">
                                            <!-- Media -->
                                            <div class="media">

                                                <i class="icon icon-family icon-4x mr-5 align-self-center text-yellow"></i>

                                                <!-- Media Body -->
                                                <div class="media-body">
                                                    <span class="d-block text-light-gray f-12 mb-1">4 Family Members</span>

                                                    <!-- Project Team -->
                                                    <ul class="dt-list dt-team-list dt-team-list-sm">
                                                        <li>
                                                            <!-- Avatar -->
                                                            <a class="dt-avatar size-25" href="javascript:void(0)">
                                                                <img src="https://via.placeholder.com/150x150" alt="Steve Smith"> </a>
                                                            <!-- /avatar -->
                                                        </li>
                                                        <li>
                                                            <!-- Avatar -->
                                                            <a class="dt-avatar size-25" href="javascript:void(0)">
                                                                <img src="https://via.placeholder.com/150x150" alt="Alex Dolgove"> </a>
                                                            <!-- /avatar -->
                                                        </li>
                                                        <li>
                                                            <!-- Avatar -->
                                                            <a class="dt-avatar size-25" href="javascript:void(0)">
                                                                <img src="https://via.placeholder.com/150x150" alt="Reece Jacklin"> </a>
                                                            <!-- /avatar -->
                                                        </li>
                                                        <li>
                                                            <!-- Avatar -->
                                                            <a class="dt-avatar size-25" href="javascript:void(0)">
                                                                <img src="https://via.placeholder.com/150x150" alt="Selena"> </a>
                                                            <!-- /avatar -->
                                                        </li>
                                                    </ul>
                                                    <!-- /project team -->

                                                </div>
                                                <!-- /media body -->

                                            </div>
                                            <!-- /media -->
                                        </li>
                                        <!-- /list item -->
                                    </ul>
                                    <!-- /list -->

                                </div>
                                <!-- /tab panel -->

                                <!-- Tab panel -->
                                <div id="tab-pane3" class="tab-pane">

                                    <!-- List -->
                                    <ul class="dt-list dt-list-col-4">
                                        <!-- List Item -->
                                        <li class="dt-list__item">
                                            <!-- Media -->
                                            <div class="media">

                                                <i class="icon icon-company icon-4x mr-5 align-self-center text-yellow"></i>

                                                <!-- Media Body -->
                                                <div class="media-body">
                                                    <span class="d-block text-light-gray f-12 mb-1">Works at</span>
                                                    <p class="h5 mb-0">G-axon Tech Pvt. Ltd.</p>
                                                </div>
                                                <!-- /media body -->

                                            </div>
                                            <!-- /media -->
                                        </li>
                                        <!-- /list item -->

                                        <!-- List Item -->
                                        <li class="dt-list__item">
                                            <!-- Media -->
                                            <div class="media">

                                                <i class="icon icon-birthday-new icon-4x mr-5 align-self-center text-yellow"></i>

                                                <!-- Media Body -->
                                                <div class="media-body">
                                                    <span class="d-block text-light-gray f-12 mb-1">Birthday</span>
                                                    <p class="h5 mb-0">Oct 25, 1984</p>
                                                </div>
                                                <!-- /media body -->

                                            </div>
                                            <!-- /media -->
                                        </li>
                                        <!-- /list item -->

                                        <!-- List Item -->
                                        <li class="dt-list__item">
                                            <!-- Media -->
                                            <div class="media">

                                                <i class="icon icon-graduation icon-4x mr-5 align-self-center text-yellow"></i>

                                                <!-- Media Body -->
                                                <div class="media-body">
                                                    <span class="d-block text-light-gray f-12 mb-1">Went to</span>
                                                    <p class="h5 mb-0">Oxford University</p>
                                                </div>
                                                <!-- /media body -->

                                            </div>
                                            <!-- /media -->
                                        </li>
                                        <!-- /list item -->

                                        <!-- List Item -->
                                        <li class="dt-list__item">
                                            <!-- Media -->
                                            <div class="media">

                                                <i class="icon icon-home icon-4x mr-5 align-self-center text-yellow"></i>

                                                <!-- Media Body -->
                                                <div class="media-body">
                                                    <span class="d-block text-light-gray f-12 mb-1">Lives in London</span>
                                                    <p class="h5 mb-0">From Switzerland</p>
                                                </div>
                                                <!-- /media body -->

                                            </div>
                                            <!-- /media -->
                                        </li>
                                        <!-- /list item -->

                                        <!-- List Item -->
                                        <li class="dt-list__item">
                                            <!-- Media -->
                                            <div class="media">

                                                <i class="icon icon-family icon-4x mr-5 align-self-center text-yellow"></i>

                                                <!-- Media Body -->
                                                <div class="media-body">
                                                    <span class="d-block text-light-gray f-12 mb-1">4 Family Members</span>

                                                    <!-- Project Team -->
                                                    <ul class="dt-list dt-team-list dt-team-list-sm">
                                                        <li>
                                                            <!-- Avatar -->
                                                            <a class="dt-avatar size-25" href="javascript:void(0)">
                                                                <img src="https://via.placeholder.com/150x150" alt="Steve Smith"> </a>
                                                            <!-- /avatar -->
                                                        </li>
                                                        <li>
                                                            <!-- Avatar -->
                                                            <a class="dt-avatar size-25" href="javascript:void(0)">
                                                                <img src="https://via.placeholder.com/150x150" alt="Alex Dolgove"> </a>
                                                            <!-- /avatar -->
                                                        </li>
                                                        <li>
                                                            <!-- Avatar -->
                                                            <a class="dt-avatar size-25" href="javascript:void(0)">
                                                                <img src="https://via.placeholder.com/150x150" alt="Reece Jacklin"> </a>
                                                            <!-- /avatar -->
                                                        </li>
                                                        <li>
                                                            <!-- Avatar -->
                                                            <a class="dt-avatar size-25" href="javascript:void(0)">
                                                                <img src="https://via.placeholder.com/150x150" alt="Selena"> </a>
                                                            <!-- /avatar -->
                                                        </li>
                                                    </ul>
                                                    <!-- /project team -->

                                                </div>
                                                <!-- /media body -->

                                            </div>
                                            <!-- /media -->
                                        </li>
                                        <!-- /list item -->
                                    </ul>
                                    <!-- /list -->

                                </div>
                                <!-- /tab panel -->

                            </div>
                            <!-- /tab content-->

                        </div>
                        <!-- /card body -->

                    </div>
                    <!-- /card -->

                    {%  if app.user.roles[0] == 'ROLE_FAMILLE' %}

                    <!-- Card -->
                    <div class="dt-card">

                        <!-- Card Header -->
                        <div class="dt-card__header">

                            <!-- Card Heading -->
                            <div class="dt-card__heading">
                                <h3 class="dt-card__title">{{ 'profil.events'|trans }}</h3>
                            </div>
                            <!-- /card heading -->

                        </div>
                        <!-- /card header -->
                        <!-- Card Body -->

                        <div class="dt-card__body">
                            {% for kid in app.user.kids %}
                                {% for event in kid.events|slice(0, 1) %}
                                    <!-- Card -->
                                    <div class="card shadow-none horizontal rounded-0 pb-8 border-bottom">

                                        <!-- Slider -->
                                        <div class="dt-slider rounded-xl overflow-hidden">

                                            <!-- Slider Header -->
                                            <div class="dt-slider__header">
                                                <span class="badge bg-orange text-white text-uppercase">{{ kid.firstname }} {{ kid.lastname }}</span>
                                            </div>
                                            <!-- /slider header -->
                                            <img class="img-fluid" src="https://via.placeholder.com/250x150" alt="Beach">

                                        </div>
                                        <!-- /slider -->

                                        <!-- Card Stacked -->
                                        <div class="card-stacked">

                                            <!-- Card Body -->
                                            <div class="card-body py-sm-0 px-0 px-sm-6 px-md-8">

                                                <!-- Badges -->
                                                <span class="badge badge-secondary text-uppercase mb-2">{{ event.type }}</span>
                                                <!-- /badges -->

                                                <!-- Card Title-->
                                                <h3 class="card-title font-weight-normal text-truncate mb-3">{{ event.label }}</h3>
                                                <!-- Card Title-->

                                                <!-- Content Area -->
                                                <p class="card-text text-truncate">
                                                    {{ event.description }}
                                                </p>
                                                <!-- /content area -->

                                            </div>
                                            <!-- /card body -->

                                            <!-- Card Footer -->
                                            <div class="card-footer d-flex flex-column justify-content-between p-0 text-sm-right">
                                                <!-- Pricing -->
                                                <a href="javascript:void(0)" class="display-5 font-weight-500 mb-6">
                                                    <i class="icon icon-calendar icon-fw mr-2"></i><span class="align-middle">{{ event.startdate|date("Y/m/d H:i") }}</span> </a>
                                                <!-- /pricing -->

                                                <!-- Card Button -->
                                                <a class="card-link font-weight-500" href="javascript:void(0)">
                                                    <span>{{ 'profil.moreDetails'|trans }}</span> <i class="icon icon-arrow-long-right icon-lg ml-1"></i>
                                                </a>
                                                <!-- /card button -->
                                            </div>
                                            <!-- /card footer -->

                                        </div>
                                        <!-- /card stacked -->

                                    </div>
                                    <!-- /card -->
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <!-- /card body -->
                    </div>
                    <!-- /card -->
                    {% endif %}

                </div>
                <!-- /grid item -->

            </div>
            <!-- /grid -->

        </div>
        <!-- /profile content -->

    </div>
{% endblock %}
