{% extends "default/base.html.twig" %}

{% block body %}

	<!-- Login Container -->
	<div
		class="dt-login--container">

		<!-- Login Content -->
		<div class="dt-login__content-wrapper">

			<!-- Login Background Section -->
			<div class="dt-login__bg-section" style="background-image: url({{asset('./build/static/images/logo.png')}}); background-size: contain">

				<div
					class="dt-login__bg-content">
					<!-- Login Title -->
					<h1 class="dt-login__title">
						{% trans %}
						Sign in
						{% endtrans %}
					</h1>
					<!-- /login title -->

					<p class="f-16">
						Se connecter et explorer l'univers Kidszen.
					</p>
				</div>


				<!-- Brand logo -->
				<div class="dt-login__logo">
					<a class="dt-brand__logo-link" href="index.html">
						<img class="dt-brand__logo-img" src="{{ asset('./build/static/images/logo.png')}}" alt="Kidszen">
					</a>
				</div>
				<!-- /brand logo -->

			</div>
			<!-- /login background section -->

			<!-- Login Content Section -->
			<div
				class="dt-login__content">

				<!-- Login Content Inner -->
				<div
					class="dt-login__content-inner">

					<!-- notif -->
					{% for label, messages in app.flashes %}
						{% for message in messages %}

					{% if label == "error"  %}
						{% if error.messageKey|trans(error.messageData, 'security') == 'Vous avez reçu un email de confirmation pour activer votre compte et pouvoir vous connecter' %}
							<div class="alert alert-warning" role="alert">
								{{ message}} <a href="{{ path('front_resend_confirmation_token') }}" class="alert-link">Renvoyer lien de confirmation</a>.
							</div>
						{% else%}
							<div class="alert alert-danger" role="alert">
								<span class="badge badge-pill badge-danger mb-1 mr-1">Erreur!</span> Email ou mot de passe incorrecte.
							</div>
						{% endif %}
					{% else %}
						<div class="alert alert-success" role="alert">
							{{ message }}
						</div>
					{% endif %}

						{% endfor %}
					{% endfor %}
					<!-- end notif -->

{#					{% if error %}#}
{#						<div class="alert alert-danger" role="alert">#}
{#							<span class="badge badge-pill badge-danger mb-1 mr-1">Erreur!</span> email ou mot de passe incorrecte.#}
{#						</div>#}

{#						{% if error.messageKey|trans(error.messageData, 'security') != 'Invalid credentials.' %}#}
{#							<div class="alert alert-danger" role="alert">#}
{#								{{ error.messageKey|trans(error.messageData, 'security') }} <a href="{{ path('front_resend_confirmation_token') }}" class="alert-link">Un#}
{#									renvoyer un mail de confirmation</a>#}
{#							</div>#}
{#						{% endif %}#}
{#					{% endif %}#}
					<form
						method="POST">

						<!-- Form Group -->
						<div class="form-group">
							<label class="sr-only" for="inputEmail" id="inputEmail">
								{% trans %}
								Email
								{% endtrans %}
							</label>
							<input type="email" name="email" class="form-control" id="email-1" aria-describedby="email-1" placeholder="{% trans %}Email{% endtrans %}">
						</div>
						<!-- /form group -->

						<!-- Form Group -->
						<div class="form-group">
							<label class="sr-only" for="inputPassword">
								{% trans %}
								Password
								{% endtrans %}
							</label>
							<input type="password" name="password" id="inputPassword" class="form-control" id="password-1" placeholder="{% trans %}Password{% endtrans %}">
						</div>
						<!-- /form group -->

						<!-- CSRF -->
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<!-- /csrf -->

						<!-- Form Group -->
							<div class="dt-checkbox d-block mb-6"> <input type="checkbox" id="checkbox-1"  name="_remember_me" checked>
							<label class="dt-checkbox-content" for="checkbox-1">
								{% trans %}Remember me{% endtrans %}
							</label>
						</div>
						<!-- /form group -->

						<!-- Form Group -->
						<div class="form-group">
							<button type="submit" class="btn btn-primary text-uppercase">
								{% trans %}
								Sign in
								{% endtrans %}
							</button>
							<span class="d-inline-block ml-4">{% trans %}Or{% endtrans %}
								<a class="d-inline-block font-weight-500 ml-3" href="{{ path('front_registration_family') }}">
									{% trans %}
									Sign up
									{% endtrans %}
								</a>
							</span>
						</div>
						<!-- /form group -->

					</form>
					<!-- /form -->

				</div>
				<!-- /login content inner -->

				<!-- Login Content Footer -->
				<div class="dt-login__content-footer">
					<a href="{{ path('front_forget_password') }}">
						{% trans %}
						Forgot your password
						{% endtrans %}
					</a>
				</div>
				<!-- /login content footer -->

			</div>
			<!-- /login content section -->

		</div>
		<!-- /login content -->

	</div>
	<!-- /login container -->
{% endblock %}




{#{% for label, messages in app.flashes %}#}
{#	{% for message in messages %}#}

{#		{% if error %}#}
{#			{% if error.messageKey|trans(error.messageData, 'security') == 'Vous avez reçu un email de confirmation pour activer votre compte et pouvoir vous connecter' %}#}
{#				<div class="alert alert-warning" role="alert">#}
{#					{{ message}} <a href="{{ path('front_resend_confirmation_token') }}" class="alert-link">Renvoyer lien de confirmation</a>.#}
{#				</div>#}
{#			{% elseif error.messageKey|trans(error.messageData, 'security')== 'Email could not be found.' %}#}
{#				<div class="alert alert-success" role="alert">#}
{#					{{ message }}#}
{#				</div>#}
{#			{% endif %}#}
{#		{% endif %}#}
{#	{% endfor %}#}
{#{% endfor %}#}
