{% extends "default/base.html.twig" %}
{% block body %}

    <!-- Grid Item -->
    <div class="col-xl-12">

        <!-- Card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header card-nav border-bottom-0">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h3 class="dt-card__title">{{ 'structure'|trans }}</h3>
                </div>
                <ul class="card-header-tabs nav nav-tabs nav-tabs-sm nav-scroll mx-0"
                    role="tablist">
                </ul>
            </div>
            <!-- /card header -->


            <!-- Tab Content-->
            <div class="tab-content">

                <!-- Tab panel -->
                <div id="popular" class="tab-pane active">

                    <!-- Card Body -->
                    <div class="card-body">
                        {% for struct in structure %}

                            <!-- Card -->
                            <div class="card shadow-none horizontal rounded-0 pb-8 border-bottom">

                                <!-- Slider -->
                                <div class="dt-slider rounded-xl overflow-hidden order-sm-2">

                                </div>
                                <!-- /slider -->

                                <!-- Card Stacked -->
                                <div class="card-stacked order-sm-1">

                                    <!-- Card Body -->
                                    <div class="card-body pt-sm-0 pb-0 px-0 pr-sm-6 pr-md-8">

                                        <!-- Card Title-->
                                        <h3 class="card-title font-weight-normal text-truncate">

                                        </h3>
                                        <!-- Card Title-->

                                        <!-- Card Sub Title-->
                                        <h5 class="card-subtitle">{{ struct.getAddress }} - {{ struct.getPostalcode }}, {{ struct.getCity }}</h5>
                                        <!-- /card sub title-->

                                        <!-- Pricing -->
                                        <div class="d-flex align-items-baseline price mb-1">
                                            <div class="col-12">
                                                <span class="d-block text-primary font-weight-500 display-5 mr-1">{{ struct.getLabel }}</span>
                                            </div>
                                            <div class="col-4">
                                                <button type="" class="btn btn-primary btn-block" onclick="window.location.href='{{ path('front_animator_panel', {'slug_structure': struct.getSlugStructure}) }}'">{{ 'acc-information'|trans }}</button>
                                            </div>
                                        </div>
                                        <!-- /pricing -->
                                    </div>
                                    <!-- /card body -->

                                </div>
                                <!-- /card stacked -->

                            </div>
                            <!-- /card -->
                        {% endfor %}

                    </div>
                    <!-- /card body -->

                </div>
                <!-- /tab panel -->

            </div>
            <!-- /tab content-->

        </div>
        <!-- /card -->

    </div>
    <!-- /grid item -->

{% endblock body %}


