{% extends "default/base.html.twig" %}
{% block body %}

    <div class="col-12">
        <!-- Card -->
        <p>{{ 'explicationEmoji1'|trans }}</p>
        <p>{{ 'explicationEmoji2'|trans }}</p>
        <p>{{ 'explicationEmoji3'|trans }}</p>
        <button id="reset" type="button" class="btn btn-outline-primary btn-lg mr-2  mb-2" onclick="resetPresence('{{ nameStructure }}')">♻️ Reset ♻️</button>

        {% if roleCurrentUser[0] == "ROLE_DIRECTEUR" %}
            <button type="button" onclick="window.location.href='{{ path('front_director_panel') }}'" class="btn btn-primary btn-lg mr-2 mb-2">{{ 'return'|trans }}</button>
        {% else %}
            <button type="button" onclick="window.location.href='{{ path('front_animator_panel', {'slug_structure': structure.getSlugStructure}) }}'" class="btn btn-primary btn-lg mr-2 mb-2">{{ 'return'|trans }}</button>
        {% endif %}
        <div class="dt-card dt-card__full-height pb-4">

            <!-- /card header -->

            <!-- Card Body -->
            <div class="dt-card__body p-80 max-h-400 ps-custom-scrollbar">

                <!-- Widget -->
                <div class="dt-widget dt-widget-hover-bg text-light-gray">

                    {% for kid in kids %}
                        <!-- Widget Item -->

                        <div class="dt-widget__item">

                            <!-- Widget Image -->
                            <div class="dt-widget__img">
                                <img src="https://eu.ui-avatars.com/api/?name={{ kid.getKid.lastname }}+{{ kid.getKid.firstname }}" alt="Logo" class="img-fluid max-w-105">
                            </div>
                            <!-- /widget image -->

                            <!-- Widget Info -->
                            <div class="dt-widget__info text-truncate">
                                <div class="dt-widget__title text-truncate">
                                    <a href="{{ path('front_director_profil_enfant', {'slug': kid.getKid.slug}) }}">{{ kid.getKid.lastname }} {{ kid.getKid.firstname }}</a>
                                    <span class="badge badge-sm badge-pill badge-success d-none d-sm-inline-block">{{ kid.getKid.gender }}</span>
                                </div>
                                <p class="dt-widget__subtitle text-truncate">
                                    {{ kid.getKid.getFamily.email }}</p>


                            </div>

                            {% if kid.presence == true %}
                                <button id="presence_{{ kid.getKid.id }}" name="presence" type="button" class="btn btn-outline-primary btn-lg mr-2 mb-2" value="true" onclick="checkPresence('{{ kid.getKid.id }}', '{{ nameStructure }}')">😀</button>
                            {% else %}
                                <button id="presence_{{ kid.getKid.id }}" name="presence" type="button" class="btn btn-outline-primary btn-lg mr-2 mb-2" value="false" onclick="checkPresence('{{ kid.getKid.id }}', '{{ nameStructure }}')">❌</button>
                            {% endif %}
                            <!-- /widget info -->
                        </div>
                        <!-- /widgets item -->


                    {% endfor %}
                </div>
                <!-- /widget -->
            </div>
            <!-- /card body -->

        </div>
        <!-- /card -->
        <!-- /grid item -->



    </div>

    {% block extrajs %}
        <script>
            function checkPresence(id, slugStructure) {

                if(document.getElementById('presence_'+id).value == 'true'){
                    document.getElementById('presence_'+id).innerHTML = '❌';
                    document.getElementById('presence_'+id).value = false;
                }
                else {
                    document.getElementById('presence_'+id).innerHTML = '😀';
                    document.getElementById('presence_'+id).value = true;
                }
                var boolean = document.getElementById('presence_'+id).value;

                $.ajax({
                    method: "POST",
                    url: '/fr/'+slugStructure+'/pointage/check',
                    data: {boolean: boolean, id: id, slugStructure: slugStructure},
                    success: function(data) {
                        console.log("events", data);
                    },
                    onerror: function(error) {
                        console.log("error", error);
                    }
                })
            }

            function resetPresence(slugStructure) {
                var boolean = false;
                var arrayButton = document.getElementsByName('presence');

                for (var i = 0; i < arrayButton.length; i++){
                    document.getElementsByName('presence')[i].innerHTML = '❌';
                    document.getElementsByName('presence')[i].value = false;
                }


                $.ajax({
                    method: "POST",
                    url: '/fr/'+slugStructure+'/pointage/reset',
                    data: {boolean: boolean},
                    success: function(data) {
                        console.log("events", data);
                    },
                    onerror: function(error) {
                        console.log("error", error);
                    }
                })
            }
        </script>
    {% endblock %}

{% endblock body %}