{% apply inky_to_html %}

<style type="text/css">
    body,
    html,
    .body {
        background: #f3f3f3 !important;
    }

    .container.header {
        background: #f3f3f3;
    }

    .body-border {
        border-top: 8px solid #663399;
    }
</style>
<!-- move the above styles into your custom stylesheet -->

{#<spacer size="16"></spacer>#}

<container class="header">
    <row>
        <columns>
            <center>
                <img src="{{ email.image('@images/logo.png') }}">
            </center>

        </columns>
    </row>
</container>

<container class="body-border">
    <row>
        <columns>

            <spacer size="32"></spacer>



            <spacer size="16"></spacer>

            <h2>Bienvenue sur kidszen</h2>
            <p>Vous pouvez vous connecter et commancer votre collaboration avec kidszen</p>

            <center>
                <menu>
                    <item href="#">kidszen.com</item>

                    <item href="#">(408)-555-0123</item>
                </menu>
            </center>

        </columns>
    </row>

    <spacer size="16"></spacer>
</container>
{% endapply %}
