{% apply inky_to_html %}

<style type="text/css">
    body,
    html {
        background: #f3f3f3 !important;
    }
    .header {
        background: #f3f3f3;
    }
</style>
<!-- move the above styles into your custom stylesheet -->

<spacer size="16"></spacer>

<container>

{#    <row class="header">#}
{#        <columns>#}

{#            <spacer size="16"></spacer>#}

{#            <h4 class="text-center" style="background: #f3f3f3">Kidszen</h4>#}
{#        </columns>#}
{#    </row>#}
    <row>
        <columns>

            <spacer size="32"></spacer>

            <center>
                <img src="{{ email.image('@images/logo.png') }}">
            </center>

            <spacer size="16"></spacer>

            <h1 class="text-center">Confirmer votre compte ?</h1>

            <spacer size="16"></spacer>

            <p class="text-center">Cliquez sur le lien ci-dessous pour confirmer votre compte.</p>
            <a href="http://127.0.0.1:8000/fr/account/confirm/{{ user.slug}}/{{ token }}">Confirmer votre compte</a>
            <p class="text-center">ce lien est valable jusqu'au {{ expiration_date|date('d/m/Y à h:i:s') }}</p>


            <hr/>

            <p><small>Vous recevez cet e-mail, car vous vous êtes inscrit aux mises à jour par e-mail.</small></p>
        </columns>
    </row>

    <spacer size="16"></spacer>
</container>
{% endapply %}
