{% apply inky_to_html %}

    <style type="text/css">
        body,
        html {
            background: #f3f3f3 !important;
        }
        .header {
            background: #f3f3f3;
        }
    </style>
    <!-- move the above styles into your custom stylesheet -->

    <spacer size="16"></spacer>

    <container>

        {#        <row class="header">#}
        {#            <columns>#}

        {#                <spacer size="16"></spacer>#}

        {#                <h4 class="text-center" style="background: #f3f3f3">Kidszen</h4>#}
        {#            </columns>#}
        {#        </row>#}
        <row>
            <columns>

                <spacer size="32"></spacer>

                <center>
                    <img src="{{ email.image('@images/logo.png') }}">
                </center>

                <spacer size="16"></spacer>

                <h1 class="text-center">Votre mot de passe a été bien modifié</h1>

                <spacer size="16"></spacer>



                <hr/>

                <p><small>Vous recevez cet e-mail, car vous vous êtes inscrit aux mises à jour par e-mail.</small></p>
            </columns>
        </row>

        <spacer size="16"></spacer>
    </container>

{% endapply %}
