{% apply inky_to_html %}

    <style type="text/css">
        body,
        html,
        .body {
            background: #f3f3f3 !important;
        }

        .container.header {
            background: #FFFFFF;
        }

        .body-border {
            border-top: 8px solid #663399;
        }
    </style>
    <!-- move the above styles into your custom stylesheet -->

    {#<spacer size="16"></spacer>#}

    <container class="header">
        <row>
            <columns>
                <center>
                    <img src="{{ email.image('@images/logo.png') }}">
                </center>

            </columns>
        </row>
    </container>

    <container class="body-border">
        <row>
            <columns>

                <spacer size="32"></spacer>

                <h2>Bienvenue sur kidszen</h2>


                <spacer size="16"></spacer>

                <p>Bonjour M. {{ user.getKid.getFamily.getFirstname }} {{ user.getKid.getFamily.getLastname }},
                    Suite à votre candidature dans notre structure "{{ user.getStructure.getLabel }}",

                    {% if user.validation == 'Valide' %}
                    le jury a déclaré
                    votre enfant "{{ user.getKid.getFirstname }} {{ user.getKid.getLastname }} " Admis dans notre
                    établissement. </p>

                    {% else %}
                        Malheuresement, le jury n'a pas donné une réponse positive à votre candiature pour votre enfant
                        "{{ user.getKid.getFirstname }} {{ user.getKid.getLastname }} "
                    {% endif %}
                <p>
                    Pour plus d'information, rendez-vous sur votre espace Kidszen.
                </p>
                <p>Cordialement.</p>
                <center>
                    <menu>
                        <item href="#">kidszen.com</item>

                        <item href="#">(408)-555-0123</item>
                    </menu>
                </center>

            </columns>
        </row>

        <spacer size="16"></spacer>
    </container>
{% endapply %}

