{% extends 'default/base.html.twig' %}

{% block extracss %}{% endblock %}

{% block body %}

    <div
        class="row">
        <!-- Grid Item -->
        <div
            class="col-4">
            <!-- Card -->
            <div class="dt-card dt-card__full-height" style="position: relative">

                <div style="position: absolute; top: 5px; right: 0; cursor: pointer" onclick="togglePop(event)">
                    <i class="icon icon-vertical-more icon-xl"></i>
                </div>
                <div id="popup_event" style="display: none; position: absolute; right: 0; top: 5px; background: white; border-radius: .4rem; border: 2px solid lightgray; padding: 5px; cursor: pointer">
                    <div class="dropdown-item" style="display: flex; align-items: center; justify-content: space-between" onclick="showForm(event)">Edit
                        <i class="material-icons">edit</i>
                    </div>
                    {{ include('default/events/_delete_form.html.twig') }}
                </div>
                <!-- Card Header -->
                <div
                    class="dt-card__header pt-6">

                    <!-- Card Heading -->
                    <div class="dt-card__heading" style="display: flex; justify-content: space-between; align-items: center;">
                        <h3 class="dt-card__title">{{ evenement.getLabel() }}</h3>
                        <img src="https://source.unsplash.com/200x200/?event" style="border-radius: .4rem" alt="image"/>
                    </div>
                    <!-- /card heading -->

                </div>
                <!-- /card header -->

                <!-- Card Body -->
                <div
                    class="dt-card__body">

                    <!-- Media -->
                    <div class="media mb-5">

                        <i class="icon icon-timer icon-xl mr-5"></i>

                        <!-- Media Body -->
                        <div class="media-body">
                            <span class="d-block text-light-gray f-12 mb-1">{{ 'Dates'|trans }}</span>
                            <p>Début :
                                {{ evenement.getStartdate()|date('"F jS \\a\\t g:ia"') }}</p>
                            <p>Fin :
                                {{ evenement.getEnddate()|date('"F jS \\a\\t g:ia"') }}</p>
                        </div>
                        <!-- /media body -->

                    </div>
                    <!-- /media -->

                    <!-- Media -->
                    <div class="media mb-5">

                        <i class="icon icon-description icon-xl mr-5"></i>

                        <!-- Media Body -->
                        <div class="media-body">
                            <span class="d-block text-light-gray f-12 mb-1">{{ 'Description'|trans }}</span>
                            <p>{{ evenement.getDescription() }}</p>
                        </div>
                        <!-- /media body -->

                    </div>
                    <!-- /media -->

                    <!-- Media -->
                    <div class="media mb-5">

                        <i class="icon icon-important icon-xl mr-5"></i>

                        <!-- Media Body -->
                        <div class="media-body">
                            <span class="d-block text-light-gray f-12 mb-1">Type</span>
                            <p>{{ evenement.getType() }}</p>
                        </div>
                        <!-- /media body -->

                    </div>
                    <!-- /media -->

                </div>
                <!-- /card body -->

            </div>
            <!-- /card -->
        </div>
        <!-- Card -->
        <!-- Grid Item -->
        <div
            class="col-4">
            <!-- Card -->
            <div
                class="dt-card dt-card__full-height">

                <!-- Card Header -->
                <div
                    class="dt-card__header pt-6">

                    <!-- Card Heading -->
                    <div class="dt-card__heading" style="display: flex; justify-content: space-between; align-items: center;">
                        <h3 class="dt-card__title">Animateurs</h3>
                    </div>
                    <!-- /card heading -->

                </div>
                <!-- /card header -->

                <!-- Card Body -->
                <div class="dt-card__body" style="display: flex; justify-content: space-between; align-items: flex-start;">

                    {% for responsible in evenement.getEventresponsible() %}
                        <div style="display: flex; flex-direction: column; width: 50px; justify-content: center; align-items: center">
                            <img class="dt-avatar dt-avatar__shadow size-50" src="https://eu.ui-avatars.com/api/?size=128&name={{ responsible.getFirstname() }}+{{ responsible.getLastname() }}" alt="Kayli Brown">
                                <div>{{ responsible.getFirstname() }}</div>
                                <div>{{ responsible.getLastname() }}</div>
                            </div>
                        {% endfor %}

                    </div>
                    <!-- /card body -->

                </div>
                <!-- /card -->
            </div>
            <!-- /grid item -->
            <!-- Grid Item -->
            <div
                class="col-4">

                <!-- Card -->
                <div
                    class="dt-card dt-card__full-height">

                    <!-- Card Header -->
                    <div
                        class="dt-card__header pt-6">

                        <!-- Card Heading -->
                        <div class="dt-card__heading" style="display: flex; justify-content: space-between; align-items: center;">
                            <h3 class="dt-card__title">Enfants</h3>
                        </div>
                        <!-- /card heading -->

                    </div>
                    <!-- /card header -->

                    <!-- Card Body -->
                    <div class="dt-card__body" style="display: flex; justify-content: space-between; align-items: flex-start;">

                        {% for kids in evenement.getKidsEvent() %}
                            <div style="display: flex; flex-direction: column; width: 50px; justify-content: center; align-items: center">
                                <img class="dt-avatar dt-avatar__shadow size-50" src="https://eu.ui-avatars.com/api/?size=128&name={{ kids.getFirstname() }}+{{ kids.getLastname() }}" alt="Kayli Brown">
                                    <div>{{ kids.getFirstname() }}</div>
                                    <div>{{ kids.getLastname() }}</div>
                                </div>
                            {% endfor %}

                        </div>
                        <!-- /card body -->

                    </div>
                    <!-- /card -->
                </div>
                <!-- /grid item -->

                <!-- Modal -->
                <div class="modal fade" id="defaul-modal" tabindex="-1" role="dialog" aria-labelledby="model-1" aria-hidden="true">
                    <div
                        class="modal-dialog" role="document">

                        <!-- Modal Content -->
                        <div
                            class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h3 class="modal-title" id="model-1">{{ evenement.getLabel() }}</h3>
                                <button type="button" class="close" onclick="closeModal(event)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- /modal header -->

                            <!-- Modal Body -->
                            <div
                                class="modal-body">
                                <!-- Form -->
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <!-- /form -->
                            </div>
                            <!-- /modal body -->

                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" onclick="closeModal(event)">Close
                                </button>
                                <button type="submit" class="btn btn-secondary btn-sm">{{ 'form.create'|trans }}</button>
                                {{ form_end(form) }}
                            </div>
                            <!-- /modal footer -->

                        </div>
                        <!-- /modal content -->

                    </div>
                </div>
                <!-- /modal -->
            </div>
        {% endblock %}

        {% block extrajs %}
            <script>
                function togglePop(event) {
                    event.stopPropagation();
                    event.preventDefault();
                    const popup = document.getElementById("popup_event");

                    popup.style.display = "block";
                }

                function showForm() {
                    let modal = document.getElementById("defaul-modal");

                    modal.removeAttribute("aria-hidden");
                    modal.setAttribute("aria-modal", true);
                    modal.classList.add("show");
                    modal.style.display = "block";
                    modal.style.overflow = "auto";
                }

                function closeModal(event) {
                    event.stopPropagation();
                    event.preventDefault();
                    const modal = document.getElementById("defaul-modal");

                    modal.removeAttribute("aria-modal");
                    modal.setAttribute("aria-hidden", true);
                    modal.classList.remove("show");
                    modal.style.display = "none";
                    modal.style.overflow = "hidden";

                }

                function closePopup(event) {
                    event.stopPropagation();
                    event.preventDefault();
                    const popup = document.getElementById("popup_event");

                    popup.style.display = "none";
                }
            </script>
        {% endblock %}
