{% extends 'default/base.html.twig' %}

{% block extracss %}
    <link rel="stylesheet" href="{{ asset('build/static/css/vanillaCalendar.css') }}">
    {% endblock %}

    {% block body %}
        {# <div class="cal">
                                                                                                                                                                                        <div class="cal__header">
                                                                                                                                                                                            <button class="btn btn-action btn-link btn-lg" data-calendar-toggle="previous"><svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                                                                                                                                                                    <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path></svg></button>
                                                                                                                                                                                            <div class="cal__header__label" data-calendar-label="month">
                                                                                                                                                                                                March 2017
                                                                                                                                                                                            </div><button class="btn btn-action btn-link btn-lg" data-calendar-toggle="next"> <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                                                                                                                                                                    <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path></svg></button>
                                                                                                                                                                                        </div>
                                                                                                                                                                                        <div class="cal__week">
                                                                                                                                                                                            <span>Mon</span> <span>Tue</span><span>Wed</span> <span>Thu</span> <span>Fri</span> <span>Sat</span> <span>Sun</span>
                                                                                                                                                                                        </div>
                                                                                                                                                                                        <div class="cal__body" data-calendar-area="month"></div>
                                                                                                                                                                                    </div>
                                                                                                                                                                                
                                                                                                                                                                                    <div class="dt-page__header">
                                                                                                                                                                                        <h1 class="dt-page__title">📣 {{ 'profil.events'|trans }}</h1>
                                                                                                                                                                                    </div>
                                                                                                                                                                                
                                                                                                                                                                                    <div class="row mt-5">
                                                                                                                                                                                        <div class="col-md-12">
                                                                                                                                                                                            <div class="dt-card">
                                                                                                                                                                                                <div class="dt-card__body results"></div>
                                                                                                                                                                                            </div>
                                                                                                                                                                                        </div>
                                                                                                                                                                                    </div> #}
        {# {{ dump(find)  }} #}
            <div class="calendar"> <div id="calendar-holder"></div>
            <!-- Modal -->
            <div class="modal fade" id="defaul-modal" tabindex="-1" role="dialog" aria-labelledby="model-1" aria-hidden="true">
                <div
                    class="modal-dialog" role="document">

                    <!-- Modal Content -->
                    <div
                        class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h3 class="modal-title" id="model-1"></h3>
                            <button type="button" class="close" onclick="closeModal(event)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!-- /modal header -->

                        <!-- Modal Body -->
                        <div
                            class="modal-body">
                            <!-- Form -->
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <!-- /form -->
                        </div>
                        <!-- /modal body -->

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" onclick="closeModal(event)">Close
                            </button>
                            <button type="submit" class="btn btn-secondary btn-sm">{{ 'form.create'|trans }}</button>
                            {{ form_end(form) }}
                        </div>
                        <!-- /modal footer -->

                    </div>
                    <!-- /modal content -->

                </div>
            </div>
            <!-- /modal -->
        </div>
    {% endblock %}

    {% block extrajs %}
        {# <script>var lienAjax = '{{ path('front_events_calendar') }}'; </script> #}
        {# <script src="{{ asset('build/static/js/vanillaCalendar.js') }}"></script> #}
        {# <script>
                                                                                                                                                                                            window.addEventListener('load', function () {
                                                                                                                                                                                                vanillacalendar.init();
                                                                                                                                                                                            })
                                                                                                                                                                                        </script> #}
            <script>
document.addEventListener('DOMContentLoaded', () => {
    var calendarEl = document.getElementById('calendar-holder');


    var calendar = new FullCalendar.Calendar(calendarEl, {
        defaultView: 'timeGridWeek',
        editable: true,
        eventLimit: true, // for all non-TimeGrid views,
        dayMaxEventRows: true, // for all non-TimeGrid views

        views: {
            dayGrid: {
                eventLimit: 4 // adjust to 4 only for timeGridWeek/timeGridDay
            },
            timeGrid: {
                eventLimit: 4 // adjust to 4 only for timeGridWeek/timeGridDay
            },
            week: {
                eventLimit: 4 // adjust to 4 only for timeGridWeek/timeGridDay
            },
            day: {
                eventLimit: 4 // adjust to 4 only for timeGridWeek/timeGridDay
            },
            agenda: {
                eventLimit: 4 // adjust to 6 only for agendaWeek/agendaDay
            }

        },
        eventClick: function (info) {
        location.href = `${location.href}/${info.event.id}`;

        },
        dateClick: function (info) {
            openModal(info);
        },
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        plugins: [
            'interaction', 'dayGrid', 'timeGrid', 'list'
        ], // https://fullcalendar.io/docs/plugin-index
        timeZone: 'local', // the default (unnecessary to specify)
        height: "parent",
        weekends: false,
        minTime: "8:00:00",
        maxTime: "19:00:00",
        nowIndicator: true,
        datesRender: function (info) {
            calendarEvents = calendar.getEvents();
            calendarEvents.map(event => {
                event.remove();
            })
            getEvents(moment(info.view.currentStart).format("YYYY-MM-DD"), moment(info.view.currentEnd).format("YYYY-MM-DD"), calendar);
        }
    });
    calendar.setOption('locale', 'fr');

    calendar.render();
});

function openModal(info, extendedProps) {
    let modal = document.getElementById("defaul-modal");
    let title = document.getElementById("model-1");
    let label = document.getElementById("evenement_label");
    let description = document.getElementById("evenement_description");
    let type = document.getElementById("evenement_type");
    let kidsevent = document.getElementById("evenement_kidsevent");
    let eventresponsible = document.getElementById("evenement_eventresponsible");
    let startdate = document.getElementById("evenement_startdate");
    let enddate = document.getElementById("evenement_enddate");
    let update = document.getElementById("evenement_update");
    let id = document.getElementById("evenement_id");

    let form = document.getElementsByName("evenement");

    modal.removeAttribute("aria-hidden");
    modal.setAttribute("aria-modal", true);
    modal.classList.add("show");
    modal.style.display = "block";
    modal.style.overflow = "auto";

    $("#model-1").append("Evenement du " + moment(info.dateStr).format("DD-MM-YYYY à hh:mm"));
    startdate.value = moment(info.dateStr).format("YYYY-MM-DDTHH:mm")

    if (extendedProps) {
        id.value = extendedProps.id;
        label.value = extendedProps.label;
        description.value = extendedProps.description;
        startdate.value = moment(info.event.start).format("YYYY-MM-DDTHH:mm");
        enddate.value = moment(info.event.end).format("YYYY-MM-DDTHH:mm");
        update.value = true;
        /* Iterate options of select element */

        for (const option of document.querySelectorAll('#evenement_type option')) { /* Parse value to integer */
            const value = Number.parseInt(option.value);

            /* If option value contained in values, set selected attribute */
            if (extendedProps.type === option.innerText) {
                option.setAttribute('selected', 'selected');
            }
            /* Otherwise ensure no selected attribute on option */ else {
                option.removeAttribute('selected');
            }
        }

        for (const option of document.querySelectorAll('#evenement_kidsevent option')) { /* Parse value to integer */
            const value = Number.parseInt(option.value);

            /* If option value contained in values, set selected attribute */
            if (extendedProps.kidsevent.some(kid => kid.id === value)) {
                option.setAttribute('selected', 'selected');
            }
            /* Otherwise ensure no selected attribute on option */ else {
                option.removeAttribute('selected');
            }
        }

        for (const option of document.querySelectorAll('#evenement_eventresponsible option')) { /* Parse value to integer */
            const value = Number.parseInt(option.value);

            /* If option value contained in values, set selected attribute */
            if (extendedProps.eventresponsible.some(responsible => responsible.id === value)) {
                option.setAttribute('selected', 'selected');
            }
            /* Otherwise ensure no selected attribute on option */ else {
                option.removeAttribute('selected');
            }
        }
    }
}

function closeModal(event) {
    event.stopPropagation();
    event.preventDefault();
    const modal = document.getElementById("defaul-modal");

    modal.removeAttribute("aria-modal");
    modal.setAttribute("aria-hidden", true);
    modal.classList.remove("show");
    modal.style.display = "none";
    modal.style.overflow = "hidden";

    $("#model-1").empty();
}

function getEvents(start, end, calendar) {
    $.ajax({
        method: "POST",
        url: '{{ path('front_events_calendar') }}',
        data: {
            start: start,
            end: end
        },
        success: function (data) {
            let events = formatEvent(data);
            events.map(event => {
                calendar.addEvent(event);
            })
        },
        onerror: function (error) {
            console.log("error", error);
        }
    })
}

function formatEvent(events) {
    return events.map(event => {
        return {
            ...event,
            title: event.label,
            start: convert(event.startdate.timestamp),
            end: convert(event.enddate.timestamp)
        }
    });
}

function convert(timestamp) { // Convert timestamp to milliseconds
    var date = new Date(timestamp * 1000);

    // Year
    var year = date.getFullYear();

    // Month
    var month = ("0" + (
        date.getMonth() + 1
    )).slice(-2);

    // Day
    var day = (date.getDate() < 10 ? '0' : '') + date.getDate();
    // Hours
    var hours = date.getHours();

    // Minutes
    var minutes = "0" + date.getMinutes();

    // Seconds
    var seconds = "0" + date.getSeconds();

    // Display date time in MM-dd-yyyy h:m:s format
    var convdataTime = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
    return moment(convdataTime).format("YYYY-MM-DDTHH:mm:ss");

}
    </script>
{% endblock %}
