<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}KidsZen
			{% endblock %}
		</title>

		<!-- Site favicon -->
		<link
		rel="shortcut icon" href={{ asset('./build/static/images/logo.png')}} type="image/x-icon">
		<!-- /site favicon -->

		{% block stylesheets %}
			<!--Import Google Icon Font-->
			<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<!--Import materialize.css-->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
			<link rel="stylesheet" href="{{ asset('build/vendors~front.css') }}">
			{# <link
									rel="stylesheet" href="{{ asset('build/front.css') }}"> #}

			<!-- Font Icon Styles -->
			<link rel="stylesheet" href="{{ asset('build/static/template/node_modules/flag-icon-css/css/flag-icon.min.css')}}"> <link rel="stylesheet" href="{{ asset('build/static/template/vendors/gaxon-icon/styles.css')}}">
			<!-- /font icon Styles -->

			<!-- Perfect Scrollbar stylesheet -->
			<link rel="stylesheet" href="{{ asset('build/static/template/node_modules/perfect-scrollbar/css/perfect-scrollbar.css')}}"> <!-- /perfect scrollbar stylesheet -->

			<!-- Load Styles -->
		<link
			rel="stylesheet" href="{{ asset('build/static/template/assets/css/semidark-style-1.min.css')}}"> <!-- /load styles -->
		{% endblock %}

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		{# {% if login is not defined %}
									<nav class="animated flipInX">
										<div class="nav-wrapper kz-bg-shakespeare">
											<a href="#" class="brand-logo"><img src="{{ asset('./build/static/images/logo.png')}}" width="100"/>
												<ul id="nav-mobile" class="right hide-on-med-and-down">
													<li class="{{app.request.get('_route') == 'front_default_index' ? 'active'}}">
														<a href="{{ path('front_default_index') }}">{% trans %}
															Home
															{% endtrans %}</a>
													</li>
													<li class="{{app.request.get('_route') == 'front_user_index' ? 'active'}}">
														<a href="{{ path('front_user_index') }}">{% trans %}
															Users
															{% endtrans %}</a>
													</li>
													{% if is_granted('ROLE_ADMIN') %}
														{
														<li class="{{app.request.get('_route') == 'back_default_index' ? 'active'}}">
															<a href="{{ path('back_default_index') }}">{% trans %}
																Admin
																{% endtrans %}</a>
														</li>
														}
													{% endif %}
													{% if app.user %}
						
														<li>
															<a class='dropdown-trigger primary' href='#' data-target='dropdown1'>
																<i class="material-icons left">account_circle</i>
																{{app.user.firstName}}
																{{app.user.lastName}}
															</a>
															<ul id='dropdown1' class='dropdown-content'>
																<li class="{{app.request.get('_route') == 'front_login' ? 'active'}}">
																	<a href="{{ path('front_user_show', {'id': app.user.id}) }}">
																		<i class="material-icons left">person</i>
																		{% trans %}
																		Profil
																		{% endtrans %}</a>
																</li>
																<li class="divider" tabindex="-1"></li>
																<li class="{{app.request.get('_route') == 'front_login' ? 'active'}}">
																	<a href="{{ path('front_logout')}}">
																		<i class="material-icons left">exit_to_app</i>
																		{% trans %}
																		Log out
																		{% endtrans %}</a>
																</li>
															</ul>
														</li>
													{% else %}
														<li class="{{app.request.get('_route') == 'front_login' ? 'active'}}">
															<a href="{{path('front_login')}}">{% trans %}
																Sign in
																{% endtrans %}</a>
														</li>
													{% endif %}
						
												</ul>
											</div>
										</nav>
									{% endif %} #}
		<!-- Navbar -->
			<div class="dt-col-xl-12"> <nav class="navbar navbar-expand navbar-dark bg-dark mb-5">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu-2" aria-controls="mobile-menu-2" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="mobile-menu-2">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Dropdown
							</a>
							<div class="dropdown-menu" aria-labelledby="navbar-dropdown-2">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#">Disabled</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- /navbar -->

		{% block body %}{% endblock %}
	</body>
	{% block javascripts %}{% endblock %}
	{# <script src="{{ asset('build/static/js/front.js') }}"></script>
	<script src="{{ asset('build/front.js') }}"></script>
	<script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
	<script type="text/javascript" src="{{ asset('build/vendors~front.js') }}"></script> #}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
		/* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
particlesJS.load('particles-js', '{{ asset('build/static/json/particlesjs-config.json') }}', function () {
console.log('callback - particles.js config loaded');
});

var flashBag = {{ app.session.flashbag.all() | json_encode | raw }};
for (const [type, messages] of Object.entries(flashBag)) {
for (const message of messages) {
M.toast({html: message, classes: type, displayLength: 5000});
}
}

$(document).ready(function () {
$('.sidenav').sidenav();
});
	</script>
</html></body></html>
