{% extends "default/base.html.twig" %}
{% block body %}

    {% for label, messages in app.flashes(['success', 'warning']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} pb-3" role="alert">
                {{ message }}
            </div>

        {% endfor %}
    {% endfor %}
    <div class="col">

        <!-- Entry Header -->
        <div class="dt-entry__header">

            <!-- Entry Heading -->
            <div class="dt-entry__heading">
                <h3 class="dt-entry__title">
                    {% if history is defined %}
                        Historique des candidatures

                    {% else %}
                        Candidatures

                    {% endif %}
                </h3>
            </div>
            <!-- /entry heading -->

        </div>
        <!-- /entry header -->

        <!-- Card -->
        <div class="dt-card overflow-hidden">

            <!-- Card Body -->
            <div class="dt-card__body p-0">

                <!-- Tables -->
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th class="text-uppercase" scope="col">Nom</th>
                            <th class="text-uppercase" scope="col">Sex</th>
                            <th class="text-uppercase" scope="col">Age</th>
                            <th class="text-uppercase" scope="col">Parent</th>
                            <th class="text-uppercase" scope="col">Adresse</th>
                            <th class="text-uppercase" scope="col">Structure</th>
                            <th class="text-uppercase" scope="col">Adresse-Structure</th>
                            <th class="text-uppercase" scope="col">Date de candidature</th>
                            {% if history is defined %}
                                <th class="text-uppercase" scope="col">Date de réponse</th>
                                <th class="text-uppercase" scope="col">Réponse</th>

                            {% else %}
                                <th class="text-uppercase" scope="col">Action</th>
                            {% endif %}


                        </tr>
                        </thead>
                        <tbody>
                        {% for appli in applications %}

                        <tr>
                            <th scope="row">{{ appli.getKid.getId }}</th>
                            <td><a href="{{ path('front_director_profil_enfant', {'slug': appli.getKid.getSlug}) }}"
                                   class="btn-link text-warning">{{ appli.getKid.getFirstname }} {{ appli.getKid.getLastname }} </a>
                            </td>
                            <td>{% if appli.getKid.getGender == 'male' %} Garçon {% else %} Fille {% endif %}</td>
                            {% set age = appli.getKid.getBirthday.diff(date("now"|date("m/d/Y")),true).y %}
                            <td>{{ age }} ans</td>
                            <td><a href="{{ path('front_director_profil_enfant', {'slug': appli.getKid.getSlug}) }}"
                                   class="btn-link text-warning">{{ appli.getKid.getFamily.getFirstname }} {{ appli.getKid.getFamily.getLastname }}</a>
                            </td>
                            <td> {{ appli.getKid.getAddress }} {{ appli.getKid.getPostalcode }}{{ appli.getKid.getCity }}  </td>
                            <td>{{ appli.getStructure.getLabel }}</td>
                            <td> {{ appli.getStructure.getAddress }} {{ appli.getStructure.getPostalcode }}{{ appli.getStructure.getCity }}</td>
                            <td> {{ appli.ApplicationCreatedAt|date(" H:i:s m/d/Y ") }} </td>


                            {% if history is defined %}
                                <td>{{ appli.getResponseCreatedAt| date(" H:i:s m/d/Y ") }}</td>
                                <td>
                                    <span class="badge badge-{% if appli.getValidation =='Valide' %}success {% else %}danger {% endif %} mb-1 mr-1">
                                        {{ appli.getValidation }}
                                    </span>
                                </td>

                            {% else %}
                                <td>
                                    <div class="btn-group btn-group-toggle mb-2">
                                        <a href="{{ path('front_director_candidature_accept' , {'slugEnfantStructure': appli.slugEnfantStructure}) }}">
                                            <button type="button" class="btn btn-outline-success btn-sm mr-1 ">Accepter
                                            </button>
                                        </a>
                                        <a href="{{ path('front_director_candidature_refus' , {'slugEnfantStructure': appli.slugEnfantStructure}) }}">
                                            <button type="button" class="btn btn-outline-danger btn-sm ">Refuser
                                            </button>
                                        </a>
                                    </div>

                                </td>

                            {% endif %}

                        </tr>
                        {% else %}

                               <div class="dt-page__header">
                                   <h2 class="dt-page__title text-danger">Aucune candidature...</h2>
                               </div>

                        {% endfor %}
                        </tbody>

                    </table>
                </div>
                <!-- /tables -->

            </div>
            <!-- /card body -->

        </div>
        <!-- /card -->

    </div>
{% endblock body %}
