{% extends "default/base.html.twig" %}
{% block body %}

    {% for label, messages in app.flashes(['success', 'warning']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} pb-3" role="alert">
                {{ message }}
            </div>

        {% endfor %}
    {% endfor %}


    <div class="dt-content">

        <!-- Page Header -->
        <div class="dt-page__header">
            <h1 class="dt-page__title">Les enfants de ma structure</h1>
        </div>
        <!-- /page header -->

        <!-- Grid -->
        <div class="row">

            {% for kid in EnfantStructures %}
                <!-- Grid Item -->
                <div class="col-6 col-md-4 col-sm-6 col-12">

                    <!-- Card -->
                    <div class="card border-success border-danger">

                        <!-- Card Body -->
                        <div class="card-body">

                            <!-- User Avatar-->
                            <img class="dt-avatar size-60"
                                 src="{{ kid.getKid.getGender == 'male' ? 'https://icons-for-free.com/iconfiles/png/512/boy+character+man+school+boy+user+icon-1320085976501561317.png' : 'http://getdrawings.com/free-icon/facebook-female-profile-icon-65.png' }}"
                                 alt="User">
                            <!-- /user avatar-->

                            <div class="mt-7">
                                <h4 class="mb-1 mb-sm-0">{{ kid.getKid.firstname }} {{ kid.getKid.lastname|upper }}</h4>
                                <span class="d-block text-light-gray mb-5">{{ kid.getKid.getAge }}</span>
                                <a href="{{ path('front_director_enfants_active', {'slugEnfantStructure': kid.getSlugEnfantStructure}) }}"
                                   class="btn  {% if kid.getValidation == 'Bloque' %} btn-danger  {% elseif kid.getValidation == 'Valide' %} btn-outline-danger{% endif %} btn-block">
                                    {% if kid.getValidation == 'Bloque' %}
                                        Activer
                                    {% elseif kid.getValidation == 'Valide' %}
                                        Désactivé
                                    {% endif %}


                                    le compte</a>

                            </div>


                            <div class="action-tools">
                                <!-- Checkbox -->
                                <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only">
                                    <input id="checkbox-1" type="checkbox" checked="">
                                    <label class="font-weight-light dt-checkbox-content" for="checkbox-1">
                                        <span class="unchecked"><i class="icon icon-star-o text-light-gray icon-xl"></i></span>
                                        <span class="checked"><i class="icon icon-star-fill text-secondary icon-xl"></i></span>
                                    </label>
                                </div>
                                <!-- /checkbox -->

                                <!-- Dropdown -->
                                <div class="dropdown">
                                    <a id="kid-link" class="dropdown-toggle no-arrow" href="#" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <i class="icon icon-horizontal-more icon-fw icon-lg text-light-gray"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">

                                        <a id="kid-link-profil" class="dropdown-item"
                                           href="{{ path('front_director_profil_enfant', {'slug': kid.getKid.getSlug}) }}">
                                            <i class="icon icon-contacts icon-fw"></i>
                                            Voir le profil</a>

                                    </div>
                                </div>
                                <!-- /dropdown -->
                            </div>

                        </div>
                        <!-- /card body -->

                    </div>
                    <!-- /card -->

                </div>
                <!-- /grid item -->
            {% else %}
                <div class="dt-page__header">
                    <h2 class="dt-page__title text-danger">Aucun enfant</h2>
                </div>
            {% endfor %}


        </div>
        <!-- /grid -->

    </div>

{% endblock body %}
