{% extends "default/base.html.twig" %}
{% block body %}
<h1 class="dt-page__title">Kidszen directeur</h1>

    <div class="row">
        <div
            class="col-4">
            <!-- Card -->
            <div
                class="dt-card dt-card__full-height pb-4">

                <!-- Card Body -->
                <div class="dt-card__body p-0 max-h-400 ps-custom-scrollbar">
                    <div style="padding: 10px" class="calendar">
                        <div id="calendar-holder"></div>
                    </div>
                </div>
                <!-- /card body -->

            </div>
            <!-- /card -->
            <!-- /grid item -->
        </div>
        <div
            class="col-4">
            <!-- Card -->
            <div
                class="dt-card dt-card__full-height pb-4">

                <!-- Card Header -->
                <div
                    class="dt-card__header mb-3">

                    <!-- Card Tools -->
                    <div
                        class="dt-card__tools">

                        <!-- Dropdown -->
                        <div class="dropdown d-inline-block">
                            <h3 class="dt-card__title">{{ 'enfantStructure'|trans }}</h3>

                        </div>
                        <!-- /dropdown -->

                    </div>
                    <!-- /card tools -->

                </div>
                <!-- /card header -->

                <!-- Card Body -->
                <div
                    class="dt-card__body p-0 max-h-400 ps-custom-scrollbar">
                    <!-- Widget -->
                    <div class="dt-widget dt-widget-hover-bg text-light-gray">
                        {% for kid in kids %}
                            <!-- Widget Item -->
                            <div
                                class="dt-widget__item">

                                <!-- Widget Image -->
                                <div class="dt-widget__img">
                                    <img src="https://eu.ui-avatars.com/api/?name={{ kid.getKid.lastname }}+{{ kid.getKid.firstname }}" alt="Logo" class="img-fluid max-w-105"></div>
                                    <!-- /widget image -->

                                    <!-- Widget Info -->
                                    <div class="dt-widget__info text-truncate">
                                        <div class="dt-widget__title text-truncate">
                                            <a href="{{ path('front_director_profil_enfant', {'slug': kid.getKid.slug}) }}">{{ kid.getKid.lastname }}
                                                {{ kid.getKid.firstname }}</a>
                                            <span class="badge badge-sm badge-pill badge-success d-none d-sm-inline-block">{{ kid.getKid.gender }}</span>
                                        </div>
                                        <p class="dt-widget__subtitle text-truncate">
                                            {{ kid.getKid.getFamily.email }}</p>
                                    </div>
                                    <!-- /widget info -->
                                </div>
                                <!-- /widgets item -->
                            {% endfor %}
                        </div>
                        <!-- /widget -->
                    </div>
                    <!-- /card body -->

                </div>
                <!-- /card -->
                <!-- /grid item -->
            </div>
            <!-- Grid Item -->
            <div
                class="col-4">

                <!-- Card -->
                <div
                    class="dt-card dt-card__full-height">

                    <!-- Card Header -->
                    <div
                        class="dt-card__header pt-6">

                        <!-- Card Heading -->
                        <div class="dt-card__heading">
                            <h3 class="dt-card__title">Contact</h3>
                        </div>
                        <!-- /card heading -->

                    </div>
                    <!-- /card header -->

                    <!-- Card Body -->
                    <div
                        class="dt-card__body">

                        <!-- Media -->
                        <div class="media mb-5">

                            <i class="icon icon-mail icon-xl mr-5"></i>

                            <!-- Media Body -->
                            <div class="media-body">
                                <span class="d-block text-light-gray f-12 mb-1">{{ 'address'|trans }}</span>
                                <a href="javascript:void(0)">{{ structure.getAddress }}</br>
                            </a>
                            <a href="javascript:void(0)">{{ structure.getPostalcode }},
                                {{ structure.getCity }}</br>
                        </a>
                        <a href="javascript:void(0)">{{ structure.getCountry }}</a>
                    </div>
                    <!-- /media body -->

                </div>
                <!-- /media -->

                <!-- Media -->
                <div class="media mb-5">

                    <i class="icon icon-mail icon-xl mr-5"></i>

                    <!-- Media Body -->
                    <div class="media-body">
                        <span class="d-block text-light-gray f-12 mb-1">{{ 'Email'|trans }}</span>
                        <a href="javascript:void(0)">{{ structure.getEmail }}</a>
                    </div>
                    <!-- /media body -->

                </div>
                <!-- /media -->

                <!-- Media -->
                <div class="media mb-5">

                    <i class="icon icon-link icon-xl mr-5"></i>

                    <!-- Media Body -->
                    <div class="media-body">
                        <span class="d-block text-light-gray f-12 mb-1">Web Page</span>
                        <a href="javascript:void(0)">example.com</a>
                    </div>
                    <!-- /media body -->

                </div>
                <!-- /media -->

                <!-- Media -->
                <div class="media">

                    <i class="icon icon-phone-o icon-xl mr-5"></i>

                    <!-- Media Body -->
                    <div class="media-body">
                        <span class="d-block text-light-gray f-12 mb-1">{{ 'phone'|trans }}</span>
                        <span class="h5">{{ structure.getTel }}</span>
                    </div>
                    <!-- /media body -->

                </div>
                <!-- /media -->
            </div>
            <!-- /card body -->

        </div>
        <!-- /card -->
    </div>

    <!-- /grid item -->
</div>

<div class="row">
    <div class="col-12">
        <h3 class="dt-card__title" style="text-align: center; margin-bottom: 40px">{{ 'animStructure'|trans }}</h3>
        <div
            class="w-100 ps-custom-scrollbar mb-6">
            <!-- List -->
            <ul class="dt-list dt-list-xxl dt-list-bordered flex-nowrap">

                {% for anim in animators %}
                    <!-- List Item -->
                    <li class="dt-list__item text-center col">
                        <div
                            class="dt-avatar-wrapper flex-column">
                            <!-- Image -->
                            <img src="https://eu.ui-avatars.com/api/?size=128&name={{ anim.firstname }}+{{ anim.lastname }}" alt="Noah Owens" class="dt-avatar mb-4 size-80">

                                <!-- /image -->
                                <!-- Content -->
                                    <div class="dt-avatar-info"> <span class="dt-avatar-name mb-1 text-nowrap">{{ anim.firstname }}
                                        {{ anim.lastname }}</span>

                                </div>
                                <!-- /content -->
                            </div>
                        </li>
                        <!-- /list item -->
                    {% endfor %}
                </ul>
                <!-- /list -->
            </div>
        </div>

        <!-- Grid Item -->

    </div>

    <!-- Card -->
    <div
        class="dt-card">

        <!-- Card Header -->
        <div
            class="dt-card__header">

            <!-- Card Heading -->
            <div class="dt-card__heading">
                <h3 class="dt-card__title">{{ 'information'|trans }}
                    -
                    {{ structure.getLabel }}</h3>
            </div>
            <!-- /card heading -->

        </div>
        <!-- /card header -->

        <!-- Card Body -->
        <div
            class="dt-card__body">


            <!-- Grid -->
            <div
                class="row">

                <!-- Grid Item -->
                <div class="col-xl-4 col-md-6 mb-8 mb-xl-0">

                    <div class="row no-gutters mb-5 border-bottom">
                        <div
                            class="col-6">
                            <!-- Chart -->
                            <canvas id="chart-all-member-structure" width="200" height="200"></canvas>
                            <!-- /chart -->
                        </div>

                        <div class="col-6 d-flex">
                            <div class="d-flex flex-column justify-content-end align-items-end flex-fill">
                                <i class="icon icon-smart-phone text-white"></i>
                            </a>

                            <div class="text-dark display-3 font-weight-500 mb-5">
                                <span id="lead-number">{{ getStructureCountAll }}</span>
                                <span class="h3">Personnes</span>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="dt-list dtdt-list-col-4">

                    <li class="dt-list__item">
                        <div class="d-flex align-items-center">
                            <span class="dot-shape dot-shape-lg bg-sky-blue mr-2"></span>
                            <span class="d-inline-block">Directeur</span>
                        </div>
                    </li>

                    <li class="dt-list__item">
                        <div class="d-flex align-items-center">
                            <span class="dot-shape dot-shape-lg bg-danger mr-2"></span>
                            <span class="d-inline-block">Animateurs</span>
                        </div>
                    </li>

                    <li class="dt-list__item">
                        <div class="d-flex align-items-center">
                            <span class="dot-shape dot-shape-lg bg-yellow mr-2"></span>
                            <span class="d-inline-block">Enfants</span>
                        </div>
                    </li>
                </ul>

            </div>
            <!-- /grid item -->

            <!-- Grid Item -->
            <div class="col-xl-4 col-md-6 px-xl-10 pl-md-10 mb-8 mb-md-0">
                <div class="h4 mb-2">{{ 'countListeDirecteurStructure'|trans }}</div>

                <ul class="dt-list flex-column">
                    <li class="dt-list__item">
                        <div class="d-flex align-items-center">

                            <span class="text-dark mr-1">
                                👩‍⚖️ Directeur 👨‍⚖️</span>
                            <span class="ml-auto">1</span>
                        </div>
                    </li>
                    <li class="dt-list__item">
                        <div class="d-flex align-items-center">

                            <span class="text-dark mr-1">👩‍🏫
                                {{ 'animator'|trans }}
                                👨‍🏫</span>
                            <span class="ml-auto">{{ getStructureCountAnimator }}</span>
                        </div>
                    </li>
                    <li class="dt-list__item">
                        <div class="d-flex align-items-center">

                            <span class="text-dark mr-1">🧟‍♀️
                                {{ 'kid'|trans }}
                                🧟‍♂️</span>
                            <span class="ml-auto">{{ getStructureCountKids }}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /grid item -->

            <!-- Grid Item -->
            <div class="col-xl-4">
                <div>Graphique de pointage</div>
                <canvas id="chart-all-kids-structure" width="736" height="367" class="chartjs-render-monitor" style="display: block; height: 294px; width: 589px;"></canvas>
                <button type="button" onclick="window.location.href='{{ path('front_animateur_show_pointage', {'slug_structure': structure.getSlugStructure}) }}'" class="btn btn-primary btn-lg mr-2 mb-2">{{ 'gestionEF'|trans }}</button>
            </div>
            <!-- /grid item -->

        </div>
        <!-- /grid -->


    </div>
    <!-- /card body -->
    <!-- /card -->

{% endblock body %}
{% block extrajs %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');


            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'listDay',
                editable: false,
                eventLimit: true, // for all non-TimeGrid views,
                dayMaxEventRows: true, // for all non-TimeGrid views

                views: {
                    dayGrid: {
                        eventLimit: 4 // adjust to 4 only for timeGridWeek/timeGridDay
                    },
                    timeGrid: {
                        eventLimit: 4 // adjust to 4 only for timeGridWeek/timeGridDay
                    },
                    week: {
                        eventLimit: 4 // adjust to 4 only for timeGridWeek/timeGridDay
                    },
                    day: {
                        eventLimit: 4 // adjust to 4 only for timeGridWeek/timeGridDay
                    },
                    agenda: {
                        eventLimit: 4 // adjust to 6 only for agendaWeek/agendaDay
                    }

                },
                eventClick: function (info) {
                },
                dateClick: function (info) {
                },
                header: {},
                plugins: ['list'], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'local', // the default (unnecessary to specify)
                height: "parent",
                weekends: false,
                minTime: "8:00:00",
                maxTime: "19:00:00",
                nowIndicator: true,
                datesRender: function (info) {
                    calendarEvents = calendar.getEvents();
                    calendarEvents.map(event => {
                        event.remove();
                    })
                    getEvents(moment(info.view.currentStart).format("YYYY-MM-DD"), moment(info.view.currentEnd).format("YYYY-MM-DD"), calendar);
                }
            });
            calendar.setOption('locale', 'fr');

            calendar.render();
        });

        function getEvents(start, end, calendar) {
            $.ajax({
                method: "POST",
                url: '{{ path('front_events_calendar') }}',
                data: {
                    start: start,
                    end: end
                },
                success: function (data) {
                    let events = formatEvent(data);
                    events.map(event => {
                        calendar.addEvent(event);
                    })
                },
                onerror: function (error) {
                    console.log("error", error);
                }
            })
        }

        function formatEvent(events) {
            return events.map(event => {
                return {
                    ...event,
                    title: event.label,
                    start: convert(event.startdate.timestamp),
                    end: convert(event.enddate.timestamp)
                }
            });
        }

        function convert(timestamp) { // Convert timestamp to milliseconds
            var date = new Date(timestamp * 1000);

            // Year
            var year = date.getFullYear();

            // Month
            var month = ("0" + (
                date.getMonth() + 1
            )).slice(-2);

            // Day
            var day = (date.getDate() < 10 ? '0' : '') + date.getDate();
            // Hours
            var hours = date.getHours();

            // Minutes
            var minutes = "0" + date.getMinutes();

            // Seconds
            var seconds = "0" + date.getSeconds();

            // Display date time in MM-dd-yyyy h:m:s format
            var convdataTime = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
            return moment(convdataTime).format("YYYY-MM-DDTHH:mm:ss");

        }
    </script>
{% endblock %}
