{% extends 'default/base.html.twig' %}

{% block body %}

    <!-- Card -->
    <div class="dt-card dt-card-performance">

        <!-- Card Header -->
        <div class="dt-card__header bg-primary text-white">

            <!-- Card Heading -->
            <div class="dt-card__heading">
                <!-- Icon -->
                <a href="javascript:void(0)" class="d-inline-block text-white mr-2">
                    <i class="icon icon-charts icon-lg icon-fw"></i>
                </a>

            </div>
            <!-- /card heading -->

        </div>
        <!-- /card header -->

        <!-- Card Body -->
        <div class="dt-card__body text-center">

            <!-- Avatar -->
            <img class="dt-avatar user-avatar size-70"
                 src="{{ kid.gender == 'male' ? 'https://icons-for-free.com/iconfiles/png/512/boy+character+man+school+boy+user+icon-1320085976501561317.png' : 'http://getdrawings.com/free-icon/facebook-female-profile-icon-65.png' }}"
                 alt="User">
            <!-- /avatar -->

            <div class="dt-avatar-info mb-2">
                <h4 class="h2 dt-avatar-name mb-2">{{ kid.firstname }} {{ kid.lastname|upper }}</h4>
                <h5 class="card-subtitle mb-0">{% if kid.getGender == 'male' %}Garçon {% else %} Fille ) {% endif %}</h5>

            </div>
            <div class="trending-section justify-content-center text-primary">
                <span class="value h2">{{ kid.getAge }}</span>
            </div>
            <p class="mb-0 f-12">{{ kid.birthday|date('Y-m-d') }}</p>
        </div>
        <!-- /card body -->

    </div>
    <!-- /card -->
    <div class="card overflow-hidden">

        <!-- Card Body -->
        <div class="card-body pt-0">
            <h3 class="dt-page__title pt-3">🔧 Informations de l'enfant</h3>


            <!-- Tables -->
            <div class="table-responsive ">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th class="text-uppercase" scope="col">Age</th>
                        <th class="text-uppercase" scope="col">adresse</th>
                        <th class="text-uppercase" scope="col">Nº de sécurité social</th>
                        <th class="text-uppercase" scope="col">Responsabilité civile</th>
                        <th class="text-uppercase" scope="col">Nº de responsabilité civile</th>
                        <th class="text-uppercase" scope="col">Droit d'image</th>
                        <th class="text-uppercase" scope="col">Droite de sortie</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% set age = kid.getBirthday.diff(date("now"|date("m/d/Y")),true).y %}

                        <td>{{ age }}</td>
                        <td>{{ kid.getFamily.getAddress }} {{ kid.getFamily.getPostalcode }}{{ kid.getFamily.getCity }}</td>
                        <td>{{ kid.numsocialsecurity }}</td>
                        <td>{{ kid.namepublicliability }}</td>
                        <td>{{ kid.namepublicliability }}</td>
                        <td>{{ kid.imageright }}</td>
                        <td>{{ kid.outingright }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <!-- /tables -->

        <h3 class="dt-page__title">🔧 Informations du parent</h3>
        <!-- Tables -->
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                <tr>
                    <th class="text-uppercase" scope="col">Nom</th>
                    <th class="text-uppercase" scope="col">Date de naissance</th>
                    <th class="text-uppercase" scope="col">Tel</th>
                    <th class="text-uppercase" scope="col">Email</th>
                    <th class="text-uppercase" scope="col">adresse</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    {% set age = kid.getBirthday.diff(date("now"|date("m/d/Y")),true).y %}

                    <td>{{ kid.getFamily.getLastname }} {{ kid.getFamily.getFirstname }}</td>
                    <td>{{ kid.getFamily.getBirthday|date('Y-m-d') }}</td>
                    <td>{{ kid.getFamily.getTel }} </td>
                    <td>{{ kid.getFamily.getEmail }} </td>
                    <td>{{ kid.getFamily.getAddress }} {{ kid.getFamily.getPostalcode }}{{ kid.getFamily.getCity }}</td>

                </tr>

                </tbody>
            </table>

        </div>

    </div>


    <!-- /card body -->


    <div class="dt-page__header">
        <h1 class="dt-page__title">📝 {{ 'kidProfil.basicInfos'|trans }}</h1>
    </div>
    <div class="row">
        {% if kid.diet is not null %}
            <div class="col-xl-6 col-sm-6">

                <!-- Card -->
                <div class="dt-card bg-primary text-white">

                    <!-- Card Body -->
                    <div class="dt-card__body p-xl-8 py-sm-8 py-6 px-4">
                        <!-- Media -->
                        <div class="media">

                            <i class="icon icon-noodles icon-6x mr-6 align-self-center"></i>

                            <!-- Media Body -->
                            <div class="media-body">
                                <div class="display-5 font-weight-600 mb-1 init-counter">{{ 'kidProfil.food'|trans }}</div>
                                <span class="d-block">{{ kid.diet }}</span>
                            </div>
                            <!-- /media body -->

                        </div>
                        <!-- /media -->
                    </div>
                    <!-- /card body -->

                </div>
                <!-- /card -->
            </div>
        {% endif %}
        {% if kid.midicalinfo is not null %}
            <div class="col-xl-6 col-sm-6">

                <!-- Card -->
                <div class="dt-card bg-secondary text-white">

                    <!-- Card Body -->
                    <div class="dt-card__body p-xl-8 py-sm-8 py-6 px-4">
                        <!-- Media -->
                        <div class="media">

                            <i class="icon icon-heart-o icon-6x mr-6 align-self-center"></i>

                            <!-- Media Body -->
                            <div class="media-body">
                                <div class="display-5 font-weight-600 mb-1 init-counter">{{ 'kidProfil.medical'|trans }}</div>
                                <span class="d-block">{{ kid.midicalinfo }}</span>
                            </div>
                            <!-- /media body -->
                        </div>
                        <!-- /media -->
                    </div>
                    <!-- /card body -->
                </div>
                <!-- /card -->
            </div>
        {% endif %}
    </div>


    {% if kid.events|length != 0 %}
        <div class="dt-page__header">
            <h1 class="dt-page__title">🎪 {{ 'profil.events'|trans }}</h1>
        </div>
        <!-- Card -->
        <div class="dt-card">

            <!-- Card Header -->
            <div class="dt-card__header">

                <!-- Card Heading -->
                <div class="dt-card__heading">
                    <h3 class="dt-card__title">{{ 'profil.activities'|trans }}</h3>
                </div>
                <!-- /card heading -->

            </div>
            <!-- /card header -->
            <!-- Card Body -->

            <div class="dt-card__body">
                {% for event in kid.events|slice(0, 1) %}
                    <!-- Card -->
                    <div class="card shadow-none horizontal rounded-0 pb-8 border-bottom">

                        <!-- Slider -->
                        <div class="dt-slider rounded-xl overflow-hidden">

                            <!-- Slider Header -->
                            <div class="dt-slider__header">
                                <span class="badge bg-orange text-white text-uppercase">{{ kid.firstname }} {{ kid.lastname }}</span>
                            </div>
                            <!-- /slider header -->
                            <img class="img-fluid" src="https://via.placeholder.com/250x150" alt="Beach">

                        </div>
                        <!-- /slider -->

                        <!-- Card Stacked -->
                        <div class="card-stacked">

                            <!-- Card Body -->
                            <div class="card-body py-sm-0 px-0 px-sm-6 px-md-8">

                                <!-- Badges -->
                                <span class="badge badge-secondary text-uppercase mb-2">{{ event.type }}</span>
                                <!-- /badges -->

                                <!-- Card Title-->
                                <h3 class="card-title font-weight-normal text-truncate mb-3">{{ event.label }}</h3>
                                <!-- Card Title-->

                                <!-- Content Area -->
                                <p class="card-text text-truncate">
                                    {{ event.description }}
                                </p>
                                <!-- /content area -->

                            </div>
                            <!-- /card body -->

                            <!-- Card Footer -->
                            <div class="card-footer d-flex flex-column justify-content-between p-0 text-sm-right">
                                <!-- Pricing -->
                                <a href="javascript:void(0)" class="display-5 font-weight-500 mb-6">
                                    <i class="icon icon-calendar icon-fw mr-2"></i><span
                                            class="align-middle">{{ event.startdate|date("Y/m/d H:i") }}</span> </a>
                                <!-- /pricing -->

                                <!-- Card Button -->
                                <a class="card-link font-weight-500" href="javascript:void(0)">
                                    <span>{{ 'profil.moreDetails'|trans }}</span> <i
                                            class="icon icon-arrow-long-right icon-lg ml-1"></i>
                                </a>
                                <!-- /card button -->
                            </div>
                            <!-- /card footer -->
                        </div>

                        <!-- /card stacked -->
                    </div>
                    <!-- /card -->
                {% endfor %}
            </div>
            <!-- /card body -->
        </div>
        <!-- /card -->
    {% endif %}
    {% if kid.getEnfantStructures|length != 0 %}
        <div class="dt-page__header">
            <h1 class="dt-page__title">🏯 {{ 'kidProfil.structures'|trans }}</h1>
        </div>
        <div class="row">
            <div class="col order-xl-1">

                <!-- Card -->
                <div class="dt-card dt-card__full-height pb-4">

                    <!-- Card Header -->
                    <div class="dt-card__header mb-3">

                        <!-- Card Heading -->
                        <div class="dt-card__heading">
                            <h3 class="dt-card__title"> {{ 'kidProfil.structures'|trans }}</h3>
                        </div>
                        <!-- /card heading -->

                    </div>
                    <!-- /card header -->

                    <!-- Card Body -->
                    <div class="dt-card__body p-0 max-h-400 ps-custom-scrollbar ps ps--active-y">
                        <!-- Widget -->
                        <div class="dt-widget dt-widget-hover">
                            {% for structure in kid.getEnfantStructures %}
                                {% set structure = structure.structure %}
                                <!-- Widget Item -->
                                <div class="dt-widget__item">

                                    <!-- Widget Image -->
                                    <div class="dt-widget__img">
                                        <!-- Avatar -->
                                        <img class="dt-avatar size-35" src="https://via.placeholder.com/50x50"
                                             alt="User">
                                        <!-- /avatar -->
                                    </div>
                                    <!-- /widget image -->

                                    <!-- Widget Info -->
                                    <div class="dt-widget__info text-truncate">
                                        <a href="javascript:void(0)"
                                           class="dt-widget__title text-truncate">{{ structure.label }}.</a>
                                        <p class="dt-widget__subtitle text-truncate text-light-gray">
                                            <a class="text-dark" href="javascript:void(0)">{{ structure.address }}</a>
                                            {{ structure.city }} {{ structure.postalcode }}
                                        </p>
                                    </div>
                                    <!-- /widget info -->

                                    <!-- Widget Extra -->
                                    <div class="dt-extra animate-slide align-self-center">
                                        <span class="badge badge-danger badge-circle-animate badge-pill badge-sm align-text-top">{{ 'profil.moreDetails'|trans }}</span>
                                        <div class="slide-content">
                                            <a href="javascript:void(0)"><i
                                                        class="icon icon-arrow-right icon-fw icon-xl"></i></a>
                                        </div>
                                    </div>
                                    <!-- /widget extra -->

                                </div>
                                <!-- /widgets item -->
                            {% endfor %}
                        </div>
                        <!-- /widget -->
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__rail-y" style="top: 0px; height: 400px; right: 0px;">
                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 286px;"></div>
                        </div>
                    </div>
                    <!-- /card body -->

                </div>
                <!-- /card -->

            </div>
        </div>
    {% endif %}
{% endblock %}
