{% extends "default/base.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-xl-3 col-md-4 col-sm-5">
            <!-- User Information -->
            <div class="card user-bg-card"
                 style="background-image: url('https://source.unsplash.com/1600x900/?town');">
                <div class="user-bg-card__info p-5">

                    <span class="d-inline-block f-12">{{ structure.getLabel }}</span>
                </div>
            </div>
            <!-- /user information -->

        </div>

        <div class="col-xl-6 col-md-4 col-sm-5">

            <!-- Card Header -->
            <div class="card-header card-nav bg-transparent border-bottom d-sm-flex justify-content-sm-between">
                <h3 class="mb-2 mb-sm-n5">{{ 'information'|trans }}</h3>

            </div>
            <!-- /card header -->

            <!-- Card Body -->
            <div class="card-body pb-2">

                <!-- Tab Content-->
                <div class="tab-content mt-5">

                    <!-- Tab panel -->
                    <div id="tab-pane1" class="tab-pane active">

                        <!-- List -->
                        <ul class="dt-list dt-list-col-4">
                            <!-- List Item -->
                            <li class="dt-list__item">
                                <!-- Media -->
                                <div class="media">

                                    <i class="icon icon-company icon-4x mr-5 align-self-center text-yellow"></i>

                                    <!-- Media Body -->
                                    <div class="media-body">
                                        <span class="d-block text-light-gray f-12 mb-1">{{ 'address'|trans }}</span>
                                        <p class="h5 mb-0">{{ structure.getAddress }}</p>
                                    </div>
                                    <!-- /media body -->

                                </div>
                                <!-- /media -->
                            </li>
                            <!-- /list item -->

                            <!-- List Item -->
                            <li class="dt-list__item">
                                <!-- Media -->
                                <div class="media">

                                    <i class="icon icon-home icon-4x mr-5 align-self-center text-yellow"></i>

                                    <!-- Media Body -->
                                    <div class="media-body">
                                        <span class="d-block text-light-gray f-12 mb-1">{{ 'city'|trans }}</span>
                                        <p class="h5 mb-0">{{ structure.getPostalcode }}, {{ structure.getCity }}</p>
                                    </div>
                                    <!-- /media body -->

                                </div>
                                <!-- /media -->
                            </li>
                            <!-- /list item -->

                            <!-- List Item -->
                            <li class="dt-list__item">
                                <!-- Media -->
                                <div class="media">

                                    <i class="icon icon-home icon-4x mr-5 align-self-center text-yellow"></i>

                                    <!-- Media Body -->
                                    <div class="media-body">
                                        <span class="d-block text-light-gray f-12 mb-1">{{ 'country'|trans }}</span>
                                        <p class="h5 mb-0">{{ structure.getCountry }}</p>
                                    </div>
                                    <!-- /media body -->

                                </div>
                                <!-- /media -->
                            </li>
                            <!-- /list item -->

                        </ul>
                        <!-- /list -->

                        <p></p>

                        <ul class="dt-list dt-list-col-4">

                            <!-- List Item -->
                            <li class="dt-list__item">
                                <!-- Media -->
                                <div class="media">

                                    <i class="icon icon-graduation icon-4x mr-5 align-self-center text-yellow"></i>

                                    <!-- Media Body -->
                                    <div class="media-body">
                                        <span class="d-block text-light-gray f-12 mb-1">{{ 'staff'|trans }}</span>
                                        <p class="h5 mb-0">1 Directeur</p>
                                        <p class="h5 mb-0">{{ getStructureCountAnimator }} Animateurs</p>
                                    </div>
                                    <!-- /media body -->

                                </div>
                                <!-- /media -->
                            </li>

                            <!-- List Item -->
                            <li class="dt-list__item">
                                <!-- Media -->
                                <div class="media">

                                    <i class="icon icon-family icon-4x mr-5 align-self-center text-yellow"></i>

                                    <!-- Media Body -->
                                    <div class="media-body">
                                        <span class="d-block text-light-gray f-12 mb-1">{{ 'kid'|trans }}</span>
                                        <p class="h5 mb-0">{{ getStructureCountKids }} Enfants</p>
                                    </div>
                                    <!-- /media body -->

                                </div>
                                <!-- /media -->
                            </li>
                            <!-- /list item -->

                        </ul>

                    </div>
                    <!-- /tab panel -->
                </div>
                <!-- /tab content-->
            </div>
            <!-- /card body -->
        </div>

        <!-- Grid Item -->
        <div class="col-xl-3 col-md-6 col-12 order-xl-1">

            <!-- Card -->
            <div class="dt-card dt-card__full-height">

                <!-- Card Header -->
                <div class="dt-card__header pt-6">

                    <!-- Card Heading -->
                    <div class="dt-card__heading">
                        <h3 class="dt-card__title">Contact</h3>
                    </div>
                    <!-- /card heading -->

                </div>
                <!-- /card header -->

                <!-- Card Body -->
                <div class="dt-card__body">
                    <!-- Media -->
                    <div class="media mb-5">

                        <i class="icon icon-mail icon-xl mr-5"></i>

                        <!-- Media Body -->
                        <div class="media-body">
                            <span class="d-block text-light-gray f-12 mb-1">{{ 'Email'|trans }}</span>
                            <a href="javascript:void(0)">{{ structure.getEmail }}</a>
                        </div>
                        <!-- /media body -->

                    </div>
                    <!-- /media -->

                    <!-- Media -->
                    <div class="media mb-5">

                        <i class="icon icon-link icon-xl mr-5"></i>

                        <!-- Media Body -->
                        <div class="media-body">
                            <span class="d-block text-light-gray f-12 mb-1">Web Page</span>
                            <a href="javascript:void(0)">example.com</a>
                        </div>
                        <!-- /media body -->

                    </div>
                    <!-- /media -->

                    <!-- Media -->
                    <div class="media">

                        <i class="icon icon-phone-o icon-xl mr-5"></i>

                        <!-- Media Body -->
                        <div class="media-body">
                            <span class="d-block text-light-gray f-12 mb-1">{{ 'phone'|trans }}</span>
                            <span class="h5">{{ structure.getTel }}</span>
                        </div>
                        <!-- /media body -->

                    </div>
                    <!-- /media -->
                </div>
                <!-- /card body -->

            </div>
            <!-- /card -->

        </div>
        <!-- /grid item -->

    </div>

    <div class="row">

        <div class="col-md-3">

            <!-- Card -->
            <div class="dt-card">

                <!-- Card Header -->
                <div class="dt-card__header">

                    <!-- Card Heading -->
                    <div class="dt-card__heading">
                        <h3 class="dt-card__title">{{ 'structureMembers'|trans }}</h3>
                    </div>
                    <!-- /card heading -->

                </div>
                <!-- /card header -->

                <!-- Card Body -->
                <div class="dt-card__body">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class="">

                            </div>
                        </div>
                    </div>


                </div>
                <canvas id="chart-all-member-structure" width="736" height="367" class="chartjs-render-monitor" style="display: block; height: 294px; width: 589px;"></canvas>

                <!-- /card body -->

            </div>
            <!-- /card -->

        </div>

        <div class="col-6">
            <div class="w-100 mb-6">
                <!-- List -->
                <ul class="dt-list dt-list-xxl dt-list-bordered flex-nowrap">
                    <!-- List Item -->
                    <li class="dt-list__item text-center col">
                        <div class="dt-avatar-wrapper flex-column">
                            <!-- Image -->
                            <img src="https://eu.ui-avatars.com/api/?size=128&name={{ structure.getDirector.firstname }}+{{ structure.getDirector.lastname }}" alt="Noah Owens"
                                 class="dt-avatar mb-4 size-80">
                            <!-- /image -->
                            <!-- Content -->
                            <div class="dt-avatar-info">
                                <span class="dt-avatar-name mb-1 text-nowrap">{{ structure.getDirector.firstname }} {{ structure.getDirector.lastname }}</span>
                            </div>
                            <!-- /content -->
                        </div>
                    </li>
                    <!-- /list item -->
                </ul>
                <!-- /list -->
            </div>
            <div class="w-100 ps-custom-scrollbar mb-6">
                <!-- List -->
                <ul class="dt-list dt-list-xxl dt-list-bordered flex-nowrap">
                    {% for anim in animators%}
                        <!-- List Item -->
                        <li class="dt-list__item text-center col">
                            <div class="dt-avatar-wrapper flex-column">
                                <!-- Image -->
                                <img src="https://eu.ui-avatars.com/api/?size=128&name={{ anim.firstname }}+{{ anim.lastname }}" alt="Noah Owens"
                                     class="dt-avatar mb-4 size-80">
                                <!-- /image -->
                                <!-- Content -->
                                <div class="dt-avatar-info">
                                    <span class="dt-avatar-name mb-1 text-nowrap">{{ anim.firstname }} {{ anim.lastname }}</span>

                                </div>
                                <!-- /content -->
                            </div>
                        </li>
                        <!-- /list item -->
                    {% endfor %}
                </ul>
                <!-- /list -->
            </div>
        </div>

        <!-- Grid Item -->
        <div class="col-md-3 col-6">

            <!-- Card -->
            <div class="dt-card">

                <!-- Card Body -->
                <div class="dt-card__body p-xl-8 py-sm-8 py-6 px-4">

                    <span class="badge badge-secondary badge-top-right">{{ 'budget'|trans }}</span>

                    <!-- Media -->
                    <div class="media">

                        <i class="icon icon-revenue-new icon-5x mr-xl-5 mr-3 align-self-center"></i>

                        <!-- Media Body -->
                        <div class="media-body">

                            <p class="mb-1 h1">{{ structure.getBudget }} €</p>


                            <span class="d-block text-light-gray">{{ 'budget'|trans }}</span>
                        </div>
                        <!-- /media body -->

                    </div>
                    <!-- /media -->

                </div>
                <!-- /card body -->

            </div>
            <!-- /card -->
        </div>
    </div>




{% endblock body %}
