// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//Fx Header

.#{$class-prefix}-header {
  position: relative;
  z-index: 99;
  height: $header-height;
  background-color: $header-bg;
  @include box-shadow($header-shadow);
  @include transition(all 0.2s ease);

  @include media-breakpoint-down(xs) {
    height: 55px;
  }

  &--fixed & {
    position: fixed;
    z-index: 1001;
    width: 100%;

    & + .#{$class-prefix}-main {
      @include transition(all 0.2s ease);
      margin-top: $header-height;

      @include media-breakpoint-down(xs) {
        margin-top: 55px;
      }
    }
  }

  &__container {
    display: flex;
    height: 100%;
  }

  &__toolbar {
    display: flex;
    padding-right: 3.2rem;
    padding-left: 3.2rem;
    width: calc(100% - #{$sidebar-width});

    @media screen and (min-width: 1367px) {
      width: calc(100% - #{$sidebar-width + 50px});
    }

    & .search-box {
      margin-right: 1rem;
      align-self: center;
    }

    .theme-semidark & .search-box .btn-primary {
      background-color: $secondary;
      border-color: $secondary;
    }

    @include media-breakpoint-down(md) {
      width: auto;
      padding-left: 0;
    }

    @include media-breakpoint-down(xs) {
      padding-right: 1.9rem;
    }

    @include media-breakpoint-down(sm) {
      & .dropdown-toggle::after {
        display: none;
      }
    }

    & .#{$class-prefix}-nav__link > i {
      font-size: 1.8rem;

      &.icon-sm {
        font-size: 1.4rem;
      }

      &.icon-lg {
        font-size: 1.6rem;
      }

      @include media-breakpoint-down(xs) {
        font-size: 2.3rem;

        &.icon-sm {
          font-size: 1.8rem;
        }

        &.icon-lg {
          font-size: 2rem;
        }
      }
    }
  }
}

//Fx Brand

.#{$class-prefix}-brand {
  width: $sidebar-width;
  background-color: $dt-brand-bg;
  padding: 0 2rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;

  @media screen and (min-width: 1367px) {
    width: calc(#{$sidebar-width} + 50px);
  }

  @include media-breakpoint-down(md) {
    width: auto;
    padding-right: 1rem;
    & + .#{$class-prefix}-header__toolbar {
      margin-left: auto !important;
    }
  }

  &__logo {
    display: inline-block;
    margin-left: 2.4rem;

    @include media-breakpoint-down(md) {
      margin-left: 1rem;
    }

    &-link,
    &-symbol,
    &-img {
      display: inline-block;
    }

    &-img {
      width: 85px;
    }

    &-symbol {
      width: 24px;
    }
  }

  .#{$class-prefix}-sidebar--fixed & {
    position: fixed;
    z-index: 99;
    height: $header-height;
    @include transition(all 0.2s ease);

    @include media-breakpoint-down(sm) {
      position: static;
      height: auto;
    }

    & + .#{$class-prefix}-header__toolbar {
      @include transition(all 0.2s ease);
      margin-left: $sidebar-width;

      @media screen and (min-width: 1367px) {
        margin-left: calc(#{$sidebar-width + 50px});
      }
    }
  }
}

//Fx Navigation
.#{$class-prefix}-nav-wrapper {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.#{$class-prefix}-nav {
  @extend %list-style-none;
  margin: 0 -8px;
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
  }

  &__link {
    color: $header-color;
    display: inline-block;

    @include hover-focus-active {
      color: $header-color-hover;
      text-decoration: none;
    }

    & .icon + span,
    & i + span {
      margin-left: 8px;
      display: inline-block;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  @at-root {
    .#{$class-prefix}-header__toolbar {
      & .#{$class-prefix}-nav:not(:last-child) {
        margin-right: 5.5rem;

        @media screen and (max-width: 1300px) {
          margin-right: 3rem;
        }

        @include media-breakpoint-down(lg) {
          margin-right: 0.5rem;
        }
      }

      & .#{$class-prefix}-nav__link {
        display: flex;
        align-items: center;
      }
    }
  }
}

//Hamburger Icon

.#{$class-prefix}-brand__tool {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  cursor: pointer;
  min-height: 20px;
  min-width: 20px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 16px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 2px;
  background-color: $dt-brand-color;
}

.hamburger-inner {
  top: 50%;
  left: 0;
  @include translateY(-50%);
  &:after,
  &:before {
    display: block;
    content: ""
  }

  &:before {
    top: -5px
  }

  &:after {
    bottom: -5px
  }

  .#{$class-prefix}-brand__tool & {
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);
    transition-duration: .22s
  }

  .#{$class-prefix}-brand__tool &:before {
    transition: top .1s ease-in .25s, opacity .1s ease-in
  }

  .#{$class-prefix}-brand__tool &:after {
    transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19)
  }

  .#{$class-prefix}-brand__tool.active & {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: rotate(225deg)
  }

  .#{$class-prefix}-brand__tool.active &:before {
    top: 0;
    transition: top .1s ease-out, opacity .1s ease-out .12s;
    opacity: 0
  }

  .#{$class-prefix}-brand__tool.active &:after {
    bottom: 0;
    transition: bottom .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
    transform: rotate(-90deg)
  }
}

//Notification Drop down Menu Styles
.#{$class-prefix}-notification {
  &-app .dropdown-menu {
    padding: 0;
    width: 300px;
    height: 250px;
    overflow-y: auto;
  }

  &-search .dropdown-menu {
    padding: 0;
    width: 250px;
    height: auto;

    @include media-breakpoint-down(xs) {
      width: 200px;
    }
  }

  .#{$class-prefix}-header__toolbar & .dropdown-menu {
    width: 380px;
    &-body {
      height: 208px;
      overflow-y: auto;
    }

    @include media-breakpoint-down(xs) {
      width: 280px;
    }
  }

  .theme-dark .#{$class-prefix}-header__toolbar & .dropdown-menu {
    background-color: darken($dt-card-bg, 2%);
  }

  .theme-dark .#{$class-prefix}-module__container & .dropdown-menu {
    background-color: darken($dt-card-bg, 2%);
  }

  .#{$class-prefix}-module__container & .dropdown-menu {
    width: 300px;
    &-body {
      height: 180px;
      overflow-y: auto;
    }

    @include media-breakpoint-down(xs) {
      width: 280px;
    }
  }

  & .media {
    position: relative;
    margin-bottom: 14px;
    &:not(:last-child) {
      padding-bottom: 14px;

      &:after {
        @include transition(all 0.5s ease);
        content: '';
        height: 1px;
        background-color: $border-color;
        width: calc(100% - 48px);
        position: absolute;
        left: auto;
        right: 0;
        bottom: 0;
      }
    }

    @include hover-focus {
      &:after {
        width: 100%;
      }
    }
  }

  & .media-body {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  & .user-name {
    font-size: 13px;
    color: $headings-color;
    font-weight: 500;

    & + .message {
      font-size: 12px;
    }
  }

  & .meta-date {
    display: block;
    font-size: 12px;
    color: lighten($text-color, 10%);
  }

  & .message {
    font-size: 13px;
    margin-bottom: 3px;
    color: $headings-color;

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(xs) {
      font-size: 12px;
    }
  }
}

.#{$class-prefix}-app-list {
  @include list-unstyled;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

  &__item {
    flex: 0 0 33.3333333333%;
    -ms-flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    text-align: center;
  }

  &__link,
  &__text {
    display: block;
  }

  &__link {
    @include transition(all 0.3s ease);
    padding: 10px;
    @include border-radius($border-radius);
    border: 1px solid transparent;
    color: $text-color-dark;

    @include hover-focus {
      border-color: $gray-200;
    }
    & > img {
      display: inline-block;
    }
  }

  &__text:last-child {
    margin-top: 10px;
  }
}